<div class="titleDiv">
  <h4>
    <mat-icon aria-hidden="false" svgIcon="menu_rol"></mat-icon> {{ "roleEntity.role" | translate
    }}-{{(roleID==-1?"new":"edit") | translate}}
  </h4>
  <span class="divider"></span>
</div>

<div class="formDiv">
  <div class="formHeader">
    <h5> {{'roleEntity.generalData' | translate}} </h5>
    <button mat-flat-button (click)="onSaveButtonClicked()" class="saveButton">
      <mat-icon fontSet="material-icons-round"> save </mat-icon>
      {{ "save" | translate }}
    </button>
    <button (click)="utils.navigateBack()"  mat-flat-button class="returnButton"  >
      <mat-icon fontSet="material-icons-round"> arrow_back </mat-icon>
      {{ "return" | translate }}
    </button>
  </div>
  <span class="divider"></span>
  <form [formGroup]='formRole' #f="ngForm">

    <div class="rowFormDiv">
      <div class="colFormDiv">
        <label class="formLabel ">
          {{'roleEntity.name' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="name" required>
        </mat-form-field>
      </div>

      <div class="colFormDiv">
        <label class="formLabel">
          {{'roleEntity.note' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <textarea matInput type="text" formControlName="description"> </textarea>
        </mat-form-field>
      </div>

    </div>


  </form>

</div>

<div class="tableDiv" *ngIf="dataLoaded">
  <mat-accordion  multi>

    <!-- Users table  -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title>
          {{ "userEntity.permissions" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="appDataGridEditDiv">
            <app-data-grid [changeHeightButton]="true" [columnDefs]="columnDefsUsers" [themeGrid]='themeGrid' [getAll]='getAllUsers'  
            [eventRefreshSubscription]='dataUpdatedEvent.asObservable()' [addFieldRestriction]="['territoryId', 'roleId', 'userId']"
            [eventAddItemsSubscription]='addElementsEventUsers.asObservable()'[eventGetAllRowsSubscription]='getAllElementsEventUsers.asObservable()' 
            [eventRefreshSubscription]='dataUpdatedEventUsers.asObservable()'[discardChangesButton]=true [redoButton]=true [undoButton]=true  
            [deleteButton]=true [addButton]=true [hideDuplicateButton]=true [actionButton]=true (add)="openUsersDialog($event)"
            (getAllRows)="getAllRowsUsers($event)"    > </app-data-grid>
        </div>

      </ng-template>
    </mat-expansion-panel>

    <!-- Cartography Groups table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title>
          {{ "roleEntity.permissiongroupLayersConfiguration" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="appDataGridEditDiv">
          <app-data-grid [changeHeightButton]="true" [allNewElements]="roleID == -1" defaultColumnSorting="name" [columnDefs]="columnDefsCartography" [themeGrid]='themeGrid' [getAll]='getAllCartographiesGroups'
          [eventAddItemsSubscription]='addElementsEventCartographies.asObservable()'[eventGetAllRowsSubscription]='getAllElementsEventCartographies.asObservable()' 
           [discardChangesButton]=true [redoButton]=true [undoButton]=true [deleteButton]=true [addButton]=true
           [eventRefreshSubscription]='dataUpdatedEventCartographies.asObservable()' [hideDuplicateButton]=true [actionButton]=true (add)="openCartographyDialog($event)"
            (getAllRows)="getAllRowsCartographiesGroups($event)"> </app-data-grid>
        </div>

      </ng-template>
    </mat-expansion-panel>

    <!-- Tasks table -->
    <mat-expansion-panel [expanded]="true"  class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title>
          {{ "roleEntity.tasks" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="appDataGridEditDiv">
          <app-data-grid [changeHeightButton]="true" [allNewElements]="roleID == -1" [columnDefs]="columnDefsTasks" defaultColumnSorting="groupName" [themeGrid]='themeGrid' [getAll]='getAllTasks'
          [eventAddItemsSubscription]='addElementsEventTasks.asObservable()'[eventGetAllRowsSubscription]='getAllElementsEventTasks.asObservable()' 
           [discardChangesButton]=true [redoButton]=true [undoButton]=true [deleteButton]=true [addButton]=true
           [eventRefreshSubscription]='dataUpdatedEventTasks.asObservable()' [hideDuplicateButton]=true [actionButton]=true (add)="openTasksDialog($event)"
            (getAllRows)="getAllRowsTasks($event)" > </app-data-grid>
        </div>

      </ng-template>
    </mat-expansion-panel>


    <!-- Aplication table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title>
          {{ "roleEntity.applications" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      
      <ng-template matExpansionPanelContent>
        <div class="appDataGridEditDiv">
          <app-data-grid [changeHeightButton]="true" [allNewElements]="roleID == -1" defaultColumnSorting="name" [columnDefs]="columnDefsApplications" [themeGrid]='themeGrid' [getAll]='getAllApplications'
          [eventAddItemsSubscription]='addElementsEventApplications.asObservable()'[eventGetAllRowsSubscription]='getAllElementsEventApplications.asObservable()' 
           [discardChangesButton]=true [redoButton]=true [undoButton]=true [deleteButton]=true [addButton]=true
           [eventRefreshSubscription]='dataUpdatedEventApplications.asObservable()' [hideDuplicateButton]=true [actionButton]=true (add)="openApplicationsDialog($event)"
            (getAllRows)="getAllRowsApplications($event)" > </app-data-grid>
        </div>

      </ng-template>
    </mat-expansion-panel>

  </mat-accordion>
</div>