<app-form-toolbar
  entityType="{{ config.labelSingular }}"
  font="{{ config.font }}"
  icon="{{ config.icon }}"
  [itemName]="itemName('name')"
  [isNew]="isNewOrDuplicated()"
  [canSave]="canSaveEntity"
  [form]="entityForm"
  validationEntityType="role"
  [dataLoaded]="dataLoaded"
  (save)="onSaveButtonClicked()"
  (back)="utils.navigateBack()">
</app-form-toolbar>

<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="end"
  [dynamicHeight]="true"
  preserveContent="true"
>
  <mat-tab label="{{ 'common.form.details' | translate }}">
    <form [formGroup]="entityForm" *ngIf="dataLoaded">
      <mat-card class="sitmun-mat-card-margin" appearance="outlined">
        <mat-card-content>
          <mat-form-field appearance="outline" class="full">
            <mat-label>{{ 'common.form.name' | translate }}</mat-label>
            <input matInput type="text" formControlName="name" [maxlength]="50" required>
            <mat-hint align="end" [class.text-warning]="entityForm.get('name')?.value?.length > 50">
              {{entityForm.get('name') | characterCount}}
              <mat-icon *ngIf="entityForm.get('name')?.value?.length > 50" fontIcon="warning" class="warning-icon"></mat-icon>
            </mat-hint>
            <mat-error *ngIf="entityForm.get('name')?.hasError('required') && entityForm.get('name')?.touched">
              {{ 'common.error.required' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full">
            <mat-label>{{ 'common.form.description' | translate }}</mat-label>
            <textarea matInput type="text" formControlName="description" [maxlength]="4000"></textarea>
            <mat-hint align="end">{{entityForm.get('description') | characterCount}}</mat-hint>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-tab>
  <mat-tab label="{{ 'entity.role.users.header' | translate }}">
    <mat-card class="sitmun-mat-card-margin" appearance="outlined">
      <mat-card-content>
        <app-data-grid #userConfigurationsDataGrid
                      [changeHeightButton]="true"
                      [allNewElements]="isNewOrDuplicated()"
                      [columnDefs]="userConfigurationsTable.relationsColumnsDefs"
                      [getAll]='userConfigurationsTable.relationsFetchFn'
                      [eventAddItemsSubscription]='userConfigurationsTable.addCommandEvent$.asObservable()'
                      [eventGetAllRowsSubscription]='userConfigurationsTable.saveCommandEvent$.asObservable()'
                      [eventRefreshSubscription]='userConfigurationsTable.refreshCommandEvent$.asObservable()'
                      [actionButton]=true
                      [discardChangesButton]=true
                      [redoButton]=true
                      [undoButton]=true
                      [deleteButton]=true
                      [addButton]=true
                      [defaultColumnSorting]='userConfigurationsTable.defaultRelationsSorting()'
                      [hideDuplicateButton]=true
                      [hideReplaceButton]=true
                      (getAllRows)="userConfigurationsTable.handleSaveRelations($event)"
                      (add)="userConfigurationsTable.openDialog($event)"
                      *ngIf="dataLoaded"
        ></app-data-grid>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="{{ 'entity.role.tasks.header' | translate }}">
    <mat-card class="sitmun-mat-card-margin" appearance="outlined">
      <mat-card-content>
        <app-data-grid #tasksDataGrid
                      [changeHeightButton]="true"
                      [allNewElements]="isNewOrDuplicated()"
                      [columnDefs]="tasksTable.relationsColumnsDefs"
                      [getAll]='tasksTable.relationsFetchFn'
                      [eventAddItemsSubscription]='tasksTable.addCommandEvent$.asObservable()'
                      [eventGetAllRowsSubscription]='tasksTable.saveCommandEvent$.asObservable()'
                      [eventRefreshSubscription]='tasksTable.refreshCommandEvent$.asObservable()'
                      [actionButton]=true
                      [discardChangesButton]=true
                      [redoButton]=true
                      [undoButton]=true
                      [deleteButton]=true
                      [addButton]=true
                      [defaultColumnSorting]='tasksTable.defaultRelationsSorting()'
                      [hideDuplicateButton]=true
                      [hideReplaceButton]=true
                      (getAllRows)="tasksTable.handleSaveRelations($event)"
                      (add)="tasksTable.openDialog($event)"
                      *ngIf="dataLoaded"
        ></app-data-grid>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="{{ 'entity.role.applications.header' | translate }}">
    <mat-card class="sitmun-mat-card-margin" appearance="outlined">
      <mat-card-content>
        <app-data-grid #applicationsDataGrid
                      [changeHeightButton]="true"
                      [allNewElements]="isNewOrDuplicated()"
                      [columnDefs]="applicationsTable.relationsColumnsDefs"
                      [getAll]='applicationsTable.relationsFetchFn'
                      [eventAddItemsSubscription]='applicationsTable.addCommandEvent$.asObservable()'
                      [eventGetAllRowsSubscription]='applicationsTable.saveCommandEvent$.asObservable()'
                      [eventRefreshSubscription]='applicationsTable.refreshCommandEvent$.asObservable()'
                      [actionButton]=true
                      [discardChangesButton]=true
                      [redoButton]=true
                      [undoButton]=true
                      [deleteButton]=true
                      [addButton]=true
                      [defaultColumnSorting]='applicationsTable.defaultRelationsSorting()'
                      [hideDuplicateButton]=true
                      [hideReplaceButton]=true
                      (getAllRows)="applicationsTable.handleSaveRelations($event)"
                      (add)="applicationsTable.openDialog($event)"
                      *ngIf="dataLoaded"
        ></app-data-grid>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
