<mat-toolbar>
  <h4>
    <span class="spacer">
      <mat-icon aria-hidden="true" fontSet="{{ font }}">{{ icon }}</mat-icon>
      {{ isNew ? (entityType | translate) + ' (' + ('common.button.new' | translate) + ')' : itemName }}
      <ng-container *ngIf="additionalText"> - {{ additionalText }}</ng-container>
    </span>
  </h4>
  <span class="spacer"></span>
  <ng-content></ng-content>
  <button
    data-testid="form-save"
    [attr.aria-label]="'common.button.save' | translate"
    [matTooltip]="'common.button.save' | translate"
    mat-mini-fab
    class="add-half-gap"
    [disabled]="!dataLoaded || !canSave"
    (click)="save.emit()"
    color="primary">
    <mat-icon fontSet="material-icons-round">save</mat-icon>
  </button>
  <button
    data-testid="form-back"
    [attr.aria-label]="'common.button.return' | translate"
    [matTooltip]="'common.button.return' | translate"
    mat-mini-fab
    class="add-half-gap"
    (click)="back.emit()"
    color="primary">
    <mat-icon fontSet="material-icons-round">arrow_back</mat-icon>
  </button>
</mat-toolbar>
