<div class="titleDiv">
    <h4><mat-icon aria-hidden="false"  svgIcon="menu_tasques"></mat-icon> {{ "tasksDocumentEntity.tasksDocument" | translate }}</h4>
    <span class="divider"></span>
</div>
<div class="appDataGridDiv">
    <app-data-grid id="taskDocument" defaultColumnSorting="name" [columnDefs]="columnDefs" [themeGrid]='themeGrid' [getAll]='getAllTasksDocument' [globalSearch]=true 
    [discardChangesButton]=true [redoButton]=true [undoButton]=true [applyChangesButton]=true  [deleteButton]=true [newButton]=true [eventSaveAgGridStateSubscription]='saveAgGridStateEvent.asObservable()'
    [actionButton]=true (remove)="removeData($event)" (new)='newData($event)' (sendChanges)='applyChanges($event)'  (gridModified)='setGridModifiedValue($event)'> </app-data-grid>
</div>

