
<div class="titleDiv">
    <h4><mat-icon aria-hidden="false"  svgIcon="menu_servei"></mat-icon> {{ "serviceEntity.service" | translate }}</h4>
    <span class="divider"></span>
</div>
<div class="appDataGridDiv">
    <app-data-grid id="sevice" defaultHeight="default" [columnDefs]="columnDefs" [themeGrid]='themeGrid' [getAll]='getAllConnections' [globalSearch]=true [eventSaveAgGridStateSubscription]='saveAgGridStateEvent.asObservable()'
    [eventRefreshSubscription]='dataUpdatedEvent.asObservable()' [discardChangesButton]=true [redoButton]=true [undoButton]=true [applyChangesButton]=true  [deleteButton]=true [newButton]=true 
    [actionButton]=true (remove)="removeData($event)" defaultColumnSorting="name" (new)='newData($event)' (sendChanges)='applyChanges($event)' (duplicate)='add($event)' (gridModified)='setGridModifiedValue($event)'> </app-data-grid>
</div>
