<mat-toolbar class="spacer">
  <span class="spacer"></span>
  <h4>
    <mat-icon aria-hidden="true" svgIcon="menu_servei"></mat-icon>
    <span> {{ "serviceEntity.service" | translate }}</span>
  </h4>
</mat-toolbar>

<app-data-grid id="service"
               [columnDefs]="columnDefs"
               [getAll]='getAllConnections'
               [globalSearch]=true
               [eventSaveAgGridStateSubscription]='saveAgGridStateEvent.asObservable()'
               [eventRefreshSubscription]='dataUpdatedEvent.asObservable()'
               [discardChangesButton]=true
               [redoButton]=true
               [undoButton]=true
               [applyChangesButton]=true
               [deleteButton]=true
               [newButton]=true
               [actionButton]=true
               [defaultColumnSorting]="['name']"
               (remove)="removeData($event)"
               (new)='newData($event)'
               (sendChanges)='applyChanges($event)'
               (duplicate)='add($event)'
               (gridModified)='setGridModifiedValue($event)'
></app-data-grid>
