
<div class="titleDiv">
    <h4><mat-icon aria-hidden="false"  svgIcon="menu_servei"></mat-icon> {{ "serviceEntity.service" | translate }}</h4>
    <span class="divider"></span>
</div>
<div class="appDataGridDiv">
    <app-data-grid  class="ag-theme-balham" [columnDefs]="columnDefs"  [getAll]='getAllConnections' [globalSearch]=true [frameworkComponents]="frameworkComponents"
    [discardChangesButton]=true [redoButton]=true [undoButton]=true [applyChangesButton]=true  [deleteButton]=true [newButton]=true 
    (remove)="removeData($event)" (new)='newData($event)' (sendChanges)='applyChanges($event)' > </app-data-grid>
</div>
