<app-form-toolbar
  entityType="{{ config.labelSingular }}"
  font="{{ config.font }}"
  icon="{{ config.icon }}"
  [itemName]="entityForm?.get('name')?.value"
  [isNew]="isNewOrDuplicated()"
  [additionalText]="taskTypeNameTranslated"
  [canSave]="canSaveEntity"
  [dataLoaded]="dataLoaded"
  (save)="onSaveButtonClicked()"
  (back)="utils.navigateBack()">
</app-form-toolbar>

<app-entity-form-alerts
  *ngIf="dataLoaded"
  [form]="entityForm"
  entityLabelPrefix="entity.task.locator"
  [fieldLabelKeys]="validationFieldLabels">
</app-entity-form-alerts>

<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="end"
  [dynamicHeight]="true"
  preserveContent="true">
  <mat-tab label="{{ 'common.form.details' | translate }}">
    <form [formGroup]='entityForm' *ngIf="dataLoaded">
      <mat-card class="sitmun-mat-card-margin" appearance="outlined">
        <mat-card-content>
          <mat-form-field appearance="outline" class="full">
            <mat-label>{{ 'entity.task.locator.name' | translate }}</mat-label>
            <input matInput type="text" formControlName="name" [maxlength]="512" required>
            <mat-hint align="end">{{ entityForm.get('name') | characterCount }}</mat-hint>
            <mat-icon matSuffix class="iconTranslate"
                      (click)="onTranslated('name')"
                      (keydown)="onTranslated('name')">translate</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half add-gap">
            <mat-label>{{ 'entity.taskGroup.label' | translate }}</mat-label>
            <mat-select formControlName="taskGroupId" class="form-control" required>
              <mat-select-trigger>
                <ng-container *ngIf="entityForm.get('taskGroupId')?.value as taskGroupId">
                  {{ getTaskGroupName(taskGroupId) }}
                </ng-container>
              </mat-select-trigger>
              <mat-option [value]="taskGroup.id" *ngFor="let taskGroup of taskGroupList">
                {{ taskGroup.name }}
              </mat-option>
            </mat-select>
            <a *ngIf="entityForm.get('taskGroupId')?.value as taskGroupId"
               mat-icon-button
               matSuffix
               class="related-entity-open-link"
               [routerLink]="['/taskGroup', taskGroupId, 'taskGroupForm']"
               target="_blank"
               rel="noopener"
               [matTooltip]="'common.relation.openNewTab' | translate"
               [attr.aria-label]="'common.relation.openNewTab' | translate">
              <mat-icon class="related-entity-link-icon">open_in_new</mat-icon>
            </a>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full">
            <mat-label>{{ 'entity.task.locator.queryTask' | translate }}</mat-label>
            <input
              matInput
              type="text"
              [formControl]="queryTaskSearchControl"
              [matAutocomplete]="queryTaskAuto"
              required
              [errorStateMatcher]="queryTaskErrorMatcher">
            <mat-error *ngIf="queryTaskSearchControl.hasError('required')">
              {{ 'common.error.required' | translate }}
            </mat-error>
            <mat-error *ngIf="queryTaskSearchControl.hasError('invalidQueryTask')">
              {{ 'entity.task.locator.queryTask.invalidSelection' | translate }}
            </mat-error>
            <a *ngIf="entityForm.get('queryTaskId')?.value as queryTaskId"
               mat-icon-button
               matSuffix
               class="related-entity-open-link"
               [routerLink]="['/tasks', queryTaskId, queryTaskTypeId]"
               target="_blank"
               rel="noopener"
               [matTooltip]="'common.relation.openNewTab' | translate"
               [attr.aria-label]="'common.relation.openNewTab' | translate">
              <mat-icon class="related-entity-link-icon">open_in_new</mat-icon>
            </a>
            <button
              *ngIf="queryTaskSearchControl.value"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearQueryTask()"
              type="button">
              <mat-icon>close</mat-icon>
            </button>
            <mat-autocomplete #queryTaskAuto="matAutocomplete" (optionSelected)="onQueryTaskSelected($event)" [displayWith]="displayQueryTask">
              <mat-option *ngFor="let queryTask of filteredQueryTasks | async" [value]="queryTask">
                {{ queryTask.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-card-content>
      </mat-card>

    </form>
  </mat-tab>
  <mat-tab label="{{ 'entity.task.locator.parameters.tab' | translate }}">
    <form [formGroup]='entityForm' *ngIf="dataLoaded">
      <mat-card class="sitmun-mat-card-margin" appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ 'entity.task.locator.parameters.response.header' | translate }}</mat-card-title>
          <mat-card-subtitle>{{ 'entity.task.locator.parameters.response.hint' | translate }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field appearance="outline" class="half add-gap" subscriptSizing="dynamic">
            <mat-label>{{ 'entity.task.locator.parameters.labelField' | translate }}</mat-label>
            <input matInput type="text" formControlName="geocoderLabelField"
                   [placeholder]="'entity.task.locator.parameters.labelField.placeholder' | translate">
            <mat-hint>{{ 'entity.task.locator.parameters.labelField.hint' | translate }}</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half" subscriptSizing="dynamic">
            <mat-label>{{ 'entity.task.locator.parameters.resultsPath' | translate }}</mat-label>
            <input matInput type="text" formControlName="geocoderResultsPath"
                   [placeholder]="'entity.task.locator.parameters.resultsPath.placeholder' | translate">
            <mat-hint>{{ 'entity.task.locator.parameters.resultsPath.hint' | translate }}</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half add-gap">
            <mat-label>{{ 'entity.task.locator.parameters.geometryField' | translate }}</mat-label>
            <input matInput type="text" formControlName="geocoderGeometryField"
                   [placeholder]="'entity.task.locator.parameters.geometryField.placeholder' | translate">
            <mat-hint>{{ 'entity.task.locator.parameters.geometryField.hint' | translate }}</mat-hint>
          </mat-form-field>

          <div class="half"></div>

          <mat-form-field appearance="outline" class="half add-gap" subscriptSizing="dynamic">
            <mat-label>{{ 'entity.task.locator.parameters.srs' | translate }}</mat-label>
            <input matInput type="text" formControlName="geocoderSrs"
                   [placeholder]="'entity.task.locator.parameters.srs.placeholder' | translate">
            <mat-hint>{{ 'entity.task.locator.parameters.srs.hint' | translate }}</mat-hint>
          </mat-form-field>

          <div class="half"></div>

          <mat-form-field appearance="outline" class="half add-gap">
            <mat-label>{{ 'entity.task.locator.parameters.latField' | translate }}</mat-label>
            <input matInput type="text" formControlName="geocoderLatField"
                   [placeholder]="'entity.task.locator.parameters.latField.placeholder' | translate">
            <mat-hint>{{ 'entity.task.locator.parameters.latField.hint' | translate }}</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half">
            <mat-label>{{ 'entity.task.locator.parameters.lonField' | translate }}</mat-label>
            <input matInput type="text" formControlName="geocoderLonField"
                   [placeholder]="'entity.task.locator.parameters.lonField.placeholder' | translate">
            <mat-hint>{{ 'entity.task.locator.parameters.lonField.hint' | translate }}</mat-hint>
          </mat-form-field>

        </mat-card-content>
      </mat-card>

      <mat-card class="sitmun-mat-card-margin" appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ 'entity.task.locator.parameters.behavior.header' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div class="full toggle-row">
            <mat-slide-toggle formControlName="geocoderFilterByExtent" color="primary">
              {{ 'entity.task.locator.parameters.filterByExtent' | translate }}
            </mat-slide-toggle>
            <p class="toggle-hint">{{ 'entity.task.locator.parameters.filterByExtent.hint' | translate }}</p>
          </div>

          <div class="full toggle-row">
            <mat-slide-toggle formControlName="geocoderEnableServiceParams" color="primary">
              {{ 'entity.task.locator.parameters.enableServiceParams' | translate }}
            </mat-slide-toggle>
            <p class="toggle-hint">{{ 'entity.task.locator.parameters.enableServiceParams.hint' | translate }}</p>
          </div>

          <div class="full municipality-filters-section" formArrayName="geocoderMunicipalityCodeFilters">
            <div *ngFor="let filterCtrl of municipalityCodeFiltersArray.controls; let i = index"
                 [formGroupName]="i" class="filter-row">
              <mat-form-field appearance="outline" class="filter-field" subscriptSizing="dynamic">
                <mat-label>{{ 'entity.task.locator.parameters.municipalityCodeFilters.requestParam' | translate }}</mat-label>
                <input matInput type="text" formControlName="requestParam"
                       [placeholder]="'entity.task.locator.parameters.municipalityCodeFilters.requestParam.placeholder' | translate">
              </mat-form-field>
              <mat-form-field appearance="outline" class="filter-field" subscriptSizing="dynamic">
                <mat-label>{{ 'entity.task.locator.parameters.municipalityCodeFilters.territoryField' | translate }}</mat-label>
                <mat-select formControlName="territoryField">
                  <mat-option *ngFor="let opt of territoryFieldOptions" [value]="opt.value">
                    {{ opt.labelKey | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-slide-toggle formControlName="convertProjection" class="filter-wgs84-toggle">
                {{ 'entity.task.locator.parameters.municipalityCodeFilters.convertProjection' | translate }}
              </mat-slide-toggle>
              <mat-form-field *ngIf="filterCtrl.get('convertProjection')?.value"
                              appearance="outline" class="filter-field-crs" subscriptSizing="dynamic">
                <mat-label>{{ 'entity.task.locator.parameters.municipalityCodeFilters.targetCrs' | translate }}</mat-label>
                <input matInput type="text" formControlName="targetCrs"
                       [placeholder]="'entity.task.locator.parameters.municipalityCodeFilters.targetCrs.placeholder' | translate">
              </mat-form-field>
              <button mat-icon-button color="warn" type="button"
                      (click)="removeMunicipalityCodeFilter(i)"
                      [attr.aria-label]="'common.remove' | translate">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <div class="add-filter-row">
              <button mat-stroked-button type="button" (click)="addMunicipalityCodeFilter()">
                <mat-icon>add</mat-icon>
                {{ 'entity.task.locator.parameters.municipalityCodeFilters.add' | translate }}
              </button>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </form>
  </mat-tab>
  <mat-tab label="{{ 'entity.task.roles.header' | translate }}">
    <mat-card class="sitmun-mat-card-margin" appearance="outlined">
      <mat-card-content>
        <app-relation-grid
          *ngIf="dataLoaded"
          [table]="rolesTable"
          [allNewElements]="isNewOrDuplicated()">
        </app-relation-grid>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="{{ 'entity.task.territories.header' | translate }}">
    <mat-card class="sitmun-mat-card-margin" appearance="outlined">
      <mat-card-content>
        <app-relation-grid
          *ngIf="dataLoaded"
          [table]="availabilitiesTable"
          [allNewElements]="isNewOrDuplicated()">
        </app-relation-grid>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>

