<div class="titleDiv">
  <h4>
    <mat-icon aria-hidden="false" svgIcon="menu_arbres"></mat-icon> {{ "sideMenu.trees" | translate
    }}-{{(treeID==-1?"new":"edit") | translate}}
  </h4>
  <span class="divider"></span>
</div>


<div class="formDiv">
  <form [formGroup]='treeForm' (ngSubmit)="onSaveButtonClicked()" #f="ngForm">
    <div class="formHeader">
      <h5> {{'treesEntity.generalData' | translate}} </h5>
      <button mat-flat-button class="saveButton">
        <mat-icon fontSet="material-icons-round"> save </mat-icon>
        {{ "save" | translate }}
      </button>
      <button type="button" (click)="utils.navigateBack()" mat-flat-button class="returnButton">
        <mat-icon fontSet="material-icons-round"> arrow_back </mat-icon>
        {{ "return" | translate }}
      </button>
    </div>
    <span class="divider"></span>

    <div class="rowFormDiv">
      <div class="colFormDiv">
        <label class="formLabel requiredInput">
          {{'treesEntity.name' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="name">
          <mat-icon matSuffix class="iconTranslate" (click)="onNameTranslationButtonClicked()" svgIcon="ic_translate"></mat-icon>
        </mat-form-field>
      </div>
      <div class="colFormDiv">
        <label class="formLabel ">
          {{'treesEntity.description' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <textarea matInput type="text" formControlName="description"> </textarea>
          <mat-icon matSuffix class="iconTranslate" (click)="onDescriptionTranslationButtonClicked()" svgIcon="ic_translate"></mat-icon>
        </mat-form-field>
      </div>
      <div class="colFormDiv">
        <label class="formLabel ">
          {{'treesEntity.image' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="image">
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div class="formDiv">
  <div class="formHeader">
    <h5> {{'treesEntity.configuration' | translate}} </h5>
  </div>
  <span class="divider"></span>
  <div class="formDivTreeLeft" *ngIf="dataLoaded">
    <app-data-tree [getAll]='getAllTreeNodes' (emitNode)="nodeReceived($event)" (createNode)="createNode($event)"
      (createFolder)="createFolder($event)" [eventNodeUpdatedSubscription]='sendNodeUpdated.asObservable()'
      [eventGetAllRowsSubscription]='getAllElementsNodes.asObservable()'   [eventRefreshSubscription]='refreshTreeEvent.asObservable()'
      [eventCreateNodeSubscription]='createNodeEvent.asObservable()' [allNewElements]='treeID == -1' (emitAllNodes)="getAllNodes($event)">
      loading</app-data-tree> 
  </div>
  <div class="formDivTreeRight">
    <form [formGroup]='treeNodeForm' #f="ngForm" (ngSubmit)="onSaveFormButtonClicked()">
      <div class="rowFormDiv">
        <div class="colFormDiv" *ngIf="currentNodeIsFolder != undefined">
          <label class="formLabel requiredInput">
            {{'treesEntity.name' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="name" required>
            <mat-icon matSuffix class="iconTranslate" (click)="onTreeNodeNameTranslationButtonClicked()" svgIcon="ic_translate"></mat-icon>
          </mat-form-field>
        </div>
        <div class="colFormDiv" *ngIf="currentNodeIsFolder != undefined">
          <label class="formLabel">
            {{'treesEntity.tooltip' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="tooltip">
          </mat-form-field>
        </div>
      </div>

      <div class="rowFormDiv"  *ngIf=" (currentNodeIsFolder)">
        <div class="colFormDiv">
          <label class="formLabel">
            {{'treesEntity.metadataURL' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="metadataURL">
          </mat-form-field>
        </div>
        <div class="colFormDiv" >
          <label class="formLabel">
            {{'treesEntity.datasetURL' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="datasetURL">
          </mat-form-field>
        </div>
      </div>

      <div class="rowFormDiv">
        <div class="colFormDiv" *ngIf=" currentNodeIsFolder != undefined &&   (!currentNodeIsFolder)">
          <label class="formLabel">
            {{'treesEntity.cartography' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" [readonly]="true" formControlName="cartography">
          </mat-form-field>
        </div>
        <div class="colFormDiv" *ngIf=" currentNodeIsFolder != undefined && (!currentNodeIsFolder)">
          <label class="formLabel">
            {{'treesEntity.visible' | translate}}
          </label>
          <mat-checkbox formControlName="active"> </mat-checkbox>
        </div>
      </div>
      <div class="rowFormDiv">
        <div class="colFormDiv" *ngIf="(currentNodeIsFolder)">
          <label class="formLabel">
            {{'treesEntity.description' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <textarea matInput type="text" formControlName="description"> </textarea>
            <mat-icon matSuffix class="iconTranslate" (click)="onTreeNodeDescriptionTranslationButtonClicked()" svgIcon="ic_translate"></mat-icon>
          </mat-form-field>
        </div>
        <div class="colFormDiv" *ngIf=" (currentNodeIsFolder)">
          <label class="formLabel">
            {{'treesEntity.radio' | translate}}
          </label>
          <mat-checkbox formControlName="radio"> </mat-checkbox>
        </div>

      </div>


      <div class="appDataGridEditDiv" *ngIf="( currentNodeIsFolder != undefined && !currentNodeIsFolder)">
        <app-data-grid [changeHeightButton]="true" defaultColumnSorting='name' [columnDefs]="columnDefsCartographies" [themeGrid]='themeGrid' [getAll]='getAllCartographies'
          [eventGetSelectedRowsSubscription]='getAllElementsEventCartographies.asObservable()'
          (getSelectedRows)="getSelectedRowsCartographies($event)" [singleSelection]=true [globalSearch]=true>
        </app-data-grid>
      </div>
      <button  mat-flat-button class="validateButton"
        *ngIf=" !newElement && currentNodeIsFolder != undefined ">{{ "update" | translate }}</button>
      <button mat-flat-button class="validateButton"
        *ngIf="newElement && currentNodeIsFolder != undefined ">{{ "save" | translate }}</button>
    </form>

  </div>
</div>