.formDivTreeLeft {
  width: 50%;
  height: 100%;
  float: left;
  //max-height: calc(100vh - 430px);
  //overflow-y: auto;
}

.formDivTreeRight {
  width: 50%;
  height: 100%;
  float: right;
  padding-left: 30px;
  padding-right: 10px;
  overflow-y: auto;
}

.form-control-feedback {
  color: red;
}

