<app-form-toolbar
  icon="menu_arbres"
  entityType="sideMenu.trees"
  [itemName]="treeForm.get('name')?.value"
  [isNew]="treeID === -1"
  (save)="onSaveButtonClicked()"
  (back)="utils.navigateBack()">
</app-form-toolbar>
<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="end"
  [dynamicHeight]="true"
  preserveContent="true"
  (selectedTabChange)="onTabChange($event)">
  <mat-tab label="{{ 'common.form.details' | translate }}">
    <form [formGroup]='treeForm'>
      <mat-card appearance="outlined">
        <mat-card-content>
          <mat-form-field appearance="outline" class="full">
            <mat-label>{{ 'treesEntity.name' | translate }}</mat-label>
            <input matInput type="text" formControlName="name">
            <mat-icon matSuffix class="iconTranslate"
                      (click)="onNameTranslationButtonClicked()"
                      onKeyDown="onNameTranslationButtonClicked()"
                      svgIcon="ic_translate"></mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full">
            <mat-label>{{ 'treesEntity.description' | translate }}</mat-label>
            <textarea matInput type="text" formControlName="description"> </textarea>
            <mat-icon matSuffix class="iconTranslate"
                      (click)="onDescriptionTranslationButtonClicked()"
                      onKeyDown="onDescriptionTranslationButtonClicked()"
                      svgIcon="ic_translate"></mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" class="quarter add-gap">
            <mat-label>{{ 'treesEntity.type' | translate }}</mat-label>
            <mat-select formControlName="type" class="form-control" (selectionChange)="onTreeTypeChange($event.value)">
              <mat-option [value]="type.value" *ngFor="let type of treetypesList">
                {{ type.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="break"></div>
          <mat-form-field appearance="outline" class="half add-gap">
            <mat-label>{{ 'treesEntity.image' | translate }}</mat-label>
            <input #treeImageNameInput matInput type="text" formControlName="imageName"
                   (keyup)="onImageChange('tree', $event)" readonly
                   [placeholder]="'treesEntity.imagePlaceHolder' | translate">
          </mat-form-field>
          <textarea matInput type="text" hidden formControlName="image"> </textarea>
          <input #treeFileInput type="file" accept="image/*" hidden (change)="onImageSelected('tree', $event)">
          <button mat-raised-button class="add-gap" (click)="treeFileInput.click()" [style.background-color]="'#FF9300'"
                  [style.color]="'white'">
            <mat-label>{{ 'treesEntity.selectFile' | translate }}</mat-label>
          </button>
          <button mat-raised-button class="add-gap" (click)="activeImageNameInput('tree', treeImageNameInput)"
                  [style.background-color]="'#FF9300'" [style.color]="'white'">
            <mat-label>{{ 'treesEntity.webUrl' | translate }}</mat-label>
          </button>
          <button mat-raised-button class="add-gap" (click)="removeImage('tree')" [style.background-color]="'#FF9300'"
                  [style.color]="'white'">
            <mat-label>{{ 'treesEntity.delete' | translate }}</mat-label>
          </button>
          <div class="preview" hidden>
            <div>{{ 'treesEntity.preview' | translate }}:</div>
            <img id="treeImgPreview" alt="preview" class="previewImage">
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-tab>
  <mat-tab label="{{ 'treesEntity.configuration' | translate }}">
    <mat-card>
      <mat-card-content>
        <div class="formDiv">
          <div class="formDivTreeLeft" *ngIf="dataLoaded">
            <app-data-tree [getAll]='getAllTreeNodes' (emitNode)="nodeReceived($event)"
                           (createNode)="createNode($event)"
                           (loadButtonClicked)="loadGroupLayersButtonClicked($event)"
                           (createFolder)="createFolder($event)"
                           [eventNodeUpdatedSubscription]='sendNodeUpdated.asObservable()'
                           [loadDataButton]="true"
                           [eventGetAllRowsSubscription]='getAllElementsNodes.asObservable()'
                           [eventRefreshSubscription]='refreshTreeEvent.asObservable()'
                           [eventCreateNodeSubscription]='createNodeEvent.asObservable()'
                           [allNewElements]='treeID == -1'
                           (emitAllNodes)="receiveAllNodes($event)">
              loading
            </app-data-tree>
          </div>
          <div class="formDivTreeRight">
            <form [formGroup]='treeNodeForm' #f="ngForm" (ngSubmit)="onSaveFormButtonClicked()">
              <div class="rowFormDiv">
                <div class="colFormDiv" *ngIf="currentNodeIsFolder != undefined">
                  <label class="formLabel ">
                    {{ 'treesEntity.nodeType' | translate }}
                  </label>
                  <mat-form-field appearance="outline" *ngIf="(currentNodeIsFolder)">
                    <mat-select matInput formControlName="nodetype" class="form-control"
                                (selectionChange)="onTreeNodeTypeChange($event.value)">
                      <mat-option [value]="type.value" *ngFor="let type of folderNodeTypesList">
                        {{ type.description }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline"
                                  *ngIf="currentNodeIsFolder != undefined && (!currentNodeIsFolder)">
                    <mat-select matInput formControlName="nodetype" class="form-control"
                                (selectionChange)="onTreeNodeTypeChange($event.value)">
                      <mat-option [value]="type.value" *ngFor="let type of leafNodeTypesList">
                        {{ type.description }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="colFormDiv" *ngIf="currentNodeIsFolder != undefined">
                  <label class="formLabel requiredInput">
                    {{ 'treesEntity.name' | translate }}
                  </label>
                  <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="name" required>
                    <mat-icon matSuffix class="iconTranslate" (click)="onTreeNodeNameTranslationButtonClicked()"
                              svgIcon="ic_translate"></mat-icon>
                  </mat-form-field>
                </div>
              </div>

              <div class="rowFormDiv"
                   *ngIf=" (currentNodeIsFolder) && currentNodeType === codeValues.treenodeFolderType.cartography">
                <div class="colFormDiv" *ngIf="currentNodeIsFolder != undefined">
                  <label class="formLabel">
                    {{ 'treesEntity.tooltip' | translate }}
                  </label>
                  <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="tooltip">
                  </mat-form-field>
                </div>
                <div class="colFormDiv">
                  <label class="formLabel">
                    {{ 'treesEntity.metadataURL' | translate }}
                  </label>
                  <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="metadataURL">
                  </mat-form-field>
                </div>
              </div>

              <div class="rowFormDiv" *ngIf="(currentNodeIsFolder)">
                <div class="colFormDiv"
                     *ngIf="[codeValues.treenodeFolderType.cartography, codeValues.treenodeFolderType.list].includes(currentNodeType)">
                  <label class="formLabel">
                    {{ 'treesEntity.description' | translate }}
                  </label>
                  <mat-form-field appearance="outline">
                    <textarea matInput type="text" formControlName="description"> </textarea>
                    <mat-icon matSuffix class="iconTranslate" (click)="onTreeNodeDescriptionTranslationButtonClicked()"
                              svgIcon="ic_translate"></mat-icon>
                  </mat-form-field>
                </div>
                <div class="colFormDiv" *ngIf="currentNodeType === codeValues.treenodeFolderType.cartography">
                  <label class="formLabel">
                    {{ 'treesEntity.datasetURL' | translate }}
                  </label>
                  <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="datasetURL">
                  </mat-form-field>
                </div>
              </div>

              <div class="rowFormDiv"
                   *ngIf="currentNodeIsFolder != undefined &&  (!currentNodeIsFolder)">
                <div class="colFormDiv">
                  <label class="formLabel">
                    {{ 'treesEntity.cartography' | translate }}
                  </label>
                  <mat-form-field appearance="outline">
                    <input matInput type="text" [readonly]="true" formControlName="cartographyName">
                  </mat-form-field>
                </div>
                <div class="colFormDiv" *ngIf="currentNodeType === codeValues.treenodeLeafType.cartography">
                  <label class="formLabel">
                    {{ 'treesEntity.style' | translate }}
                  </label>
                  <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="style">
                  </mat-form-field>
                </div>
              </div>
              <div class="rowFormDiv" *ngIf="currentNodeType === codeValues.treenodeFolderType.cartography">
                <div class="colFormDiv" *ngIf=" currentNodeIsFolder != undefined && (!currentNodeIsFolder)">
                  <label class="formLabel">
                    {{ 'layersEntity.applyFilterToGetMap' | translate }}
                  </label>
                  <mat-form-field appearance="outline">
                    <mat-select matInput formControlName="filterGetFeatureInfo" class="form-control">
                      <mat-option [value]="option.value" *ngFor="let option of filterOptions">
                        {{ option.description | translate }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="colFormDiv" *ngIf=" currentNodeIsFolder != undefined && (!currentNodeIsFolder)">
                  <label class="formLabel">
                    {{ 'layersEntity.filterInfoByMunicipality' | translate }}
                  </label>
                  <mat-form-field appearance="outline">
                    <mat-select matInput formControlName="filterGetMap" class="form-control">
                      <mat-option [value]="option.value" *ngFor="let option of filterOptions">
                        {{ option.description | translate }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="rowFormDiv" *ngIf="currentNodeType === codeValues.treenodeLeafType.cartography">
                <div class="colFormDiv" *ngIf=" currentNodeIsFolder != undefined && (!currentNodeIsFolder)">
                  <label class="formLabel">
                    {{ 'layersEntity.filterSpatialSelectionByMunicipality' | translate }}
                  </label>
                  <mat-form-field appearance="outline">
                    <mat-select matInput formControlName="filterSelectable" class="form-control">
                      <mat-option [value]="option.value" *ngFor="let option of filterOptions">
                        {{ option.description | translate }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="rowFormDiv"
                   *ngIf="[codeValues.treenodeFolderType.menu, codeValues.treenodeFolderType.list].includes(currentNodeType)">
                <div class="colFormDiv" *ngIf=" (currentNodeIsFolder)">
                  <label class="formLabel" *ngIf="currentNodeType === codeValues.treenodeFolderType.list">
                    {{ 'treesEntity.image' | translate }}
                  </label>
                  <label class="formLabel" *ngIf="currentNodeType === codeValues.treenodeFolderType.menu">
                    {{ 'treesEntity.icon' | translate }}
                  </label>
                  <mat-form-field appearance="outline">
                    <input #treenodeImageNameInput matInput type="text" formControlName="imageName"
                           (keyup)="onImageChange('node', $event)" readonly
                           [placeholder]="'treesEntity.imagePlaceHolder' | translate">
                  </mat-form-field>
                  <textarea matInput type="text" hidden formControlName="image"> </textarea>
                  <input #nodeFileInput type="file" accept="image/*" hidden (change)="onImageSelected('node', $event)">
                  <div style="display: block">
                    <input type="button" mat-raised-button [value]="'treesEntity.selectFile' | translate" class="add-gap" (click)="nodeFileInput.click()">
                    <input type="button" mat-raised-button [value]="'treesEntity.webUrl' | translate" class="add-gap" (click)="activeImageNameInput('node', treenodeImageNameInput)">
                    <input type="button" mat-raised-button [value]="'treesEntity.delete' | translate" class="add-gap" (click)="removeImage('node')">
                  </div>
                </div>
                <div class="colFormDiv" *ngIf="(currentNodeIsFolder)">
                  <img id="treeNodeImgPreview" class="previewImage" hidden>
                </div>
              </div>
              <div class="rowFormDiv"
                   *ngIf="currentNodeType === codeValues.treenodeLeafType.task && currentNodeIsFolder != undefined && (!currentNodeIsFolder)">
                <div class="colFormDiv">
                  <label class="formLabel">
                    {{ 'treesEntity.task' | translate }}
                  </label>
                  <mat-form-field appearance="outline">
                    <input matInput type="text" [readonly]="true" formControlName="taskName">
                  </mat-form-field>
                </div>
              </div>
              <div class="rowFormDiv"
                   *ngIf="currentNodeType === codeValues.treenodeLeafType.task && currentNodeIsFolder != undefined && (!currentNodeIsFolder)">
                <div class="colFormDiv">
                  <label class="formLabel">
                    {{ 'treesEntity.filterable' | translate }}
                  </label>
                  <mat-checkbox formControlName="filterable"></mat-checkbox>
                </div>
                <div class="colFormDiv">
                  <input type="button" class="add-gap" (click)="openFieldsConfigDialog()"
                    [value]="'treesEntity.fieldsConfig' | translate">
                </div>
              </div>

              <div class="rowFormDiv" *ngIf="currentNodeType === codeValues.treenodeFolderType.cartography">
                <div class="colFormDiv" *ngIf=" currentNodeIsFolder != undefined && (!currentNodeIsFolder)">
                  <label class="formLabel">
                    {{ 'treesEntity.visible' | translate }}
                  </label>
                  <mat-checkbox formControlName="active"></mat-checkbox>
                </div>
                <div class="colFormDiv" *ngIf=" (currentNodeIsFolder)">
                  <label class="formLabel">
                    {{ 'treesEntity.radio' | translate }}
                  </label>
                  <mat-checkbox formControlName="radio"></mat-checkbox>
                </div>
              </div>
              <button mat-flat-button class="validateButton"
                      *ngIf=" !newElement && currentNodeIsFolder != undefined ">{{ "update" | translate }}
              </button>
              <button mat-flat-button class="validateButton"
                      *ngIf="newElement && currentNodeIsFolder != undefined ">{{ "save" | translate }}
              </button>
              <div class="appDataGridEditDiv" *ngIf="( currentNodeIsFolder != undefined && !currentNodeIsFolder)">
                <div *ngIf="currentNodeType === codeValues.treenodeLeafType.task">
                  <h5>{{ 'treesEntity.task' | translate }}</h5>
                  <app-data-grid [changeHeightButton]="true"
                                [defaultColumnSorting]="['name']"
                                [columnDefs]="columnDefsTasks"
                                [getAll]='getAllTasks'
                                [eventGetSelectedRowsSubscription]='getAllElementsEventTasks.asObservable()'
                                (getSelectedRows)="getSelectedRowsTasks($event)"
                                [singleSelection]=true
                                [redraw]="activeTabIndex === 1">
                  </app-data-grid>
                </div>
                <div>
                  <h5>{{ 'treesEntity.cartography' | translate }}</h5>
                  <app-data-grid [changeHeightButton]="true"
                                [defaultColumnSorting]="['name']"
                                [columnDefs]="columnDefsCartographies"
                                [getAll]='getAllCartographies'
                                [eventGetSelectedRowsSubscription]='getAllElementsEventCartographies.asObservable()'
                                (getSelectedRows)="getSelectedRowsCartographies($event)"
                                [singleSelection]=true
                                [redraw]="activeTabIndex === 1">
                  </app-data-grid>
                </div>
              </div>
            </form>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="{{ 'layersPermitsEntity.applications' | translate }}">
    <app-data-grid #applicationsDataGrid
                   [changeHeightButton]="true"
                   [allNewElements]="treeID === -1"
                   [columnDefs]="columnDefsApplication"
                   [getAll]='getAllApplications'
                   [eventAddItemsSubscription]='addElementsEventApplication.asObservable()'
                   [eventGetAllRowsSubscription]='getAllElementsEventApplication.asObservable()'
                   [eventRefreshSubscription]='dataUpdatedEventApplication.asObservable()'
                   [discardChangesButton]=true
                   [redoButton]=true
                   [undoButton]=true
                   [deleteButton]=true
                   [addButton]=true
                   [hideDuplicateButton]=true
                   [defaultColumnSorting]="['order']"
                   (getAllRows)="getAllRowsApplication($event)"
                   [actionButton]=true
                   (add)="openApplicationsDialog($event)"
                   [redraw]="activeTabIndex === 2"
                   *ngIf="dataLoaded"
    ></app-data-grid>
  </mat-tab>
  <mat-tab label="{{ 'treesEntity.roles' | translate }}">
    <app-data-grid [changeHeightButton]="true"
                   [allNewElements]="treeID === -1"
                   [columnDefs]="columnDefsRoles"
                   [getAll]='getAllRoles'
                   [eventAddItemsSubscription]='addElementsEventRoles.asObservable()'
                   [eventGetAllRowsSubscription]='getAllElementsEventRoles.asObservable()'
                   [eventRefreshSubscription]='dataUpdatedEventRoles.asObservable()'
                   [actionButton]=true
                   [discardChangesButton]=true
                   [redoButton]=true
                   [undoButton]=true
                   [deleteButton]=true
                   [addButton]=true
                   [defaultColumnSorting]="['name']"
                   [hideDuplicateButton]=true
                   (getAllRows)="getAllRowsRoles($event)"
                   (add)="openRolesDialog($event)"
                   [redraw]="activeTabIndex === 3"
                   *ngIf="dataLoaded"
    ></app-data-grid>
  </mat-tab>
</mat-tab-group>

<ng-template #fieldsConfigDialog>
  <form [formGroup]='fieldsConfigForm' id="fieldsConfigForm">
    <div class="formDiv">
      <div class="formDivTreeLeft">
        <div>
          <h5>{{ 'treesEntity.namespacesMapping' | translate }}</h5>
          <div class="maping-form" formGroupName="namespaces">
            <p *ngIf="noNamespaces">{{'nodeMapping.noNamespaces' | translate}}</p>
            <div *ngFor="let control of nodeNamespacesControls">
              <div class="rowFormDiv" [formGroupName]="control.name">
                <div class="colFormDiv">
                  <mat-form-field appearance="outline" class="namespace-field">
                    <mat-label>{{control.name}}</mat-label>
                    <input matInput type="text" formControlName="value" class="full">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!(fieldsConfigTreeGenerated)">
          <mat-form-field appearance="outline" class="full">
            <textarea matInput formControlName="taskResponse" rows="8" [placeholder]="'nodeMapping.treePlaceholder' | translate"
            style="width: 100%; height: 45vh;"></textarea>
          </mat-form-field>
          <button mat-raised-button class="add-gap" (click)="generateFieldsConfigTree()"
            [style.background-color]="'#FF9300'" [style.color]="'white'">
            <mat-label>{{'nodeMapping.treeGenerate' | translate}}</mat-label>
          </button>
        </div>
        <div *ngIf="fieldsConfigTreeGenerated">
          <app-map-tree class="fieldsConfigTree" [getAll]='getFieldConfigInput' (emitNode)="fieldTreeNode($event)"
            [eventCreateTreeSubscription]='createConfigTreeEvent.asObservable()'
            (emitAllNodes)="receiveAllNodes($event)">
              loading
          </app-map-tree>
          <button mat-raised-button class="add-gap" (click)="hideFieldsConfigTree()"
            [style.background-color]="'#FF9300'" [style.color]="'white'" [style.margin-top]="'15px'">
            <mat-label>{{'nodeMapping.editResponse' | translate}}</mat-label>
          </button>
          <div *ngIf="selectedXPath" style="margin-top: 20px;">
            <strong>{{'nodeMapping.suggestion' | translate}}</strong>
            <p style="word-break: break-all;">{{ selectedXPath }}</p>
          </div>
        </div>
      </div>
      <div class="formDivTreeRight">
        <h5>{{ 'treesEntity.inputMapping' | translate }}</h5>
        <div class="maping-form" formGroupName="input">
          <p *ngIf="nodeInputsControls.length === 0">{{'nodeMapping.noParams' | translate}}</p>
          <div *ngFor="let control of nodeInputsControls">
            <div class="rowFormDiv" [formGroupName]="control.name">
              <div class="colFormDiv">
                <mat-form-field appearance="outline" class="full">
                  <mat-label>{{control.name}}</mat-label>
                  <mat-select formControlName="value">
                    <mat-option value="{{control.value}}">{{control.value || '--None--'}}</mat-option>
                    <mat-optgroup [label]="'treesEntity.appVars' | translate">
                      <mat-option *ngFor="let opt of mappingAppOptions" [value]="opt.value">{{opt.label}}</mat-option>
                    </mat-optgroup>
                    <mat-optgroup *ngIf="mappingParentTaskOptions.length > 0" [label]="'treesEntity.parentTaskVars' | translate">
                      <mat-option *ngFor="let opt of mappingParentTaskOptions" [value]="opt.value">{{opt.label}}</mat-option>
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="colFormDiv">
                <mat-checkbox formControlName="calculated" labelPosition="after">{{ 'treesEntity.calculated' | translate }}</mat-checkbox>
              </div>
            </div>
          </div>
        </div>

        <h5>{{ 'treesEntity.outputMapping' | translate }}</h5>
        <div class="maping-form">
          <div class="rowFormDiv">
          <mat-form-field appearance="outline">
            <mat-label>
              {{ 'treesEntity.taskview' | translate }}
            </mat-label>
            <mat-select matInput formControlName="viewMode" class="form-control" (selectionChange)="onViewModeChange($event.value)">
              <mat-option [value]="taskview.value" *ngFor="let taskview of taskviewsList">
                {{ taskview.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          </div>
          <div formGroupName="output">
            <div *ngFor="let control of nodeOutputsControls">
              <div class="rowFormDiv" [formGroupName]="control.key" *ngIf="control.views.includes(currentViewMode)">
                <div class="colFormDiv">
                  <mat-radio-button name="mapping" [id]="control.key + '-mapping'" class="mapping-radio"></mat-radio-button>
                </div>
                <div class="colFormDiv">
                  <mat-form-field appearance="outline" class="full">
                    <mat-label>{{control.label | translate}}</mat-label>
                    <input matInput type="text" formControlName="value">
                  </mat-form-field>
                </div>
                <div class="colFormDiv">
                  <mat-checkbox formControlName="calculated" labelPosition="after">{{ 'treesEntity.calculated' | translate }}</mat-checkbox>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>