.formDivTreeLeft{
    width: 50%;
    height: 100%;
    float: left;
}

.formDivTreeRight{
    width: 50%;
    height: 100%;
    float: right;
}

.rowFormDiv{
    width: 100%;
  }
  .colFormDiv{
    display: inline-block;
    width: 47.5%;
    margin-right: 5%;
  }

  .LastMidLargeColFormDiv{
    display: inline-block;
    width: 47%;
    margin-right: 3%;
}

  mat-form-field {
    width: 100%;
}
#right-column {
  margin-right: 3%;
}

.form-control-feedback{
    color: red;
  }


  .updateButton{
    background-color: #FF9300;
    color: white;
    width: auto;
    height: 40px;
    margin-top: 34px !important;
    justify-self: right !important;
  }  
