<app-form-toolbar
  entityType="{{ config.labelSingular }}"
  font="{{ config.font }}"
  icon="{{ config.icon }}"
  [itemName]="itemName('name')"
  [isNew]="isNewOrDuplicated()"
  [canSave]="canSaveEntity"
  [form]="entityForm"
  entityLabelPrefix="entity.tree"
  [customWarningMessage]="treeValidationWarningMessage"
  [dataLoaded]="dataLoaded"
  (save)="onSaveButtonClicked()"
  (back)="utils.navigateBack()">
</app-form-toolbar>
<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="end"
  [dynamicHeight]="true"
  (selectedTabChange)="onTabChange($event)">
  <mat-tab label="{{ 'common.form.details' | translate }}">
    <form [formGroup]='entityForm' *ngIf="dataLoaded">
      <mat-card appearance="outlined">
        <mat-card-content>
          <mat-form-field appearance="outline" class="full">
            <mat-label>{{ 'entity.tree.name' | translate }} ({{ defaultLang }})</mat-label>
            <input matInput type="text" formControlName="name" [maxlength]="50" required>
            <mat-hint align="end" [class.text-warning]="entityForm.get('name')?.value?.length > 50">
              {{ entityForm.get('name') | characterCount }}
              <mat-icon *ngIf="entityForm.get('name')?.value?.length > 50" fontIcon="warning" class="warning-icon"></mat-icon>
            </mat-hint>
            <mat-icon matSuffix class="iconTranslate"
                      (click)="onTranslated('name')"
                      onKeyDown="onTranslated('name')">translate</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full">
            <mat-label>{{ 'entity.tree.description' | translate }} ({{ defaultLang }})</mat-label>
            <textarea matInput type="text" formControlName="description" [maxlength]="4000"> </textarea>
            <mat-hint align="end">{{ entityForm.get('description') | characterCount }}</mat-hint>
            <mat-icon matSuffix class="iconTranslate"
                      (click)="onTranslated('description')"
                      onKeyDown="onTranslated('description')">translate</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" class="quarter add-gap">
            <mat-label>{{ 'entity.tree.type' | translate }}</mat-label>
            <mat-select formControlName="type" class="form-control" required (selectionChange)="onTreeTypeChange($event.value)">
              <mat-option [value]="type.value" *ngFor="let type of this.codeList('tree.type')">
                {{ type.description }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="entityForm.get('type')?.hasError('required')">
              {{ 'common.error.required' | translate }}
            </mat-error>
          </mat-form-field>
          <div class="break"></div>
          <div class="appearance-panel-content">
            <div class="appearance-input-section">
              <mat-form-field appearance="outline" class="appearance-form-field">
                <mat-label>{{ 'entity.tree.image' | translate }}</mat-label>
                <input #treeImageNameInput matInput type="text" formControlName="imageName"
                       (keyup)="onImageChange('tree', $event)" readonly
                       [placeholder]="'entity.tree.imagePlaceHolder' | translate">
              </mat-form-field>
              <textarea matInput type="text" hidden formControlName="image"> </textarea>
              <input #treeFileInput type="file" accept="image/*" hidden (change)="onImageSelected('tree', $event)">
              <div class="appearance-actions">
                <button mat-raised-button color="primary" type="button" (click)="treeFileInput.click()">
                  {{ 'entity.tree.selectFile' | translate }}
                </button>
                <button mat-raised-button color="primary" type="button" (click)="activeImageNameInput('tree', treeImageNameInput)">
                  {{ 'entity.tree.webUrl' | translate }}
                </button>
                <button mat-raised-button color="warn" type="button" (click)="removeImage('tree')">
                  {{ 'entity.tree.delete' | translate }}
                </button>
              </div>
            </div>
            <app-image-preview
              [imageSource]="entityForm.get('image')?.value"
              [imageName]="entityForm.get('imageName')?.value"
              [previewId]="'treeImgPreview'"
              [maxWidth]="80"
              [maxHeight]="80">
            </app-image-preview>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-tab>
  <mat-tab label="{{ 'entity.tree.treeStructure' | translate }}">
    <ng-template matTabContent>
      <app-tree-nodes
        #treeNodesComponent
        [tree]="entityToEdit"
        [entityID]="entityID"
        [duplicateID]="duplicateID"
        [dataLoaded]="dataLoaded"
        [currentTreeType]="currentTreeType"
        (saveRequested)="receiveAllNodes($event)">
      </app-tree-nodes>
    </ng-template>
  </mat-tab>
  <mat-tab label="{{ 'entity.permissionGroup.applications.header' | translate }}">
    <mat-card class="sitmun-mat-card-margin" appearance="outlined">
      <mat-card-content>
        <app-data-grid
          #applicationsGrid
          [changeHeightButton]="true"
          [allNewElements]="isNewOrDuplicated()"
          [columnDefs]="applicationsTable.relationsColumnsDefs"
          [getAll]="applicationsTable.relationsFetchFn"
          [eventAddItemsSubscription]="applicationsTable.addCommandEvent$.asObservable()"
          [eventGetAllRowsSubscription]="applicationsTable.saveCommandEvent$.asObservable()"
          [eventRefreshSubscription]="applicationsTable.refreshCommandEvent$.asObservable()"
          [actionButton]="true"
          [discardChangesButton]="true"
          [redoButton]="true"
          [undoButton]="true"
          [deleteButton]="true"
          [addButton]="true"
          [hideDuplicateButton]="true"
          [defaultColumnSorting]="applicationsTable.defaultRelationsSorting()"
          (getAllRows)="applicationsTable.handleSaveRelations($event)"
          (add)="applicationsTable.openDialog($event)"
          *ngIf="dataLoaded">
        </app-data-grid>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="{{ 'entity.tree.roles' | translate }}">
    <mat-card class="sitmun-mat-card-margin" appearance="outlined">
      <mat-card-content>
        <app-data-grid
          [changeHeightButton]="true"
          [allNewElements]="isNewOrDuplicated()"
          [columnDefs]="rolesTable.relationsColumnsDefs"
          [getAll]="rolesTable.relationsFetchFn"
          [eventAddItemsSubscription]="rolesTable.addCommandEvent$.asObservable()"
          [eventGetAllRowsSubscription]="rolesTable.saveCommandEvent$.asObservable()"
          [eventRefreshSubscription]="rolesTable.refreshCommandEvent$.asObservable()"
          [actionButton]="true"
          [discardChangesButton]="true"
          [redoButton]="true"
          [undoButton]="true"
          [deleteButton]="true"
          [addButton]="true"
          [hideDuplicateButton]="true"
          [defaultColumnSorting]="rolesTable.defaultRelationsSorting()"
          (getAllRows)="rolesTable.handleSaveRelations($event)"
          (add)="rolesTable.openDialog($event)"
          *ngIf="dataLoaded">
        </app-data-grid>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
