<app-form-toolbar
  entityType="{{ config.labelSingular }}"
  font="{{ config.font }}"
  icon="{{ config.icon }}"
  [itemName]="entityForm?.get('name')?.value"
  [isNew]="isNew()"
  [additionalText]="taskTypeNameTranslated"
  [canSave]="canSaveEntity"
  [form]="entityForm"
  validationEntityType="task"
  [validationFieldLabelKeys]="validationFieldLabels"
  [dataLoaded]="dataLoaded"
  (save)="onSaveButtonClicked()"
  (back)="utils.navigateBack()">
</app-form-toolbar>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end" [dynamicHeight]="true" preserveContent="true">
  <mat-tab label="{{ 'common.form.details' | translate }}">
    <form [formGroup]="entityForm" *ngIf="dataLoaded">
      <mat-card class="sitmun-mat-card-margin" appearance="outlined">
        <mat-card-content>
          <mat-form-field appearance="outline" class="full">
            <mat-label>{{ 'tasksMoreInfoAdvancedEntity.taskName' | translate }}</mat-label>
            <input matInput type="text" formControlName="name" [maxlength]="512" required>
            <mat-hint align="end">{{ entityForm.get('name') | characterCount }}</mat-hint>
            <mat-icon matSuffix class="iconTranslate" (click)="onTranslated('name')" onKeyDown="onTranslated('name')">translate</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full">
            <mat-label>{{ 'tasksMoreInfoAdvancedEntity.cartography' | translate }}</mat-label>
            <input
              matInput
              type="text"
              [formControl]="cartographySearchControl"
              [matAutocomplete]="cartographyAuto"
              required
              [errorStateMatcher]="cartographyErrorMatcher">
            <mat-error *ngIf="cartographySearchControl.hasError('required')">
              {{ 'common.error.required' | translate }}
            </mat-error>
            <mat-error *ngIf="cartographySearchControl.hasError('invalidCartography')">
              {{ 'tasksMoreInfoAdvancedEntity.cartography.invalidSelection' | translate }}
            </mat-error>
            <button
              *ngIf="cartographySearchControl.value"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearCartography()"
              type="button">
              <mat-icon>close</mat-icon>
            </button>
            <mat-autocomplete #cartographyAuto="matAutocomplete" (optionSelected)="onCartographySelected($event)" [displayWith]="displayCartography">
              <mat-option *ngFor="let cartography of filteredCartographies | async" [value]="cartography">
                {{ cartography.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full">
            <mat-label>{{ 'tasksMoreInfoAdvancedEntity.taskKind' | translate }}</mat-label>
            <mat-select formControlName="advancedTaskKind" required>
              <mat-option *ngFor="let kind of advancedKinds" [value]="kind.value">
                {{ kind.key | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <mat-card class="sitmun-mat-card-margin" appearance="outlined" *ngIf="shouldShowDataAccessFields()">
        <mat-card-content>
          <mat-form-field appearance="outline" class="full">
            <mat-label>{{ 'tasksMoreInfoAdvancedEntity.dataAccessType' | translate }}</mat-label>
            <mat-select formControlName="scope" required (selectionChange)="onScopeChange($event)">
              <mat-option [value]="type.value" *ngFor="let type of this.codeList('moreInfo.type')">
                {{ type.description | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half add-gap" *ngIf="isSqlAccessType()">
            <mat-label>{{ 'tasksMoreInfoAdvancedEntity.connection' | translate }}</mat-label>
            <mat-select formControlName="connectionId">
              <mat-option [value]="connection.id" *ngFor="let connection of connections">
                {{ connection.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half" *ngIf="!isSqlAccessType()">
            <mat-label>{{ 'tasksMoreInfoAdvancedEntity.responseFormat' | translate }}</mat-label>
            <mat-select formControlName="responseFormat">
              <mat-option *ngFor="let format of responseFormats" [value]="format.value">
                {{ format.key | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full">
            <mat-label>{{ 'tasksMoreInfoAdvancedEntity.command' | translate }}</mat-label>
            <textarea matInput formControlName="command" rows="4" [maxlength]="4000"></textarea>
            <mat-hint align="end">{{ entityForm.get('command') | characterCount }}</mat-hint>
          </mat-form-field>

        </mat-card-content>
      </mat-card>

      <mat-card class="sitmun-mat-card-margin" appearance="outlined" *ngIf="isParentTask()">
        <mat-card-content>
          <mat-form-field appearance="outline" class="half add-gap">
            <mat-label>{{ 'tasksMoreInfoAdvancedEntity.parentLayout' | translate }}</mat-label>
            <mat-select formControlName="parentLayout">
              <mat-option *ngFor="let layout of parentLayouts" [value]="layout.value">
                {{ layout.key | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half">
            <mat-label>{{ 'tasksMoreInfoAdvancedEntity.childPresentationOrder' | translate }}</mat-label>
            <mat-select formControlName="childPresentationOrder">
              <mat-option *ngFor="let order of childPresentationOrders" [value]="order.value">
                {{ order.key | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full">
            <mat-label>{{ 'tasksMoreInfoAdvancedEntity.relatedTable' | translate }}</mat-label>
            <input matInput type="text" formControlName="relatedTable" [maxlength]="256">
          </mat-form-field>

          <mat-form-field appearance="outline" class="full">
            <mat-label>{{ 'tasksMoreInfoAdvancedEntity.childTasks' | translate }}</mat-label>
            <mat-select formControlName="selectedChildTaskIds" multiple>
              <mat-option *ngFor="let child of getAvailableChildTasks()" [value]="child.id">
                {{ child.name }}
              </mat-option>
            </mat-select>
            <mat-hint>{{ 'tasksMoreInfoAdvancedEntity.childrenHint' | translate }}</mat-hint>
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <mat-card class="sitmun-mat-card-margin" appearance="outlined" *ngIf="isHtmlTemplateEnabled()">
        <mat-card-content>
          <div style="display: flex; flex-wrap: wrap; gap: 8px; margin-bottom: 12px;">
            <button
              mat-stroked-button
              type="button"
              *ngFor="let item of htmlSnippets"
              (click)="insertHtmlSnippet(item.snippet)">
              {{ item.labelKey | translate }}
            </button>
          </div>

          <mat-form-field appearance="outline" class="full">
            <mat-label>{{ 'tasksMoreInfoAdvancedEntity.htmlTemplate' | translate }}</mat-label>
            <textarea #htmlTemplateTextarea matInput formControlName="htmlTemplate" rows="12"></textarea>
            <mat-hint>{{ 'tasksMoreInfoAdvancedEntity.previewHint' | translate }} <code>{{ getChildTasksPlaceholder() }}</code></mat-hint>
          </mat-form-field>

          <h4>{{ 'tasksMoreInfoAdvancedEntity.preview' | translate }}</h4>
          <iframe
            title="HTML preview"
            [srcdoc]="getPreviewDocument()"
            sandbox
            style="width: 100%; min-height: 320px; border: 1px solid #d0d0d0; border-radius: 4px; background: #fff;">
          </iframe>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-tab>

  <mat-tab label="{{ 'entity.task.parameters.header' | translate }}" *ngIf="shouldShowDataAccessFields()">
    <mat-card class="sitmun-mat-card-margin" appearance="outlined">
      <mat-card-content>
        <app-data-grid
          [changeHeightButton]="true"
          [allNewElements]="isNewOrDuplicated()"
          [columnDefs]="parametersTable.relationsColumnsDefs"
          [getAll]="parametersTable.relationsFetchFn"
          [eventAddItemsSubscription]="parametersTable.addCommandEvent$.asObservable()"
          [eventGetAllRowsSubscription]="parametersTable.saveCommandEvent$.asObservable()"
          [eventRefreshSubscription]="parametersTable.refreshCommandEvent$.asObservable()"
          [discardChangesButton]="true"
          [actionButton]="true"
          [redoButton]="true"
          [undoButton]="true"
          [deleteButton]="true"
          [newButton]="true"
          [defaultColumnSorting]="parametersTable.defaultRelationsSorting()"
          (getAllRows)="parametersTable.handleSaveRelations($event)"
          (duplicate)="parametersTable.duplicateRelations($event)"
          *ngIf="dataLoaded">
        </app-data-grid>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="{{ 'entity.task.roles.header' | translate }}">
    <mat-card class="sitmun-mat-card-margin" appearance="outlined">
      <mat-card-content>
        <app-data-grid
          [changeHeightButton]="true"
          [allNewElements]="isNewOrDuplicated()"
          [columnDefs]="rolesTable.relationsColumnsDefs"
          [getAll]="rolesTable.relationsFetchFn"
          [eventAddItemsSubscription]="rolesTable.addCommandEvent$.asObservable()"
          [eventGetAllRowsSubscription]="rolesTable.saveCommandEvent$.asObservable()"
          [eventRefreshSubscription]="rolesTable.refreshCommandEvent$.asObservable()"
          [actionButton]="true"
          [discardChangesButton]="true"
          [redoButton]="true"
          [undoButton]="true"
          [deleteButton]="true"
          [addButton]="true"
          [defaultColumnSorting]="rolesTable.defaultRelationsSorting()"
          [hideDuplicateButton]="true"
          (getAllRows)="rolesTable.handleSaveRelations($event)"
          (add)="rolesTable.openDialog($event)"
          *ngIf="dataLoaded">
        </app-data-grid>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="{{ 'entity.task.territories.header' | translate }}">
    <mat-card class="sitmun-mat-card-margin" appearance="outlined">
      <mat-card-content>
        <app-data-grid
          [changeHeightButton]="true"
          [allNewElements]="isNewOrDuplicated()"
          [columnDefs]="availabilitiesTable.relationsColumnsDefs"
          [getAll]="availabilitiesTable.relationsFetchFn"
          [eventAddItemsSubscription]="availabilitiesTable.addCommandEvent$.asObservable()"
          [eventGetAllRowsSubscription]="availabilitiesTable.saveCommandEvent$.asObservable()"
          [eventRefreshSubscription]="availabilitiesTable.refreshCommandEvent$.asObservable()"
          [actionButton]="true"
          [discardChangesButton]="true"
          [redoButton]="true"
          [undoButton]="true"
          [deleteButton]="true"
          [addButton]="true"
          [hideReplaceButton]="true"
          [defaultColumnSorting]="availabilitiesTable.defaultRelationsSorting()"
          [hideDuplicateButton]="true"
          (getAllRows)="availabilitiesTable.handleSaveRelations($event)"
          (add)="availabilitiesTable.openDialog($event)"
          *ngIf="dataLoaded">
        </app-data-grid>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
