<mat-toolbar>
  <span class="spacer"></span>
  <h4>
    <mat-icon aria-hidden="true" svgIcon="menu_permisos"></mat-icon>
    <span> {{ "layersPermitsEntity.layersPermits" | translate }}</span>
  </h4>
</mat-toolbar>

<app-data-grid id="connection"
               [columnDefs]="columnDefs"
               [getAll]='getAllLayersPermits'
               [globalSearch]=true
               [eventRefreshSubscription]='dataUpdatedEvent.asObservable()'
               [eventSaveAgGridStateSubscription]='saveAgGridStateEvent.asObservable()'
               [discardChangesButton]=true
               [redoButton]=true
               [undoButton]=true
               [applyChangesButton]=true
               [deleteButton]=true
               [newButton]=true
               [actionButton]=true
               (remove)="removeData($event)"
               (new)='newData($event)'
               [defaultColumnSorting]="['name']"
               (gridModified)='setGridModifiedValue($event)'
               (sendChanges)='applyChanges($event)'
               (duplicate)='add($event)'>
</app-data-grid>
