<div class="titleDiv" >
    <h4><mat-icon aria-hidden="false"  svgIcon="menu_connexio"></mat-icon> {{ "tasksEditionEntity.tasksEdition" | translate }}-{{(taskEditionID==-1?"new":"edit") | translate}}</h4>
    <span class="divider"></span>
  </div>
  
  <div class="formDiv">
      <form [formGroup]='formTasksEdition' #f="ngForm" (ngSubmit)="onSaveButtonClicked()"> 
    <div class="formHeader">
      <h5> {{'tasksEditionEntity.generalData' | translate}} </h5>
      <button   mat-flat-button class="saveButton"  >
        <mat-icon fontSet="material-icons-round"  > save </mat-icon>
        {{ "save" | translate }}
      </button>
      <button (click)="utils.navigateBack()"  mat-flat-button class="returnButton"  >
        <mat-icon fontSet="material-icons-round"> arrow_back </mat-icon>
        {{ "return" | translate }}
      </button>
    </div>
    <span class="divider"></span>
  
        <div class="rowFormDiv">

            <div class="MidColFormDiv">
                <label class="formLabel requiredInput" >
                    {{'tasksEditionEntity.id' | translate}}
                </label>
                <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="id">
                </mat-form-field>
                </div>

            <div class="LargeColFormDiv">
                <label class="formLabel requiredInput">
                    {{'tasksEditionEntity.editionType' | translate}}
                </label>
                <mat-radio-group aria-label="Select an option" formControlName="editionType">
                    <mat-radio-button class="radioButtonForm"  value="1"> {{'tasksEditionEntity.cartographyTableWFT' | translate}}</mat-radio-button>
                    <mat-radio-button class="radioButtonForm" value="2"> {{'tasksEditionEntity.dataTable' | translate}}</mat-radio-button>
                    <mat-radio-button class="radioButtonForm" value="3"> {{'tasksEditionEntity.relationTable' | translate}}</mat-radio-button>
                    <mat-radio-button class="radioButtonForm" value="4"> {{'tasksEditionEntity.searchView' | translate}}</mat-radio-button>
                  </mat-radio-group>
            </div>

           


        </div>

        <div class="rowFormDiv">

            <div class="MidColFormDiv" > 
                <label class="formLabel requiredInput">
                    {{'tasksEditionEntity.taskGroup' | translate}}
                </label>
                <mat-form-field appearance="outline" >
                    <mat-select matInput formControlName="taskGroup" class="form-control">
                        <mat-option [value]="taskGroup.id" *ngFor="let taskGroup of taskGroups">
                          {{taskGroup.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
                
                <div class="MidLargeColFormDiv" > 
                <label class="formLabel requiredInput">
                    {{'tasksEditionEntity.service' | translate}}
                </label>
                <mat-form-field appearance="outline" >
                    <mat-select matInput formControlName="service" class="form-control" >
                        <mat-option [value]="service.id" *ngFor="let service of services">
                            {{service.serviceURL}}
                          </mat-option>
                    </mat-select>
                </mat-form-field>
                </div>

            <div class="MidColFormDiv" > 
                <label class="formLabel requiredInput">
                    {{'tasksEditionEntity.layerName' | translate}}
                </label>
                <mat-form-field appearance="outline" >
                    <mat-select matInput formControlName="layerName" class="form-control" >
                    <!-- <mat-option [value]="serviceType.value" *ngFor="let serviceType of serviceTypes">
                        {{ serviceType.description}}
                    </mat-option> -->
                    </mat-select>
                </mat-form-field>
                </div>
            
        </div>

        <div class="rowFormDiv">

            <div class="colFormDiv" > 
                <label class="formLabel">
                    {{'tasksEditionEntity.emptyGeometryParameter' | translate}}
                </label>
                <mat-checkbox formControlName="emptyGeometryParameter"> </mat-checkbox>
                </div>
            
        </div>
  



    </form>

</div>

<div class="formDiv">
    <span class="divider"></span>
    <form [formGroup]='filterForm' #f="ngForm"> 

        <div class="rowFormDiv">

            <div class="colFormDiv" > 
                <label class="formLabel ">
                    {{'tasksEditionEntity.associatedCartography' | translate}}
                </label>
                <mat-form-field appearance="outline" >
                    <mat-select matInput formControlName="associatedCartography" class="form-control" >
                    <!-- <mat-option [value]="serviceType.value" *ngFor="let serviceType of serviceTypes">
                        {{ serviceType.description}}
                    </mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="colFormDiv" > 
                <label class="formLabel ">
                    {{'tasksEditionEntity.searchView' | translate}}
                </label>
                <mat-form-field appearance="outline" >
                    <mat-select matInput formControlName="searchView" class="form-control" >
                    <!-- <mat-option [value]="serviceType.value" *ngFor="let serviceType of serviceTypes">
                        {{ serviceType.description}}
                    </mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>

        </div>

        
        <div class="rowFormDiv">

            <div class="ShortColFormDiv" > 
                <label class="formLabel">
                    {{'tasksEditionEntity.municipalityFilter' | translate}}
                </label>
                <mat-checkbox formControlName="municipalityFilter"> </mat-checkbox>
            </div>

            <div class="colFormDiv">
                <label class="formLabel requiredInput" >
                    {{'tasksEditionEntity.fieldName' | translate}}
                </label>
                <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="fieldName">
                </mat-form-field>
            </div>
            
        </div>

  
    </form>
  </div>



  <div class="tableDiv" *ngIf="dataLoaded">
    <mat-accordion multi>

      <!-- Columns table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "tasksEditionEntity.columns" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>  
        <div class="appDataGridEditDiv">
            <app-data-grid  [columnDefs]="columnDefsColumns" [themeGrid]='themeGrid' [getAll]='getAllColumns' 
            [eventAddItemsSubscription]='addElementsEventColumns.asObservable()'[eventGetAllRowsSubscription]='getAllElementsEventColumns.asObservable()' 
             [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [addButton]=true [hideDuplicateButton]=true 
            (getAllRows)="getAllRowsColumns($event)" [actionButton]=true (add)="openColumnsDialog($event)"> </app-data-grid>
        </div>
      </ng-template>
    </mat-expansion-panel>


      <!-- Roles table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "tasksEditionEntity.roles" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>  
        <div class="appDataGridEditDiv">
            <app-data-grid [columnDefs]="columnDefsRoles" [themeGrid]='themeGrid' [getAll]='getAllRoles'
              [discardChangesButton]=true [redoButton]=true [undoButton]=true [deleteButton]=true [addButton]=true
              [hideDuplicateButton]=true [eventAddItemsSubscription]='addElementsEventRoles.asObservable()'
              [eventGetAllRowsSubscription]='getAllElementsEventRoles.asObservable()'
              [eventRefreshSubscription]='dataUpdatedEventRoles.asObservable()' [actionButton]=true
              (getAllRows)="getAllRowsRoles($event)" (add)="openRolesDialog($event)"> </app-data-grid>
          </div>
      </ng-template>
    </mat-expansion-panel>

       <!-- Territory table -->     
       <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
        <mat-expansion-panel-header class="agGridExpansionPanelTitle">
          <mat-panel-title  >
            {{ "tasksEditionEntity.territories" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
    
      <ng-template matExpansionPanelContent>  
            <div class="appDataGridEditDiv">
                <app-data-grid [columnDefs]="columnDefsTerritories" [themeGrid]='themeGrid' [getAll]='getAllTerritories'
                  [eventAddItemsSubscription]='addElementsEventTerritories.asObservable()'
                  [eventGetAllRowsSubscription]='getAllElementsEventTerritories.asObservable()'
                  [eventRefreshSubscription]='dataUpdatedEventTerritories.asObservable()' [discardChangesButton]=true
                  [redoButton]=true [undoButton]=true [deleteButton]=true [addButton]=true [hideDuplicateButton]=true
                  (getAllRows)="getAllRowsTerritories($event)" [actionButton]=true (add)="openTerritoriesDialog($event)">
                </app-data-grid>
          </div>
      </ng-template>

    </mat-expansion-panel>


  </mat-accordion>
  