@import "../../../variables.scss";

.top-toolbar-row {
	background-color: #FF9300;
	color: white;
}

.toolbar-spacer {
  flex: 1 1 auto;
}



.sitmun-logo-container {
	height: 100%;
}

.sitmun-logo {
  line-height: 100px;
	display: table-cell;
    vertical-align: middle;
    margin: auto 0 auto 0;
    margin-bottom: 8px;
}

.lang-icon {
	background: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    margin-left: 0.5em;
    color: #FFFFFF;
    font-weight: normal;
    display: inline;
    float: left;
    font-size: 0.95em;
    height: 38px;
    position: relative;
    width: 38px;
    text-align: center;
    line-height: 38px;
    text-decoration: none;
    padding: 0px;
}

.lang-icon:hover {
	background: rgba(255, 255, 255, 1.0);
	color: rgba(0, 0, 0, 1.0);
}

.app-title {
	font-size: 1.3em;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-user {
  border-left: 1px solid #707070;
  color:#333;
  font-size: 0.8em;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 5px;
  display: flex;
  align-items: center;
}

.user {
  padding-top: 3px;
}

.toolbar-icon{
  color:#333;
}

.exit-icon{
  color:white;
  background-color: #BF0000;
  border-color: #BF0000;
}

.toolbar-toggle
{
  
    margin-right: 29px;
}

button:focus {
  outline: none !important;
}