<mat-toolbar color="primary">  
    <!-- <mat-toolbar-row class="top-toolbar-row">
      <div class="sitmun-logo-container">
          <a href="#" class="sitmun-logo">
              <img class="logo" src="assets/img/logos/logo_sitmun.svg"  >
          </a>
       </div>
       
       <span class="toolbar-spacer"></span>
  
       <a  class="lang-icon" href="#">{{ lang }}</a>
    </mat-toolbar-row>
   -->
     <mat-toolbar-row class="top-toolbar-row">

        <div class=toolbar-toggle>

            <button mat-icon-button  (click)="clickMenu()" >
                <mat-icon class="menu" >menu</mat-icon>
            </button>          

        </div>

        <!-- aria-hidden="false" aria-label="menu" -->

        <div class="sitmun-logo-container">
            <div class="sitmun-logo">
                <img class="logo" src="assets/img/logos/logo_sitmun.svg"  >
            </div>
         </div>
      <span class="toolbar-spacer"></span>
      

      <button mat-icon-button  >
          <mat-icon class="keyboard_arrow_down" aria-hidden="false" aria-label="keyboard_arrow_down icon">keyboard_arrow_down</mat-icon>
      </button>
    </mat-toolbar-row> 
  </mat-toolbar>
  