<app-form-toolbar
  entityType="{{ config.labelSingular }}"
  font="{{ config.font }}"
  icon="{{ config.icon }}"
  [itemName]="entityForm?.get('username')?.value || ''"
  [isNew]="isNew()"
  (save)="onSaveButtonClicked()"
  (back)="utils.navigateBack()">
</app-form-toolbar>

<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="end"
  [dynamicHeight]="true"
  preserveContent="true">
  <mat-tab label="{{ 'common.form.details' | translate }}">
        <form [formGroup]='entityForm' *ngIf="dataLoaded">
          <mat-card class="sitmun-mat-card-margin" appearance="outlined">
            <mat-card-content>
              <!-- User name -->
              <mat-form-field appearance="outline" class="quarter">
                <mat-label>{{ 'userEntity.user' | translate }}</mat-label>
                <input matInput type="text" formControlName="username" [readonly]="isUsernamePublic()">
              </mat-form-field>
              <div class="break"></div>
              <!-- Blocked -->
              <mat-checkbox formControlName="blocked">
                {{ 'userEntity.blocked' | translate }}
              </mat-checkbox>
            </mat-card-content>
          </mat-card>
          <mat-card class="sitmun-mat-card-margin" appearance="outlined" *ngIf="!isUsernamePublic()">
            <mat-card-content>
              <!-- First name -->
              <mat-form-field appearance="outline" class="half add-gap">
                <mat-label>{{ 'userEntity.firstname' | translate }}</mat-label>
                <input matInput type="text" formControlName="firstName">
              </mat-form-field>
              <!-- Last name -->
              <mat-form-field appearance="outline" class="half">
                <mat-label>{{ 'userEntity.lastname' | translate }}</mat-label>
                <input matInput type="text" formControlName="lastName">
              </mat-form-field>
              <!-- Email -->
              <mat-form-field appearance="outline" class="half add-gap">
                <mat-label>{{ 'userEntity.email' | translate }}</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error *ngIf="entityForm?.get('email')?.hasError('email')">
                  {{ 'userEntity.invalidEmail' | translate }}
                </mat-error>
                <mat-error *ngIf="entityForm?.get('email')?.hasError('pattern')">
                  {{ 'userEntity.invalidEmailFormat' | translate }}
                </mat-error>
              </mat-form-field>
              <div class="break"></div>
              <!-- Password -->
              <mat-form-field appearance="outline" class="half">
                <mat-label>{{ 'common.form.password.label' | translate }}</mat-label>
                <input matInput
                       formControlName="newPassword"
                       type="text"
                       [maxlength]="50"
                       (input)="onPasswordChange()"
                       class="password-input">
                <mat-hint align="end" *ngIf="isPasswordBeingEdited">
                  {{ entityForm?.get('newPassword') | characterCount }}
                </mat-hint>
              </mat-form-field>
              <div class="break"></div>
              <!-- Administrator -->
              <mat-checkbox formControlName="administrator">
                {{ 'userEntity.administrator' | translate }}
              </mat-checkbox>
            </mat-card-content>
          </mat-card>
        </form>
  </mat-tab>
  <mat-tab label="{{ 'entity.role.users.header' | translate }}">
    <mat-card class="sitmun-mat-card-margin" appearance="outlined">
      <mat-card-content>
        <app-data-grid [changeHeightButton]="true"
                      [allNewElements]="isNewOrDuplicated()"
                      [columnDefs]="userConfigurationsTable.relationsColumnsDefs"
                      [getAll]='userConfigurationsTable.relationsFetchFn'
                      [eventAddItemsSubscription]='userConfigurationsTable.addCommandEvent$.asObservable()'
                      [eventGetAllRowsSubscription]='userConfigurationsTable.saveCommandEvent$.asObservable()'
                      [eventRefreshSubscription]='userConfigurationsTable.refreshCommandEvent$.asObservable()'
                      [actionButton]=true
                      [discardChangesButton]=true
                      [redoButton]=true
                      [undoButton]=true
                      [deleteButton]=true
                      [addButton]=true
                      [defaultColumnSorting]='userConfigurationsTable.defaultRelationsSorting()'
                      [hideDuplicateButton]=true
                      [hideReplaceButton]=true
                      (getAllRows)="userConfigurationsTable.handleSaveRelations($event)"
                      (add)="userConfigurationsTable.openDialog($event)"
                      *ngIf="dataLoaded"
        ></app-data-grid>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="{{'userEntity.dataOfTerritory' | translate }}">
    <app-data-grid [changeHeightButton]="true"
                   [allNewElements]="isNew()"
                   [columnDefs]="columnDefsData"
                   [getAll]='getAllDataTerritory'
                   [eventAddItemsSubscription]='addElementsEventTerritoryData.asObservable()'
                   [eventGetAllRowsSubscription]='getAllElementsEventTerritoryData.asObservable()'
                   [eventRefreshSubscription]='dataUpdatedEventTerritoryData.asObservable()'
                   [discardChangesButton]=true
                   [actionButton]=true
                   [deleteButton]=true
                   [redoButton]=true
                   [undoButton]=true
                   [hideDuplicateButton]=true
                   [addButton]=true
                   [defaultColumnSorting]="['territoryName']"
                   (getAllRows)="getAllRowsDataTerritories($event)"
                   *ngIf="dataLoaded"
    >
    </app-data-grid>
  </mat-tab>
</mat-tab-group>
