<div class="titleDiv" >
  <h4><mat-icon aria-hidden="false"  svgIcon="menu_usuari"></mat-icon> {{ "userEntity.user" | translate }}-{{(userID==-1?"new":"edit") | translate}}</h4>
  <span class="divider"></span>
</div>


<div class="formDiv">
  <form [formGroup]='userForm' #f="ngForm" 	(ngSubmit)="onSaveButtonClicked()"> 
    <div class="formHeader">
      <h5> {{'userEntity.generalData' | translate}} </h5>
      <button   mat-flat-button class="saveButton"  >
        <mat-icon fontSet="material-icons-round"  > save </mat-icon>
        {{ "save" | translate }}
      </button>
      <button type="button" (click)="utils.navigateBack()"  mat-flat-button class="returnButton"  >
        <mat-icon fontSet="material-icons-round"> arrow_back </mat-icon>
        {{ "return" | translate }}
      </button>
    </div>
    <span class="divider"></span>
  
      <div class="rowFormDiv">
          <div class="colFormDiv">
            <label class="formLabel requiredInput">
              {{'userEntity.user' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="username">
            </mat-form-field>
          </div>
  
          <div class="colFormDiv" >
            <label class="formLabel requiredInput">
              {{'userEntity.firstname' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="firstName">
            </mat-form-field>
          </div>
  
          <div class="LargeColFormDiv">
              <label class="formLabel">
                {{'userEntity.lastname' | translate}}
              </label>
              <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="lastName">
              </mat-form-field>
            </div>

      </div>
  
      <div class="rowFormDiv">
      
          
        <div class="MidColFormDiv" >
            <label class="formLabel">
              {{'userEntity.password' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
            </mat-form-field>
          </div>

          <div class="MidColFormDiv" >
            <label class="formLabel">
              {{'userEntity.confirmPassword' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
            </mat-form-field>
          </div>

          <div class="ShortColFormDiv" >
            <label class="formLabel">
              {{'userEntity.administrator' | translate}}
            </label>
            <mat-checkbox formControlName="administrator"> </mat-checkbox>
          </div>

          <div class="ShortColFormDiv" >
            <label class="formLabel" id="right-column">
              {{'userEntity.blocked' | translate}}
            </label>
            <mat-checkbox formControlName="blocked"> </mat-checkbox>
          </div>
    </div>
  </form>
</div>

<div class="tableDiv" *ngIf="dataLoaded">
  <mat-accordion multi>

    <!-- Permits table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "userEntity.permissions" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
  
    <div matExpansionPanelContent>  
      <div class="appDataGridEditDiv">
          <app-data-grid [changeHeightButton]="true"  [columnDefs]="columnDefsPermits" [themeGrid]='themeGrid' [getAll]='getAllPermits'  
          [eventRefreshSubscription]='dataUpdatedEvent.asObservable()' [eventGetAllRowsSubscription]='getAllElementsEventPermits.asObservable()' 
          [eventRefreshSubscription]='dataUpdatedEventPermits.asObservable()' [eventAddItemsSubscription]='addElementsEventPermits.asObservable()'
           [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [addButton]=true 
          (getAllRows)="getAllRowsPermits($event)" [actionButton]=true  (add)="openPermitsDialog($event)"  > </app-data-grid>
      </div>
    </div>
  
  
    </mat-expansion-panel>


      <!-- Territory data table -->     
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "userEntity.dataOfTerritory" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
  
    <ng-template matExpansionPanelContent>  
      <div class="appDataGridEditDiv">
          <app-data-grid [changeHeightButton]="true" [columnDefs]="columnDefsData" [themeGrid]='themeGrid' [getAll]='getAllDataTerritory'  
          [eventAddItemsSubscription]='addElementsEventTerritoryData.asObservable()' [eventGetAllRowsSubscription]='getAllElementsEventTerritoryData.asObservable()' 
          [eventRefreshSubscription]='dataUpdatedEventTerritoryData.asObservable()' [discardChangesButton]=true [redoButton]=true
          [undoButton]=true  [hideDuplicateButton]=true (getAllRows)="getAllRowsDataTerritories($event)" [actionButton]=true > </app-data-grid>
      </div>
    </ng-template>
  
  
    </mat-expansion-panel>

  </mat-accordion>

</div>
  
  
  