<app-form-toolbar
  icon="menu_usuari"
  entityType="userEntity.user"
  [itemName]="userForm.get('username')?.value"
  [isNew]="userID === -1"
  (save)="onSaveButtonClicked()"
  (back)="utils.navigateBack()">
</app-form-toolbar>

<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="end"
  [dynamicHeight]="true"
  preserveContent="true"
  (selectedTabChange)="onTabChange($event)">
  >
  <mat-tab label="{{ 'roleEntity.generalData' | translate }}">
        <form [formGroup]='userForm'>
          <mat-card class="sitmun-mat-card-margin" appearance="outlined">
            <mat-card-content>
              <!-- User name -->
              <mat-form-field appearance="outline" class="quarter">
                <mat-label>{{ 'userEntity.user' | translate }}</mat-label>
                <input matInput type="text" formControlName="username" [readonly]="isUsernamePublic()">
              </mat-form-field>
              <div class="break"></div>
              <!-- Blocked -->
              <mat-checkbox formControlName="blocked">
                {{ 'userEntity.blocked' | translate }}
              </mat-checkbox>
            </mat-card-content>
          </mat-card>
          <mat-card class="sitmun-mat-card-margin" appearance="outlined" *ngIf="!isUsernamePublic()">
            <mat-card-content>
              <!-- First name -->
              <mat-form-field appearance="outline" class="half add-gap">
                <mat-label>{{ 'userEntity.firstname' | translate }}</mat-label>
                <input matInput type="text" formControlName="firstName">
              </mat-form-field>
              <!-- Last name -->
              <mat-form-field appearance="outline" class="half">
                <mat-label>{{ 'userEntity.lastname' | translate }}</mat-label>
                <input matInput type="text" formControlName="lastName">
              </mat-form-field>
              <!-- Email -->
              <mat-form-field appearance="outline" class="half add-gap">
                <mat-label>{{ 'userEntity.email' | translate }}</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error *ngIf="userForm.get('email').hasError('email')">
                  {{ 'userEntity.invalidEmail' | translate }}
                </mat-error>
                <mat-error *ngIf="userForm.get('email').hasError('pattern')">
                  {{ 'userEntity.invalidEmailFormat' | translate }}
                </mat-error>
              </mat-form-field>
              <div class="break"></div>
              <!-- Password -->
              <mat-form-field appearance="outline" class="half add-gap">
                <mat-label>{{ 'userEntity.password' | translate }}</mat-label>
                <input matInput [type]="'password'"
                       formControlName="password"
                       (input)="onPasswordChange()"
                       (focus)="resetPasswordField()">
              </mat-form-field>
              <div class="break"></div>
              <!-- Administrator -->
              <mat-checkbox formControlName="administrator">
                {{ 'userEntity.administrator' | translate }}
              </mat-checkbox>
            </mat-card-content>
          </mat-card>
        </form>
  </mat-tab>
  <mat-tab label="{{ 'userEntity.permissions' | translate }}">
    <app-data-grid [changeHeightButton]="true"
                   [allNewElements]="userID === -1"
                   [columnDefs]="columnDefsPermits"
                   [defaultColumnSorting]="['territory']"
                   [getAll]='getAllPermits'
                   [eventAddItemsSubscription]='addElementsEventPermits.asObservable()'
                   [eventGetAllRowsSubscription]='getAllElementsEventPermits.asObservable()'
                   [eventRefreshSubscription]='dataUpdatedEventPermits.asObservable()'
                   [discardChangesButton]=true
                   [actionButton]=true
                   [redoButton]=true
                   [undoButton]=true
                   [deleteButton]=true
                   [addButton]=true
                   [addFieldRestriction]="['territoryId', 'roleId', 'userId']"
                   (getAllRows)="getAllRowsPermits($event)"
                   (add)="openPermitsDialog()"
                   [redraw]="activeTabIndex === 1"
                   *ngIf="dataLoaded"
    ></app-data-grid>
  </mat-tab>
  <mat-tab label="{{'userEntity.dataOfTerritory' | translate }}">
    <app-data-grid [changeHeightButton]="true"
                   [allNewElements]="userID === -1"
                   [columnDefs]="columnDefsData"
                   [getAll]='getAllDataTerritory'
                   [eventAddItemsSubscription]='addElementsEventTerritoryData.asObservable()'
                   [eventGetAllRowsSubscription]='getAllElementsEventTerritoryData.asObservable()'
                   [eventRefreshSubscription]='dataUpdatedEventTerritoryData.asObservable()'
                   [discardChangesButton]=true
                   [actionButton]=true
                   [deleteButton]=true
                   [redoButton]=true
                   [undoButton]=true
                   [hideDuplicateButton]=true
                   [defaultColumnSorting]="['territoryName']"
                   (getAllRows)="getAllRowsDataTerritories($event)"
                   [redraw]="activeTabIndex === 2"
                   *ngIf="dataLoaded"
    >
    </app-data-grid>
  </mat-tab>
</mat-tab-group>
