<div class="titleDiv" >
  <h4><mat-icon aria-hidden="false"  svgIcon="menu_capes"></mat-icon> {{ "layersEntity.layers" | translate }}-{{"layersEntity."+(layerID==-1?"new":"edit") | translate}}</h4>
  <span class="divider"></span>
</div>

<div class="formDiv">
  <div class="formHeader">
    <h5> Dades generals  </h5>
    <button   mat-flat-button class="saveButton"  >
      <mat-icon fontSet="material-icons-round"  > save </mat-icon>
      {{ "layersEntity.save" | translate }}
    </button>
  </div>
  <span class="divider"></span>
  <form [formGroup]='layerForm' #f="ngForm"> 

      <div class="rowFormDiv">
          <div class="colFormDiv">
            <label class="formLabel">
              {{'layersEntity.name' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="name">
            </mat-form-field>
          </div>
  
          <div class="colFormDiv" >
            <label class="formLabel">
              {{'layersEntity.source' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="source">
            </mat-form-field>
          </div>
  
          <div class="colFormDiv">
              <label class="formLabel">
                {{'layersEntity.minimumScale' | translate}}
              </label>
              <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="minimumScale">
              </mat-form-field>
            </div>
  
            <div class="colFormDiv" id="right-column">
              <label class="formLabel">
                {{'layersEntity.maximumScale' | translate}}
              </label>
              <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="maximumScale">
              </mat-form-field>
            </div>
      </div>

      <div class="rowFormDiv">
        <div class="colFormDiv">
          <label class="formLabel">
            {{'layersEntity.geometryType' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="geometryType">
          </mat-form-field>
        </div>

        <div class="colFormDiv" >
          <label class="formLabel">
            {{'layersEntity.order' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="order">
          </mat-form-field>
        </div>

        <div class="colFormDiv">
            <label class="formLabel">
              {{'layersEntity.transparency' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="transparency">
            </mat-form-field>
          </div>

          <div class="colFormDiv" id="right-column">
            <label class="formLabel">
              {{'layersEntity.metadataURL' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="metadataURL">
            </mat-form-field>
          </div>
    </div>

      <div class="rowFormDiv">
      
          <div class="thirdColumnColFormDiv" >
            <label class="formLabel">
              {{'layersEntity.legendType' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="legendType">
            </mat-form-field>
          </div>
  
          <div class="thirdColumnColFormDiv" >
            <label class="formLabel">
              {{'layersEntity.description' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="description">
            </mat-form-field>
          </div>
  
          <div class="thirdColumnColFormDiv" >
            <label class="formLabel">
              {{'layersEntity.datasetURL' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="datasetURL">
            </mat-form-field>
          </div>
  
          <button *ngIf="layerID==-1" (click)="addNewLayer()" mat-flat-button class="validateButton" >{{ "layersEntity.validate" | translate }}</button>
          <button *ngIf="layerID!=-1" (click)="updateLayer()" mat-flat-button class="validateButton" >{{ "layersEntity.update" | translate }}</button>
    </div>
  </form>
</div>
  
<div class="tableDiv" *ngIf="dataLoaded">
  <mat-accordion *ngIf="layerID!=-1" multi>

    <!-- Parameters configuration table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "layersEntity.parametersConfiguration" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
  
    <ng-template matExpansionPanelContent>  
      <div class="appDataGridEditDiv">
          <app-data-grid  [columnDefs]="columnDefsParameters" [themeGrid]='themeGrid' [getAll]='getAllParameters'  [frameworkComponents]="frameworkComponents"
          [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [newButton]=true 
          (remove)="removeDataParameters($event)" (new)='newDataParameters($event)'  > </app-data-grid>
      </div>
    </ng-template>
    </mat-expansion-panel>


    <!-- Spatial selection table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "layersEntity.spatialSelection" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
  
    <ng-template matExpansionPanelContent>  
      <div class="appDataGridEditDiv">
          <app-data-grid  [columnDefs]="columnDefsSpatialConfigurations" [themeGrid]='themeGrid' [getAll]='getAllSpatialConfigurations'  [frameworkComponents]="frameworkComponents"
          [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [newButton]=false 
          (remove)="removeDataSpatialConfigurations($event)" (new)='newDataSpatialConfigurations($event)'  > </app-data-grid>
      </div>
    </ng-template>
    </mat-expansion-panel>


    <!-- Territory configuration table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "layersEntity.territory" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
  
    <ng-template matExpansionPanelContent>  
      <div class="appDataGridEditDiv">
          <app-data-grid [columnDefs]="columnDefsTerritories" [themeGrid]='themeGrid' [getAll]='getAllTerritories'  [frameworkComponents]="frameworkComponents"
          [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [newButton]=false 
          (remove)="removeDataTerritories($event)" (new)='newDataTerritories($event)'  > </app-data-grid>
      </div>
    </ng-template>
    </mat-expansion-panel>


    <!-- Layers configuration by cartoghaphy group table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "layersEntity.groupCartographyLayersConfiguration" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
  
    <ng-template matExpansionPanelContent>  
      <div class="appDataGridEditDiv">
          <app-data-grid [columnDefs]="columnDefsLayersConfiguration" [themeGrid]='themeGrid' [getAll]='getAllLayersConfiguration'  [frameworkComponents]="frameworkComponents"
          [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [newButton]=false 
          (remove)="removeDataLayersConfiguration($event)" (new)='newDataLayersConfiguration($event)'  > </app-data-grid>
      </div>
    </ng-template>
    </mat-expansion-panel>


    <!-- Nodes table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "layersEntity.nodes" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
  
    <ng-template matExpansionPanelContent>  
      <div class="appDataGridEditDiv">
          <app-data-grid [columnDefs]="columnDefsNodes" [themeGrid]='themeGrid' [getAll]='getAllNodes'  [frameworkComponents]="frameworkComponents"
          [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [newButton]=false 
          (remove)="removeDataNodes($event)" (new)='newDataNodes($event)'  > </app-data-grid>
      </div>
    </ng-template>
    </mat-expansion-panel>



  </mat-accordion>
</div>