<div class="titleDiv" >
  <h4><mat-icon aria-hidden="false"  svgIcon="menu_capes"></mat-icon> {{ "layersEntity.layers" | translate }}-{{(layerID==-1?"new":"edit") | translate}}</h4>
  <span class="divider"></span>
</div>

<div class="formDiv">
  <div class="formHeader">
    <h5> {{'layersEntity.generalData' | translate}} </h5>
    <button   mat-flat-button (click)="onSaveButtonClicked()" class="saveButton"  >
      <mat-icon fontSet="material-icons-round"  > save </mat-icon>
      {{ "save" | translate }}
    </button>
    <button (click)="utils.navigateBack()"  mat-flat-button class="returnButton"  >
      <mat-icon fontSet="material-icons-round"> arrow_back </mat-icon>
      {{ "return" | translate }}
    </button>
  </div>
  <span class="divider"></span>
  <form [formGroup]='layerForm' #f="ngForm"> 

      <div class="rowFormDiv">
          <div class="colFormDiv">
            <label class="formLabel requiredInput">
              {{'layersEntity.name' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="name" required>
            </mat-form-field>
          </div>
  
          <div class="colFormDiv" >
            <label class="formLabel">
              {{'layersEntity.serviceName' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="serviceName">
            </mat-form-field>
          </div>
          <div class="colFormDiv">
            <label class="formLabel requiredInput">
              {{'layersEntity.layers' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="layers" required>
            </mat-form-field>
          </div>
          
      </div>

      <div class="rowFormDiv">
        <div class="colFormDiv">
          <label class="formLabel">
            {{'layersEntity.minimumScale' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="minimumScale">
          </mat-form-field>
        </div>

        <div class="colFormDiv" >
          <label class="formLabel">
            {{'layersEntity.maximumScale' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="maximumScale">
          </mat-form-field>
        </div>


        <div class="colFormDiv" >
          <label class="formLabel">
            {{'layersEntity.order' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="order">
          </mat-form-field>
        </div>

        <div class="colFormDiv">
            <label class="formLabel">
              {{'layersEntity.transparency' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="transparency">
            </mat-form-field>
          </div>

          <div class="colFormDiv" id="right-column">
            <label class="formLabel">
              {{'layersEntity.metadataURL' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="metadataURL">
            </mat-form-field>
          </div>
      </div>

      <div class="rowFormDiv">
      
          <div class="thirdColumnColFormDiv" >
            <label class="formLabel">
              {{'layersEntity.legendType' | translate}}
            </label>

            <mat-form-field appearance="outline">
              <mat-select matInput formControlName="legendType" class="form-control">
                <mat-option [value]="legendType.value" *ngFor="let legendType of legendTypes">
                  {{ legendType.description}}
                </mat-option>
              </mat-select>
            </mat-form-field> 
          </div>
  
          <div class="thirdColumnColFormDiv" >
            <label class="formLabel">
              {{'layersEntity.description' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="description">
            </mat-form-field>
          </div>
  
          <div class="thirdColumnColFormDiv" >
            <label class="formLabel">
              {{'layersEntity.datasetURL' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="datasetURL">
            </mat-form-field>
          </div>

          
          <div class="colFormDiv">
            <label class="formLabel">
              {{'layersEntity.available' | translate}}
            </label>
            <mat-checkbox formControlName="blocked"> </mat-checkbox>
          </div>
  
    </div>

    <div class="formHeader">
      <h5> {{'layersEntity.municipalFilter' | translate}} </h5>
    </div>
    <span class="divider"></span>

        <div class="rowFormDiv">
            <div class="colFormDiv">
              <label class="formLabel requiredInput">
                {{'layersEntity.municipalFilterFields' | translate}}
              </label>
              <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="municipalFilterFields" required>
              </mat-form-field>
            </div>
    
            <div class="colFormDiv" >
              <label class="formLabel">
                {{'layersEntity.filterInfoByMunicipality' | translate}}
              </label>
              <mat-checkbox formControlName="filterInfoByMunicipality"> </mat-checkbox>
            </div>
  
            <div class="colFormDiv">
              <label class="formLabel">
                {{'layersEntity.filterSpatialSeleciontByMunicipality' | translate}}
              </label>
              <mat-checkbox formControlName="filterSpatialSeleciontByMunicipality"> </mat-checkbox>
            </div>
            
        </div>

          <div class="formHeader">
            <h5> Informació  </h5>
          </div>
          <span class="divider"></span>

          <div class="rowFormDiv">
        
            <div class="colFormDivInformation" >
              <label class="formLabel">
                {{'layersEntity.information' | translate}}
              </label>
              <mat-checkbox formControlName="information"> </mat-checkbox>
            </div>
  
            <div class="colFormDivDefaultInformation" >
              <label class="formLabel">
                {{'layersEntity.defaultInformation' | translate}}
              </label>
              <mat-checkbox formControlName="defaultInformation"> </mat-checkbox>
            </div>
  
            <div class="colFormDiv">
              <label class="formLabel requiredInput">
                {{'layersEntity.informationLayer' | translate}}
              </label>
              <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="informationLayer" required>
              </mat-form-field>
            </div>
  
            
            <div class="colFormDiv">
              <label class="formLabel">
                {{'layersEntity.thematic' | translate}}
              </label>
              <mat-checkbox formControlName="defaultInformation"> </mat-checkbox>
            </div>
            
        </div>

  </form>
</div>

<div class="tableDiv" *ngIf="layerID==-1 || dataLoaded">
  <mat-accordion  multi>

    <!-- Parameters configuration table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "layersEntity.parametersConfiguration" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
  
    <ng-template matExpansionPanelContent>  
      <div class="appDataGridEditDiv">
          <app-data-grid  [columnDefs]="columnDefsParameters" [themeGrid]='themeGrid' [getAll]='getAllParameters'  
          [eventAddItemsSubscription]='addElementsEventParameters.asObservable()'[eventGetAllRowsSubscription]='getAllElementsEventParameters.asObservable()' 
          [eventRefreshSubscription]='dataUpdatedEventParameters.asObservable()' [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [newButton]=true 
          (getAllRows)="getAllRowsParameters($event)" [actionButton]=true (duplicate)='duplicateParameters($event)'  (new)="openParametersDialog($event)"  > </app-data-grid>
      </div>
    </ng-template>
    </mat-expansion-panel>


    <!-- Spatial selection table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "layersEntity.spatialSelection" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
  
    <ng-template matExpansionPanelContent>  
      <div class="appDataGridEditDiv">
          <app-data-grid  [columnDefs]="columnDefsSpatialConfigurations" [themeGrid]='themeGrid' [getAll]='getAllSpatialConfigurations'  
          [eventAddItemsSubscription]='addElementsEventSpatialConfigurations.asObservable()'[eventGetAllRowsSubscription]='getAllElementsEventSpatialConfigurations.asObservable()' 
          [eventRefreshSubscription]='dataUpdatedEventSpatialConfigurations.asObservable()' [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [addButton]=true [hideDuplicateButton]=true  
          (getAllRows)="getAllRowsSpatialConfiguration($event)" [actionButton]=true (add)="openSpatialSelectionDialog($event)"  > </app-data-grid>
      </div>
    </ng-template>
    </mat-expansion-panel>


    <!-- Territory configuration table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "layersEntity.territory" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
  
    <ng-template matExpansionPanelContent>  
      <div class="appDataGridEditDiv">
          <app-data-grid [columnDefs]="columnDefsTerritories" [themeGrid]='themeGrid' [getAll]='getAllTerritories'  
          [eventAddItemsSubscription]='addElementsEventTerritories.asObservable()'[eventGetAllRowsSubscription]='getAllElementsEventTerritories.asObservable()' 
          [eventRefreshSubscription]='dataUpdatedEventTerritories.asObservable()' [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [addButton]=true [hideDuplicateButton]=true  
          (getAllRows)="getAllRowsTerritories($event)"  [actionButton]=true (add)="openTerritoriesDialog($event)"   > </app-data-grid>
      </div>
    </ng-template>
    </mat-expansion-panel>


    <!-- Layers configuration by cartoghaphy group table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "layersEntity.permissiongroupLayersConfiguration" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
  
    <ng-template matExpansionPanelContent>  
      <div class="appDataGridEditDiv">
          <app-data-grid [columnDefs]="columnDefsLayersConfiguration" [themeGrid]='themeGrid' [getAll]='getAllLayersConfiguration'  
          [eventAddItemsSubscription]='addElementsEventCartographyGroups.asObservable()'[eventGetAllRowsSubscription]='getAllElementsEventLayersConfigurations.asObservable()' 
          [eventRefreshSubscription]='dataUpdatedEventLayersConfiguration.asObservable()' [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [addButton]=true [hideDuplicateButton]=true  
          (getAllRows)="getAllRowsLayersConfiguration($event)" [actionButton]=true (add)="openCartographyGroupsDialog($event)" > </app-data-grid>
      </div>
    </ng-template>
    </mat-expansion-panel>


    <!-- Nodes table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "layersEntity.nodes" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
  
    <ng-template matExpansionPanelContent>  
      <div class="appDataGridEditDiv">
          <app-data-grid [columnDefs]="columnDefsNodes" [themeGrid]='themeGrid' [getAll]='getAllNodes' 
          [eventAddItemsSubscription]='addElementsEventNodes.asObservable()' [eventGetAllRowsSubscription]='getAllElementsEventNodes.asObservable()' 
          [eventRefreshSubscription]='dataUpdatedEventNodes.asObservable()' [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [addButton]=true [hideDuplicateButton]=true 
          (getAllRows)="getAllRowsNodes($event)" [actionButton]=true (add)="openNodesDialog($event)" > </app-data-grid>
      </div>
    </ng-template>
    </mat-expansion-panel>



  </mat-accordion>
</div>

<ng-template #newParameterDialog>

  <div class="formDiv">
    <form [formGroup]='parameterForm' #f="ngForm"> 
  
  
      <div class="rowFormDiv">
      
          <div class="colFormDiv" >
            <label class="formLabel requiredInput">
              {{'layersEntity.field' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="value" required>
            </mat-form-field>
          </div>
  
          <div class="colFormDiv" >
            <label class="formLabel requiredInput">
              {{'layersEntity.alias' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="name" required>
            </mat-form-field>
          </div>
  
  
     </div>

     <div class="rowFormDiv">

      <div class="colFormDiv" >
        <label class="formLabel requiredInput">
          {{'layersEntity.format' | translate}}
        </label>
        <mat-form-field appearance="outline" >
          <mat-select matInput formControlName="format" class="form-control" >
            <mat-option [value]="formatType.value" *ngFor="let formatType of parameterFormatTypes">
              {{ formatType.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      


      <div class="colFormDiv" >
        <label class="formLabel requiredInput">
          {{'layersEntity.type' | translate}}
        </label>
        <mat-form-field appearance="outline" >
          <mat-select matInput formControlName="type" class="form-control" >
            <mat-option [value]="parameterType.value" *ngFor="let parameterType of parameterTypes">
              {{ parameterType.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      

 </div>
  
     <div class="rowFormDiv">
      
      <div class="colFormDiv" >
        <label class="formLabel requiredInput">
          {{'layersEntity.order' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="number" formControlName="order" required>
        </mat-form-field>
      </div>
  
  
    </div>
  
  </form>
  </div>
  
  
  </ng-template>