<div class="titleDiv">
  <h4>
    <mat-icon aria-hidden="false" svgIcon="menu_capes"></mat-icon> {{ "layersEntity.layers" | translate
    }}-{{(layerID==-1?"new":"edit") | translate}}
  </h4>
  <span class="divider"></span>
</div>

<form [formGroup]='layerForm' #f="ngForm"	(ngSubmit)="onSaveButtonClicked()">
<div class="formDiv">
    <div class="formHeader">
      <h5> {{'layersEntity.generalData' | translate}} </h5>
      <button type="submit" mat-flat-button  class="saveButton">
        <mat-icon fontSet="material-icons-round"> save </mat-icon>
        {{ "save" | translate }}
      </button>
      <button type="button" (click)="utils.navigateBack()" mat-flat-button class="returnButton">
        <mat-icon fontSet="material-icons-round"> arrow_back </mat-icon>
        {{ "return" | translate }}
      </button>
    </div>
    <span class="divider"></span>


    <div class="rowFormDiv">
      <div class="colFormDiv">
        <label class="formLabel requiredInput">
          {{'layersEntity.name' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="name" required>
        </mat-form-field>
      </div>
      
      <div class="colFormDiv">
        <label class="formLabel requiredInput">
          {{'layersEntity.layers' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="layers" required>
        </mat-form-field>
      </div>


    </div>

    <div class="rowFormDiv">
      <div class="colFormDiv">
        <label class="formLabel">
          {{'layersEntity.minimumScale' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="number" formControlName="minimumScale">
        </mat-form-field>
      </div>

      <div class="colFormDiv">
        <label class="formLabel">
          {{'layersEntity.maximumScale' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="number" formControlName="maximumScale">
        </mat-form-field>
      </div>


      <div class="colFormDiv">
        <label class="formLabel">
          {{'layersEntity.order' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="number" formControlName="order">
        </mat-form-field>
      </div>

      <div class="colFormDiv">
        <label class="formLabel">
          {{'layersEntity.transparency' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="number" formControlName="transparency">
        </mat-form-field>
      </div>

    </div>
    <div class="rowFormDiv">
      <div class="colFormDiv">
        <label class="formLabel">
          {{'layersEntity.legendType' | translate}}
        </label>

        <mat-form-field appearance="outline">
          <mat-select matInput formControlName="legendType" class="form-control">
            <mat-option [value]="legendType.value" *ngFor="let legendType of legendTypes">
              {{ legendType.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="colFormDiv">
        <label class="formLabel requiredInput">
          {{'layersEntity.serviceName' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <mat-select matInput formControlName="service" class="form-control">
            <mat-option [value]="service.id" *ngFor="let service of services">
              {{ service.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div class="colFormDiv">
        <label class="formLabel">
          {{'layersEntity.source' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="source">
        </mat-form-field>
      </div>
      <div class="colFormDiv">
        <label class="formLabel">
          {{'layersEntity.legendUrl' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="legendUrl">
        </mat-form-field>
      </div>
      
    </div>
    
    <div class="rowFormDiv">

      <div class="colFormDiv">
        <label class="formLabel">
          {{'layersEntity.datasetURL' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="datasetURL">
        </mat-form-field>
      </div>


      <div class="colFormDiv">
        <label class="formLabel">
          {{'layersEntity.metadataURL' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="metadataURL">
        </mat-form-field>
      </div>
    </div>

    <div class="rowFormDiv">
      <div class="colFormDivTwoSelectors">
        <label class="formLabel">
          {{'layersEntity.description' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <textarea matInput type="text" formControlName="description"> </textarea>
          <mat-icon matSuffix class="iconTranslate" (click)="onTranslationButtonClicked()" svgIcon="ic_translate"></mat-icon>
        </mat-form-field>
      </div>

      <div class="HalfMidLargeColFormDiv">
        <label class="formLabel">
          {{'layersEntity.available' | translate}}
        </label>
        <mat-checkbox formControlName="blocked"> </mat-checkbox>
      </div>

      <div class="HalfMidLargeColFormDiv">
        <label class="formLabel">
          {{'layersEntity.useAllStyles' | translate}}
        </label>
        <mat-checkbox formControlName="useAllStyles"> </mat-checkbox>
      </div>
    </div>

    <div class="formHeader">
      <h5> {{'layersEntity.territorialFilter' | translate}} </h5>
    </div>
    <span class="divider"></span>

    <div class="rowFormDiv">
      <!-- <div class="colFormDiv">
        <label class="formLabel requiredInput">
          {{'layersEntity.municipalFilterFields' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="applyFilterToGetMap" >
        </mat-form-field>
      </div> -->

      <div class="colFormDiv">
        <label class="formLabel">
          {{'layersEntity.applyFilterToGetMap' | translate}}
        </label>
        <mat-checkbox  formControlName="applyFilterToGetMap">
        </mat-checkbox> 
      </div>

      <div class="colFormDiv">
        <label class="formLabel">
          {{'layersEntity.filterInfoByMunicipality' | translate}}
        </label>
        <mat-checkbox  formControlName="applyFilterToGetFeatureInfo">
        </mat-checkbox> 
      </div>
      <!-- (change)="onMunicipalityFilterChange($event)" -->

      <div class="colFormDiv">
        <label class="formLabel" >
          {{'layersEntity.filterSpatialSeleciontByMunicipality' | translate}}
        </label>
        <mat-checkbox formControlName="applyFilterToSpatialSelection">
        </mat-checkbox>
      </div>
      <!-- (change)="onMunicipalityFilterChange($event)" -->

    </div>

    <div class="formHeader">
      <h5> Informació </h5>
    </div>
    <span class="divider"></span>

    <div class="rowFormDiv">

      <div class="colFormDiv">
        <label class="formLabel">
          {{'layersEntity.information' | translate}}
        </label>
        <mat-checkbox formControlName="queryableFeatureEnabled" (change)="onQueryableFeatureEnabledChange($event)"> </mat-checkbox>
      </div>

      <div class="colFormDiv">
        <label class="formLabel">
          {{'layersEntity.defaultInformation' | translate}}
        </label>
        <mat-checkbox formControlName="queryableFeatureAvailable" > </mat-checkbox>
      </div>

      <div class="colFormDiv"  >
        <label class="formLabel requiredInput">
          {{'layersEntity.informationLayer' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="queryableLayers" required>
        </mat-form-field>
      </div>

    </div>
    <div class="rowFormDiv">
      <div class="ShortColFormDiv">
        <label class="formLabel">
          {{'layersEntity.thematic' | translate}}
        </label>
        <mat-checkbox formControlName="thematic" (change)="onSelectionThematicChanged($event)"> </mat-checkbox>
      </div>

      <div class="colFormDiv">
        <label class="formLabel">
          {{'layersEntity.geometryType' | translate}}
        </label>

        <mat-form-field appearance="outline">
          <mat-select matInput formControlName="geometryType" class="form-control">
            <mat-option [value]="geometryType.value" *ngFor="let geometryType of geometryTypes">
              {{ geometryType.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>


</div>

<div class="tableDiv" *ngIf=" dataLoaded">
  <mat-accordion multi>



    <!-- Spatial selection table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title>
          {{ "layersEntity.spatialSelection" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>


      <ng-template matExpansionPanelContent>
        <div class="formDiv">


            <div class="rowFormDiv">
              <div class="ShortColFormDiv">
                <label class="formLabel">
                  {{'layersEntity.selectable' | translate}}
                </label>
                <mat-checkbox formControlName="selectableFeatureEnabled" (change)="onSelectableFeatureEnabledChange($event)"> </mat-checkbox>
              </div>

              <div class="colFormDiv">
                <label class="formLabel requiredInput">
                  {{'layersEntity.service' | translate}}
                </label>

                <mat-form-field appearance="outline">
                  <mat-select matInput formControlName="spatialSelectionService" class="form-control">
                    <mat-option [value]="service.id" *ngFor="let service of spatialConfigurationServices">
                      {{ service.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>


              <div class="colFormDiv">
                <label class="formLabel requiredInput">
                  {{'layersEntity.layer' | translate}}
                </label>
                <mat-form-field appearance="outline">
                  <input matInput type="text" formControlName="selectableLayers" required>
                </mat-form-field>
              </div>


            </div>


            <!-- <div class="rowFormDiv">     
          <div class="colFormDiv" >    
          <label class="formLabel">
            {{'layersEntity.connection' | translate}}
          </label>

          <mat-form-field appearance="outline">
            <mat-select matInput formControlName="spatialSelectionConnection" class="form-control">
              <mat-option [value]="connection.name" *ngFor="let connection of spatialConfigurationConnections">
                {{ connection.name}}
              </mat-option>
            </mat-select>
          </mat-form-field> 
          </div>
         </div> -->

        </div>
        <div class="appDataGridEditDiv">
          <app-data-grid [changeHeightButton]="true" [allNewElements]="layerID == -1" [columnDefs]="columnDefsSpatialConfigurations" [themeGrid]='themeGrid'
            [getAll]='getAllSpatialConfigurations' defaultColumnSorting="name"
            [eventAddItemsSubscription]='addElementsEventSpatialConfigurations.asObservable()'
            [eventGetAllRowsSubscription]='getAllElementsEventSpatialConfigurations.asObservable()'
            [eventRefreshSubscription]='dataUpdatedEventSpatialConfigurations.asObservable()'
            [discardChangesButton]=true [redoButton]=true [undoButton]=true [deleteButton]=true [newButton]=true
            (getAllRows)="getAllRowsParameters($event, true)" [actionButton]=true addFieldRestriction="name"
            (duplicate)='duplicateParameters($event, true)' (new)="openSpatialSelectionDialog($event)">
          </app-data-grid>
        </div>
      </ng-template>
    </mat-expansion-panel>


    <!-- Parameters configuration table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title>
          {{ "layersEntity.parametersConfiguration" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="appDataGridEditDiv">
          <app-data-grid [changeHeightButton]="true" [allNewElements]="layerID == -1" [columnDefs]="columnDefsParameters" [themeGrid]='themeGrid' [getAll]='getAllParameters'
            [eventAddItemsSubscription]='addElementsEventParameters.asObservable()' defaultColumnSorting="name"
            [eventGetAllRowsSubscription]='getAllElementsEventParameters.asObservable()'
            [eventRefreshSubscription]='dataUpdatedEventParameters.asObservable()' [discardChangesButton]=true
            [redoButton]=true [undoButton]=true [deleteButton]=true [newButton]=true addFieldRestriction="name"
            (getAllRows)="getAllRowsParameters($event, false)" defaultColumnSorting="order" [actionButton]=true
            (duplicate)='duplicateParameters($event, false)' (new)="openParametersDialog($event)"> </app-data-grid>
        </div>
      </ng-template>
    </mat-expansion-panel>

    <!-- Territorial Filter table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title>
          {{ "layersEntity.filters" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="appDataGridEditDiv">
          <app-data-grid [changeHeightButton]="true" [allNewElements]="layerID == -1" [columnDefs]="columnDefsTerritorialFilter" [themeGrid]='themeGrid' [getAll]='getAllTerritorialFilters'
            [eventAddItemsSubscription]='addElementsTerritorialFilter.asObservable()' defaultColumnSorting="name"
            [eventGetAllRowsSubscription]='getAllElementsTerritorialFilter.asObservable()'
            [eventRefreshSubscription]='dataUpdatedEventTerritorialFilter.asObservable()' [discardChangesButton]=true
            [redoButton]=true [undoButton]=true [deleteButton]=true [newButton]=true 
            (getAllRows)="getAllRowsTerritorialFilters($event)"  [actionButton]=true
            (duplicate)='duplicateTerritorialFilters($event)' (new)="openTerritorialFilterDialog($event)"> </app-data-grid>
        </div>
      </ng-template>
    </mat-expansion-panel>

    <!-- Styles configuration table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title>
          {{ "layersEntity.styles" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="appDataGridEditDiv">
          <app-data-grid [changeHeightButton]="true" [allNewElements]="layerID == -1" [columnDefs]="columnDefsStyles" [themeGrid]='themeGrid' [getAll]='getAllStyles'
            [eventAddItemsSubscription]='addElementsEventStyles.asObservable()' defaultColumnSorting="name"
            [eventGetAllRowsSubscription]='getAllElementsEventStyles.asObservable()'
            [eventRefreshSubscription]='dataUpdatedEventStyles.asObservable()' [discardChangesButton]=true
            [redoButton]=true [undoButton]=true [deleteButton]=true [newButton]=true addFieldRestriction="name"
            (getAllRows)="getAllRowsStyles($event)" defaultColumnSorting="order" [actionButton]=true
            (duplicate)='duplicateStyles($event)' (new)="openStylesDialog($event)"> </app-data-grid>
        </div>
      </ng-template>
    </mat-expansion-panel>


    <!-- Territory configuration table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title>
          {{ "layersEntity.territory" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="appDataGridEditDiv">
          <app-data-grid [changeHeightButton]="true" [allNewElements]="layerID == -1" [columnDefs]="columnDefsTerritories" [themeGrid]='themeGrid' [getAll]='getAllTerritories'
            [eventAddItemsSubscription]='addElementsEventTerritories.asObservable()'
            [eventGetAllRowsSubscription]='getAllElementsEventTerritories.asObservable()' addFieldRestriction='territoryId'
            [eventRefreshSubscription]='dataUpdatedEventTerritories.asObservable()' [discardChangesButton]=true
            [redoButton]=true [undoButton]=true defaultColumnSorting="territoryName" [deleteButton]=true [addButton]=true [hideDuplicateButton]=true
            (getAllRows)="getAllRowsTerritories($event)" [actionButton]=true (add)="openTerritoriesDialog($event)">
          </app-data-grid>
        </div>
      </ng-template>
    </mat-expansion-panel>


    <!-- Layers configuration by cartoghaphy group table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title>
          {{ "layersEntity.permissiongroupLayersConfiguration" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="appDataGridEditDiv">
          <app-data-grid [changeHeightButton]="true" [allNewElements]="layerID == -1" [columnDefs]="columnDefsLayersConfiguration" [themeGrid]='themeGrid'
            [getAll]='getAllLayersConfiguration' defaultColumnSorting="name"
            [eventAddItemsSubscription]='addElementsEventCartographyGroups.asObservable()'
            [eventGetAllRowsSubscription]='getAllElementsEventLayersConfigurations.asObservable()'
            [eventRefreshSubscription]='dataUpdatedEventLayersConfiguration.asObservable()' [discardChangesButton]=true
            [redoButton]=true [undoButton]=true [deleteButton]=true [addButton]=true [hideDuplicateButton]=true
            (getAllRows)="getAllRowsLayersConfiguration($event)" [actionButton]=true
            (add)="openCartographyGroupsDialog($event)"> </app-data-grid>
        </div>
      </ng-template>
    </mat-expansion-panel>


    <!-- Nodes table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title>
          {{ "layersEntity.nodes" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="appDataGridEditDiv">
          <app-data-grid [changeHeightButton]="true" [allNewElements]="layerID == -1" [columnDefs]="columnDefsNodes" [themeGrid]='themeGrid' [getAll]='getAllNodes'
            [eventAddItemsSubscription]='addElementsEventNodes.asObservable()' [defaultColumnSorting]="['name','treeName']"
            [eventGetAllRowsSubscription]='getAllElementsEventNodes.asObservable()'
            [eventRefreshSubscription]='dataUpdatedEventNodes.asObservable()' [discardChangesButton]=false
            [redoButton]=true [undoButton]=true  [addButton]=false [hideDuplicateButton]=true
            (getAllRows)="getAllRowsNodes($event)" [actionButton]=false (add)="openNodesDialog($event)"> </app-data-grid>
        </div>
      </ng-template>
    </mat-expansion-panel>



  </mat-accordion>
</div>
</form>

<ng-template #newParameterDialog>

  <div class="formDiv">
    <form [formGroup]='parameterForm' #f="ngForm">


      <div class="rowFormDiv">

        <div class="colFormDiv">
          <label class="formLabel requiredInput">
            {{'layersEntity.field' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="name" required>
          </mat-form-field>
        </div>

        <div class="colFormDiv">
          <label class="formLabel requiredInput">
            {{'layersEntity.alias' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="value" required>
          </mat-form-field>
        </div>


      </div>

      <div class="rowFormDiv">

        <div class="colFormDiv">
          <label class="formLabel ">
            {{'layersEntity.format' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <mat-select matInput formControlName="format" class="form-control">
              <mat-option [value]="formatType.value" *ngFor="let formatType of parameterFormatTypes">
                {{ formatType.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="colFormDiv">
          <label class="formLabel">
            {{'layersEntity.order' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="order" >
          </mat-form-field>
        </div>


      </div>

      <div class="rowFormDiv">

        <div class="colFormDiv">
          <label class="formLabel requiredInput">
            {{'layersEntity.type' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <mat-select matInput formControlName="type" class="form-control">
              <mat-option [value]="type.value" *ngFor="let type of parameterTypes">
                {{ type.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>



    </form>
  </div>


</ng-template>


<ng-template #newSpatialConfigurationDialog>

  <div class="formDiv">
    <form [formGroup]='parameterForm' #f="ngForm">


      <div class="rowFormDiv">

        <div class="colFormDiv">
          <label class="formLabel requiredInput">
            {{'layersEntity.field' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="value" required>
          </mat-form-field>
        </div>

        <div class="colFormDiv">
          <label class="formLabel requiredInput">
            {{'layersEntity.alias' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="name" required>
          </mat-form-field>
        </div>


      </div>

      <div class="rowFormDiv">

        <div class="colFormDiv">
          <label class="formLabel ">
            {{'layersEntity.format' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <mat-select matInput formControlName="format" class="form-control">
              <mat-option [value]="formatType.value" *ngFor="let formatType of spatialSelectionParameterFormatTypes">
                {{ formatType.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="colFormDiv">
          <label class="formLabel requiredInput">
            {{'layersEntity.type' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <mat-select matInput formControlName="type" class="form-control">
              <mat-option [value]="type.value" *ngFor="let type of spatialSelectionParameterTypes">
                {{ type.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


      </div>

    </form>
  </div>


</ng-template>


<ng-template #newTerritorialFilterDialog>

  <div class="formDiv">
    <form [formGroup]='territorialFilterForm' #f="ngForm">


      <div class="rowFormDiv">

        <div class="MidLargeColFormDiv">
          <label class="formLabel requiredInput">
            {{'layersEntity.name' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="name" >
          </mat-form-field>
        </div>

        <div class="MidLargeColFormDiv">
          <label class="formLabel">
            {{'layersEntity.column' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="column" >
          </mat-form-field>
        </div>

        
        <div class="MidLargeColFormDiv">
          <label class="formLabel">
            {{'layersEntity.value' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="values" >
          </mat-form-field>
        </div>

      </div>

      <div class="rowFormDiv">

        <div class="MidLargeColFormDiv">
          <label class="formLabel ">
            {{'layersEntity.type' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <mat-select matInput formControlName="type" class="form-control">
              <mat-option [value]="filterType.value" *ngFor="let filterType of filterTypes">
                {{ filterType.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        
        <div class="MidLargeColFormDiv">
          <label class="formLabel ">
            {{'layersEntity.valueType' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <mat-select matInput formControlName="valueType" class="form-control">
              <mat-option [value]="valueType.value" *ngFor="let valueType of filterValueTypes">
                {{ valueType.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div class="MidLargeColFormDiv">
          <label class="formLabel ">
            {{'layersEntity.typeId' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <mat-select matInput formControlName="territorialLevel" class="form-control">
              <mat-option [value]="typeId.id" *ngFor="let typeId of filterTypeIds">
                {{ typeId.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


      </div>

      
      <div class="rowFormDiv">
        <div class="colFormDiv">
          <label class="formLabel">
            {{'layersEntity.required' | translate}}
          </label>
          <mat-checkbox formControlName="required"> </mat-checkbox>
        </div>
      </div>


    </form>
  </div>


</ng-template>

<ng-template #newStyleDialog>

  <div class="formDiv">
    <form [formGroup]='styleForm' #f="ngForm">


      <div class="rowFormDiv">

        <div class="colFormDiv">
          <label class="formLabel requiredInput">
            {{'layersEntity.name' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="name" required>
          </mat-form-field>
        </div>

        <div class="colFormDiv">
          <label class="formLabel ">
            {{'layersEntity.title' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="title">
          </mat-form-field>
        </div>


      </div>

      <div class="rowFormDiv">


        <div class="colFormDiv">
          <label class="formLabel">
            {{'layersEntity.description' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="description">
          </mat-form-field>
        </div>


        <div class="colFormDiv">
          <label class="formLabel">
            {{'layersEntity.format' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="format">
          </mat-form-field>
        </div>

        
        <!-- <div class="colFormDiv">
          <label class="formLabel ">
            {{'layersEntity.format' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <mat-select matInput formControlName="format" class="form-control">
              <mat-option [value]="formatType.value" *ngFor="let formatType of parameterFormatTypes">
                {{ formatType.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->


      </div>

      <div class="rowFormDiv">


        <div class="colFormDiv">
          <label class="formLabel">
            {{'layersEntity.width' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="width" >
          </mat-form-field>
        </div>

        <div class="colFormDiv">
          <label class="formLabel">
            {{'layersEntity.height' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="height" >
          </mat-form-field>
        </div>


      </div>

      <div class="rowFormDiv">

        <div class="colFormDiv">
          <label class="formLabel">
            {{'layersEntity.url' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="url">
          </mat-form-field>
        </div>

      <div class="colFormDiv">
        <label class="formLabel">
          {{'layersEntity.defaultStyle' | translate}}
        </label>
        <mat-checkbox formControlName="defaultStyle"> </mat-checkbox>
      </div>


      </div>



    </form>
  </div>


</ng-template>