<app-data-grid
  [actionButton]="true"
  [addButton]="showAddButton"
  [addFieldRestriction]="table.addFieldRestriction"
  [allNewElements]="allNewElements"
  [changeHeightButton]="changeHeightButton"
  [columnDefs]="table.relationsColumnsDefs"
  [defaultColumnSorting]="table.defaultRelationsSorting()"
  [deleteButton]="showDeleteButton"
  [eventAddItemsSubscription]="shouldWireSave ? table.addCommandEvent$.asObservable() : undefined"
  [eventGetAllRowsSubscription]="shouldWireSave ? table.saveCommandEvent$.asObservable() : undefined"
  [eventRefreshSubscription]="table.refreshCommandEvent$.asObservable()"
  [getAll]="table.relationsFetchFn"
  [globalSearch]="globalSearch"
  [hideDuplicateButton]="!showDuplicateButton"
  [hideReplaceButton]="true"
  [newButton]="showNewButton"
  [newStatusRegister]="newStatusRegister"
  [readOnly]="readOnly"
  [registerButton]="showRegisterButton"
  (add)="table.openDialog($event)"
  (duplicate)="table.duplicateRelations($event)"
  (getAllRows)="table.handleSaveRelations($event)"
  (new)="table.openTemplateDialog(templateDialogName!)">
</app-data-grid>
