<div class="titleDiv" >
    <h4><mat-icon aria-hidden="false"  svgIcon="menu_connexio"></mat-icon> {{ "tasksQueryEntity.tasksQuery" | translate }}-{{(taskQueryID==-1?"new":"edit") | translate}}</h4>
    <span class="divider"></span>
  </div>
  
  <div class="formDiv">
    <form [formGroup]='formTasksQuery' #f="ngForm" (ngSubmit)="onSaveButtonClicked()"> 
      <div class="formHeader">
        <h5> {{'tasksQueryEntity.generalData' | translate}} </h5>
        <button   mat-flat-button class="saveButton"  >
          <mat-icon fontSet="material-icons-round"  > save </mat-icon>
          {{ "save" | translate }}
        </button>
        <button type="button" (click)="utils.navigateBack()"  mat-flat-button class="returnButton"  >
          <mat-icon fontSet="material-icons-round"> arrow_back </mat-icon>
          {{ "return" | translate }}
        </button>
      </div>
    <span class="divider"></span>
  
        <div class="rowFormDiv">
            <div class="colFormDiv">
              <label class="formLabel requiredInput">
                {{'tasksQueryEntity.taskName' | translate}}
              </label>
              <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="task" required>
              </mat-form-field>
            </div>
  
            <div class="colFormDiv" > 
              <label class="formLabel ">
                {{'tasksQueryEntity.groupTask' | translate}}
              </label>
              <mat-form-field appearance="outline" >
                <mat-select matInput formControlName="taskGroup" class="form-control" >
                  <mat-option [value]="taskGroup.id" *ngFor="let taskGroup of taskGroups">
                    {{taskGroup.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  

            <div class="colFormDiv">
                <label class="formLabel">
                  {{'tasksQueryEntity.accessType' | translate}}
                </label>
                <mat-form-field appearance="outline">
                  <mat-select matInput formControlName="accessType" class="form-control">
                    <mat-option [value]="accessType.id" *ngFor="let accessType of accessTypes">
                      {{accessType.description}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
              </div>

            <div class="colFormDiv">
                <label class="formLabel">
                  {{'tasksQueryEntity.command' | translate}}
                </label>
                <mat-form-field appearance="outline">
                  <input matInput type="text" formControlName="command">
                </mat-form-field>
            </div>
        </div>
  

        <div class="rowFormDiv">
            <div class="colFormDiv" >
                <label class="formLabel ">
                    {{'tasksQueryEntity.connection' | translate}}
                  </label>
                  <mat-form-field appearance="outline" >
                    <mat-select matInput formControlName="connection" class="form-control" >
                      <mat-option [value]="connection.id" *ngFor="let connection of connections">
                        {{connection.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="colFormDiv" >
                <label class="formLabel">
                  {{'tasksQueryEntity.associatedLayer' | translate}}
                </label>
                <mat-form-field appearance="outline">
                  <input matInput type="text" formControlName="associatedLayer">
                </mat-form-field>
            </div>
        </div>


    </form>

</div>


<div class="tableDiv" *ngIf="dataLoaded">
  <mat-accordion multi>


        <!-- Configuration parameters table -->
        <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
            <mat-expansion-panel-header class="agGridExpansionPanelTitle">
              <mat-panel-title  >
                {{ "tasksQueryEntity.configurationParameters" | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>
        
          <ng-template matExpansionPanelContent>  
              <div class="appDataGridEditDiv">
                  <app-data-grid  [columnDefs]="columnDefsParameters" [themeGrid]='themeGrid' [getAll]='getAllParameters'
                  [eventAddItemsSubscription]='addElementsEventParameters.asObservable()' [eventGetAllRowsSubscription]='getAllElementsEventParameters.asObservable()' 
                   [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [newButton]=true 
                  (getAllRows)="getAllRowsParameters($event)" [actionButton]=true (remove)="removeParameters($event)" (new)='openParametersDialog($event)'  > </app-data-grid>
              </div>
          </ng-template>
        
          </mat-expansion-panel>

      <!-- Roles table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "tasksQueryEntity.roles" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>  
        <div class="appDataGridEditDiv">
          <app-data-grid [columnDefs]="columnDefsRoles" [themeGrid]='themeGrid' [getAll]='getAllRoles'
            [discardChangesButton]=true [redoButton]=true [undoButton]=true [deleteButton]=true [addButton]=true
            [hideDuplicateButton]=true [eventAddItemsSubscription]='addElementsEventRoles.asObservable()'
            [eventGetAllRowsSubscription]='getAllElementsEventRoles.asObservable()'
            [eventRefreshSubscription]='dataUpdatedEventRoles.asObservable()' [actionButton]=true
            (getAllRows)="getAllRowsRoles($event)" (add)="openRolesDialog($event)"> </app-data-grid>
        </div>
      </ng-template>
    </mat-expansion-panel>

       <!-- Territory table -->     
       <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
        <mat-expansion-panel-header class="agGridExpansionPanelTitle">
          <mat-panel-title  >
            {{ "tasksQueryEntity.territories" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
    
      <ng-template matExpansionPanelContent>  
        <div class="appDataGridEditDiv">
          <app-data-grid [columnDefs]="columnDefsTerritories" [themeGrid]='themeGrid' [getAll]='getAllTerritories'
            [eventAddItemsSubscription]='addElementsEventTerritories.asObservable()'
            [eventGetAllRowsSubscription]='getAllElementsEventTerritories.asObservable()'
            [eventRefreshSubscription]='dataUpdatedEventTerritories.asObservable()' [discardChangesButton]=true
            [redoButton]=true [undoButton]=true [deleteButton]=true [addButton]=true [hideDuplicateButton]=true
            (getAllRows)="getAllRowsTerritories($event)" [actionButton]=true (add)="openTerritoriesDialog($event)">
          </app-data-grid>
        </div>
      </ng-template>

    </mat-expansion-panel>


  </mat-accordion>
  