<div class="titleDiv" >
    <h4><mat-icon aria-hidden="false"  svgIcon="menu_connexio"></mat-icon> {{ "tasksDownloadEntity.tasksDownload" | translate }}-{{(taskDownloadID==-1?"new":"edit") | translate}}</h4>
    <span class="divider"></span>
  </div>
  
  <div class="formDiv">
    <form [formGroup]='formTasksDownload' #f="ngForm" (ngSubmit)="onSaveButtonClicked()"> 
      <div class="formHeader">
        <h5> {{'tasksDownloadEntity.generalData' | translate}} </h5>
        <button   mat-flat-button class="saveButton"  >
          <mat-icon fontSet="material-icons-round"  > save </mat-icon>
          {{ "save" | translate }}
        </button>
        <button type="button" (click)="utils.navigateBack()"  mat-flat-button class="returnButton"  >
          <mat-icon fontSet="material-icons-round"> arrow_back </mat-icon>
          {{ "return" | translate }}
        </button>
      </div>
     <span class="divider"></span>
  
        <div class="rowFormDiv">
            <div class="colFormDiv">
              <label class="formLabel requiredInput">
                {{'tasksDownloadEntity.taskName' | translate}}
              </label>
              <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="name" required>
              </mat-form-field>
            </div>
  
            <div class="colFormDiv" > 
              <label class="formLabel">
                {{'tasksDownloadEntity.groupTask' | translate}}
              </label>
              <mat-form-field appearance="outline">
                <mat-select matInput formControlName="taskGroup" class="form-control">
                  <mat-option [value]="taskGroup.id" *ngFor="let taskGroup of taskGroups">
                    {{taskGroup.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
            <div class="colFormDiv">
                <label class="formLabel">
                  {{'tasksDownloadEntity.path' | translate}}
                </label>
                <mat-form-field appearance="outline">
                  <input matInput type="text" formControlName="path">
                </mat-form-field>
              </div>
  
              <div class="colFormDiv" id="right-column">
                <label class="formLabel requiredInput">
                  {{'tasksDownloadEntity.extent' | translate}}
                </label>
                <mat-form-field appearance="outline">
                  <input matInput type="text" formControlName="extent">
                </mat-form-field>
              </div>
        </div>
    </form>

</div>


<div class="tableDiv" *ngIf="dataLoaded">
  <mat-accordion multi>

      <!-- Roles table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "tasksDownloadEntity.roles" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>  
        <div class="appDataGridEditDiv">
          <app-data-grid [changeHeightButton]="true" [columnDefs]="columnDefsRoles" [themeGrid]='themeGrid' [getAll]='getAllRoles'
          [discardChangesButton]=true [redoButton]=true [undoButton]=true [deleteButton]=true [addButton]=true
          [hideDuplicateButton]=true [eventAddItemsSubscription]='addElementsEventRoles.asObservable()'
          [eventGetAllRowsSubscription]='getAllElementsEventRoles.asObservable()'
          [eventRefreshSubscription]='dataUpdatedEventRoles.asObservable()' [actionButton]=true
          (getAllRows)="getAllRowsRoles($event)" (add)="openRolesDialog($event)"> </app-data-grid>
      </div>
      </ng-template>
    </mat-expansion-panel>

       <!-- Territory table -->     
       <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
        <mat-expansion-panel-header class="agGridExpansionPanelTitle">
          <mat-panel-title  >
            {{ "tasksDownloadEntity.territories" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
    
      <ng-template matExpansionPanelContent>  
        <div class="appDataGridEditDiv">
          <app-data-grid [changeHeightButton]="true" [columnDefs]="columnDefsTerritories" [themeGrid]='themeGrid' [getAll]='getAllTerritories'
          [eventAddItemsSubscription]='addElementsEventTerritories.asObservable()'
          [eventGetAllRowsSubscription]='getAllElementsEventTerritories.asObservable()'
          [eventRefreshSubscription]='dataUpdatedEventTerritories.asObservable()' [discardChangesButton]=true
          [redoButton]=true [undoButton]=true [deleteButton]=true [addButton]=true [hideDuplicateButton]=true
          (getAllRows)="getAllRowsTerritories($event)" [actionButton]=true (add)="openTerritoriesDialog($event)">
        </app-data-grid>
      </div>
      </ng-template>

    </mat-expansion-panel>


  </mat-accordion>
  