<mat-toolbar>
  <h4>
    <mat-icon aria-hidden="true" svgIcon="ic_gruptasca"></mat-icon>
    <span class="spacer"> {{ "taskGroupEntity.taskGroup" | translate }}
      - {{ (taskGroupID === -1 ? "new" : "edit") | translate }}</span>
  </h4>
  <span class="spacer"></span>
  <button
    matTooltip="{{ 'save' | translate }}"
    mat-mini-fab class="add-half-gap"
    (click)="onSaveButtonClicked()">
    <mat-icon fontSet="material-icons-round">save</mat-icon>
  </button>
  <button
    matTooltip="{{ 'return' | translate }}"
    mat-mini-fab class="add-half-gap"
    (click)="utils.navigateBack()">
    <mat-icon fontSet="material-icons-round">arrow_back</mat-icon>
  </button>
</mat-toolbar>
<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="end"
  [dynamicHeight]="true"
  preserveContent="true"
  (selectedTabChange)="onTabChange($event)">
  <mat-tab label="{{ 'common.form.details' | translate }}">
    <mat-card appearance="outlined">
      <mat-card-content>
        <form [formGroup]='formtaskGroup'>
          <mat-form-field appearance="outline" class="half">
            <mat-label>{{ 'taskGroupEntity.name' | translate }}</mat-label>
            <input matInput type="text" formControlName="name" required>
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
