<div class="titleDiv" >
  <h4><mat-icon aria-hidden="false"  svgIcon="ic_gruptasca"></mat-icon> {{ "taskGroupEntity.taskGroup" | translate }}-{{(taskGroupID==-1?"new":"edit") | translate}}</h4>
  <span class="divider"></span>
</div>


<div class="formDiv">  
  <div class="formHeader">
    <h5> {{'taskGroupEntity.generalData' | translate}} </h5>
    <button   mat-flat-button (click)="onSaveButtonClicked()" class="saveButton"  >
      <mat-icon fontSet="material-icons-round"  > save </mat-icon>
      {{ "save" | translate }}
    </button>
    <button (click)="utils.navigateBack()"  mat-flat-button class="returnButton"  >
      <mat-icon fontSet="material-icons-round"> arrow_back </mat-icon>
      {{ "return" | translate }}
    </button>
  </div>
  <span class="divider"></span>
  <form [formGroup]='formtaskGroup' #f="ngForm"> 
  
      <div class="rowFormDiv">
          <div class="MidLargeColFormDiv">
            <label class="formLabel requiredInput">
              {{'taskGroupEntity.name' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="name" required>
            </mat-form-field>
          </div>

      </div>

  
  </form>
</div>