<app-form-toolbar icon="menu_tasques" entityType="tasksEntity.tasks" [itemName]="itemName('name')" [isNew]="isNew()"
  [additionalText]="taskTypeNameTranslated" (save)="onSaveButtonClicked()" (back)="utils.navigateBack()">
</app-form-toolbar>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end" [dynamicHeight]="true" preserveContent="true">
  <mat-tab label="{{ 'tasksEntity.generalData' | translate }}">
    <form [formGroup]='entityForm' *ngIf="dataLoaded">
      <mat-card class="sitmun-mat-card-margin" appearance="outlined">
        <mat-card-content>
          <mat-form-field appearance="outline" class="full">
            <mat-label>{{ 'tasksEntity.name' | translate }}</mat-label>
            <input matInput type="text" formControlName="name" [maxlength]="512" required>
            <mat-hint align="end" [class.text-warning]="entityForm.get('name')?.value?.length > 512">
              {{entityForm.get('name') | characterCount}}
              <mat-icon *ngIf="entityForm.get('name')?.value?.length > 512" fontIcon="warning"
                class="warning-icon"></mat-icon>
            </mat-hint>
            <mat-icon matSuffix class="iconTranslate" (click)="onTranslated('name')" onKeyDown="onTranslated('name')"
              svgIcon="ic_translate"></mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" class="quarter add-gap" *ngIf="isNew()">
            <mat-label>{{ 'tasksEntity.accessType' | translate }}</mat-label>
            <mat-select formControlName="scope" class="form-control" (selectionChange)="onTypeChange($event)" required>
              <mat-option [value]="serviceType.value" *ngFor="let serviceType of this.codeList('queryTask.scope')">
                {{ serviceType.description | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="quarter add-gap" *ngIf="!isNew()">
            <mat-label>{{ 'tasksEntity.accessType' | translate }}</mat-label>
            <input matInput [readonly]="true" [value]="findInCodeList('queryTask.scope', entityForm.get('scope').value)?.description | translate">
            <mat-hint align="end">{{ 'Value fixed at creation' | translate}}</mat-hint>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card class="sitmun-mat-card-margin" appearance="outlined"
        *ngIf="entityForm.value.scope===codeValues.queryTaskScope.sqlQuery">
        <mat-card-content>
          <mat-form-field appearance="outline" class="half">
            <mat-label>{{ 'tasksEntity.connection' | translate }}</mat-label>
            <mat-select formControlName="connectionId" class="form-control">
              <mat-option [value]="connection.id" *ngFor="let connection of connections">
                {{ connection.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full">
            <mat-label>{{ 'tasksEntity.sql' | translate }}</mat-label>
            <textarea matInput type="text" formControlName="command" required [maxlength]="4000" rows="4"></textarea>
            <mat-hint align="end">{{entityForm.get('command') | characterCount}}</mat-hint>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card class="sitmun-mat-card-margin" appearance="outlined"
        *ngIf="entityForm.value.scope===codeValues.queryTaskScope.webApiQuery">
        <mat-card-content>
          <mat-form-field appearance="outline" class="full">
            <mat-label>{{ 'tasksEntity.url' | translate }}</mat-label>
            <textarea matInput type="text" formControlName="command" required [maxlength]="4000" rows="4"></textarea>
            <mat-hint align="end">{{entityForm.get('command') | characterCount}}</mat-hint>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card class="sitmun-mat-card-margin" appearance="outlined"
        *ngIf="entityForm.value.scope===codeValues.queryTaskScope.cartographyQuery">
        <mat-card-content>
          <mat-form-field appearance="outline" class="half">
            <mat-label>{{ 'tasksEntity.cartography' | translate }}</mat-label>
            <mat-select formControlName="cartographyId" class="form-control">
              <mat-option [value]="cartography.id" *ngFor="let cartography of cartographies">
                {{ cartography.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-tab>
  <mat-tab label="{{ 'applicationEntity.roles' | translate }}">
    <app-data-grid [changeHeightButton]="true"
                   [allNewElements]="isNewOrDuplicated()"
                   [columnDefs]='rolesTable.relationsColumnsDefs'
                   [getAll]='rolesTable.relationsFetchFn'
                   [eventAddItemsSubscription]='rolesTable.addCommandEvent$.asObservable()'
                   [eventGetAllRowsSubscription]='rolesTable.saveCommandEvent$.asObservable()'
                   [eventRefreshSubscription]='rolesTable.refreshCommandEvent$.asObservable()'
                   [actionButton]=true
                   [discardChangesButton]=true
                   [redoButton]=true
                   [undoButton]=true
                   [deleteButton]=true
                   [addButton]=true
                   [defaultColumnSorting]='rolesTable.defaultRelationsSorting()'
                   [hideDuplicateButton]=true
                   (getAllRows)="rolesTable.handleSaveRelations($event)"
                   (add)="rolesTable.openDialog($event)"
                   *ngIf="dataLoaded"
    ></app-data-grid>
  </mat-tab>
  <mat-tab label="{{ 'layersEntity.territory' | translate }}">
    <app-data-grid [changeHeightButton]="true"
                   [allNewElements]="isNewOrDuplicated()"
                   [columnDefs]='availabilitiesTable.relationsColumnsDefs'
                   [getAll]='availabilitiesTable.relationsFetchFn'
                   [eventAddItemsSubscription]='availabilitiesTable.addCommandEvent$.asObservable()'
                   [eventGetAllRowsSubscription]='availabilitiesTable.saveCommandEvent$.asObservable()'
                   [eventRefreshSubscription]='availabilitiesTable.refreshCommandEvent$.asObservable()'
                   [actionButton]=true
                   [discardChangesButton]=true
                   [redoButton]=true
                   [undoButton]=true
                   [deleteButton]=true
                   [addButton]=true
                   [defaultColumnSorting]='availabilitiesTable.defaultRelationsSorting()'
                   [hideDuplicateButton]=true
                   (getAllRows)="availabilitiesTable.handleSaveRelations($event)"
                   (add)="availabilitiesTable.openDialog($event)"
                   *ngIf="dataLoaded"
    ></app-data-grid>
  </mat-tab>
  <mat-tab label="{{ 'applicationEntity.parametersConfiguration' | translate }}">
    <app-data-grid [changeHeightButton]="true"
                   [allNewElements]="isNewOrDuplicated()"
                   [columnDefs]='parametersTable.relationsColumnsDefs'
                   [getAll]='parametersTable.relationsFetchFn'
                   [eventAddItemsSubscription]='parametersTable.addCommandEvent$.asObservable()'
                   [eventGetAllRowsSubscription]='parametersTable.saveCommandEvent$.asObservable()'
                   [eventRefreshSubscription]='parametersTable.refreshCommandEvent$.asObservable()'
                   [discardChangesButton]=true
                   [actionButton]=true
                   [redoButton]=true
                   [undoButton]=true
                   [deleteButton]=true
                   [newButton]=true
                   [defaultColumnSorting]="parametersTable.defaultRelationsSorting()"
                   (new)="parametersTable.openTemplateDialog('newParameterDialog')"
                   (getAllRows)="parametersTable.handleSaveRelations($event)"
                   (duplicate)='parametersTable.duplicateRelations($event)'
                   *ngIf="dataLoaded"
    ></app-data-grid>
  </mat-tab>
</mat-tab-group>

<ng-template #newParameterDialog>
  <form [formGroup]="parametersTable.templateDialog('newParameterDialog').form">
    <mat-card appearance="outlined">
      <mat-card-content>
        <mat-form-field appearance="outline" class="full">
          <mat-label>{{ "tasksEntity.key" | translate }}</mat-label>
          <input matInput type="text" formControlName="name" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full">
          <mat-label>{{ "tasksEntity.label" | translate }}</mat-label>
          <input matInput type="text" formControlName="label" required>
        </mat-form-field>
        <mat-radio-group formControlName="type">
          <mat-label class="requiredInput">{{ 'serviceEntity.type' | translate }}</mat-label>
          <mat-radio-button [value]="paramType.value" *ngFor="let paramType of this.codeList('taskEntity.queryType')">
            {{ paramType.description | translate }}
          </mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="outline" class="full">
          <mat-label>{{ "tasksEntity.value" | translate }}</mat-label>
          <input matInput type="text" formControlName="value">
        </mat-form-field>
        <mat-form-field appearance="outline" class="full">
          <mat-label>{{ "tasksEntity.order" | translate }}</mat-label>
          <input matInput type="text" formControlName="order">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </form>
</ng-template>
