<div class="titleDiv" >
  <h4><mat-icon aria-hidden="false"  svgIcon="menu_connexio"></mat-icon> {{ "connectionEntity.connection" | translate }}-{{(connectionID==-1?"new":"edit") | translate}}</h4>
  <span class="divider"></span>
</div>

<div class="formDiv">
  <div class="formHeader">
    <h5> {{'connectionEntity.generalData' | translate}} </h5>
    <button (click)="onSaveButtonClicked()"  mat-flat-button class="saveButton"  >
      <mat-icon fontSet="material-icons-round"  > save </mat-icon>
      {{ "save" | translate }}
    </button>
    <button (click)="utils.navigateBack()"  mat-flat-button class="returnButton"  >
      <mat-icon fontSet="material-icons-round"> arrow_back </mat-icon>
      {{ "return" | translate }}
    </button>
  </div>
  <span class="divider"></span>
  <form [formGroup]='formConnection' #f="ngForm"> 

      <div class="rowFormDiv">
          <div class="colFormDiv">
            <label class="formLabel requiredInput">
              {{'connectionEntity.name' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="name" required>
            </mat-form-field>
          </div>

          <div class="colFormDiv" > 
            <label class="formLabel requiredInput">
              {{'connectionEntity.driver' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="driver" required>
            </mat-form-field>
          </div>

          <div class="colFormDiv">
              <label class="formLabel">
                {{'connectionEntity.user' | translate}}
              </label>
              <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="user">
              </mat-form-field>
            </div>

            <div class="colFormDiv" id="right-column">
              <label class="formLabel">
                {{'connectionEntity.password' | translate}}
              </label>
              <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="password">
              </mat-form-field>
            </div>
      </div>

      <div class="rowFormDiv">
      
          <div class="colFormDiv" >
            <label class="formLabel">
              {{'connectionEntity.connection' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="url">
            </mat-form-field>
          </div>

          <button *ngIf="connectionID!=-1" (click)="updateConnection()" mat-flat-button class="validateButton" >{{ "validate" | translate }}</button>
    </div>


  </form>

</div>


<div class="tableDiv" *ngIf=" dataLoaded">
  <mat-accordion  multi>

      <!-- Cartography table
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "connectionEntity.cartography" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>  
        <div class="appDataGridEditDiv">
            <app-data-grid  [columnDefs]="columnDefsCartographies" [themeGrid]='themeGrid' [getAll]='getAllCartographies' 
            [eventAddItemsSubscription]='addElementsEventCartographies.asObservable()' [eventGetAllRowsSubscription]='getAllElementsEventCartographies.asObservable()' 
             [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [addButton]=true  [hideDuplicateButton]=true
            [actionButton]=true (add)="openCartographyDialog($event)"
            (getAllRows)="getAllRowsCartographies($event)"> </app-data-grid>
        </div>
      </ng-template>
    </mat-expansion-panel> -->
 
      <!-- Tasks table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "connectionEntity.tasks" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>  
        <div class="appDataGridEditDiv">
            <app-data-grid [columnDefs]="columnDefsTasks" [themeGrid]='themeGrid' [getAll]='getAllTasks'
            [eventAddItemsSubscription]='addElementsEventTasks.asObservable()' [eventRefreshSubscription]='dataUpdatedEvent.asObservable()'
            [eventGetAllRowsSubscription]='getAllElementsEventTasks.asObservable()' [discardChangesButton]=true [redoButton]=true 
            [eventRefreshSubscription]='dataUpdatedEventTasks.asObservable()' [undoButton]=true  [deleteButton]=true [addButton]=true [hideDuplicateButton]=true
            [actionButton]=true (add)="openTasksDialog($event)"  (getAllRows)="getAllRowsTasks($event)"> </app-data-grid>
        </div>
    </ng-template>

    </mat-expansion-panel>


  </mat-accordion>
