<mat-toolbar>
  <h4>
    <mat-icon aria-hidden="true" svgIcon="menu_connexio"></mat-icon>
    <span> {{ "connectionEntity.connection" | translate }}
      - {{ (connectionID === -1 ? "new" : "edit") | translate }}</span>
  </h4>
  <span class="spacer"></span>
  <button
    matTooltip="{{ 'save' | translate }}"
    mat-mini-fab class="add-half-gap"
    (click)="onSaveButtonClicked()">
    <mat-icon fontSet="material-icons-round">save</mat-icon>
  </button>
  <button
    matTooltip="{{ 'return' | translate }}"
    mat-mini-fab class="add-half-gap"
    (click)="utils.navigateBack()">
    <mat-icon fontSet="material-icons-round">arrow_back</mat-icon>
  </button>
</mat-toolbar>
<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="end"
  [dynamicHeight]="true"
  preserveContent="true"
  (selectedTabChange)="onTabChange($event)">
  >
  <mat-tab label="{{ 'connectionEntity.generalData' | translate }}">
    <form [formGroup]='formConnection' *ngIf="dataLoaded">
      <mat-card class="sitmun-mat-card-margin" appearance="outlined">
        <mat-card-content>
          <mat-form-field appearance="outline" class="full">
            <mat-label> {{ 'connectionEntity.name' | translate }}</mat-label>
            <input matInput type="text" formControlName="name" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="half">
            <mat-select matInput formControlName="driver">
              <mat-label>{{ 'connectionEntity.driver' | translate }}</mat-label>
              <mat-option [value]="driver.value" *ngFor="let driver of driversList">
                {{ driver.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="break"></div>

          <mat-form-field appearance="outline" class="half add-gap">
            <mat-label> {{ 'connectionEntity.user' | translate }}</mat-label>
            <input matInput type="text" formControlName="user">
          </mat-form-field>

          <mat-form-field appearance="outline" class="half">
            <mat-label>{{ 'connectionEntity.password' | translate }}</mat-label>
            <input matInput [type]="'text'" formControlName="password">
          </mat-form-field>
          <mat-form-field appearance="outline" class="full">
            <mat-label>{{ 'connectionEntity.connection' | translate }}</mat-label>
            <input matInput type="text" formControlName="url">
          </mat-form-field>

          <button type="button" (click)="validateConnection()" mat-flat-button
                  class="validateButton">{{ "validate" | translate }}
          </button>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-tab>
  <mat-tab label="{{ 'connectionEntity.tasks' | translate }}">
    <app-data-grid [changeHeightButton]="true"
                   [allNewElements]="connectionID == -1"
                   defaultColumnSorting="name"
                   [columnDefs]="columnDefsTasks"
                   [getAll]='getAllTasks'
                   [eventAddItemsSubscription]='addElementsEventTasks.asObservable()'
                   [eventRefreshSubscription]='dataUpdatedEvent.asObservable()'
                   [eventGetAllRowsSubscription]='getAllElementsEventTasks.asObservable()'
                   [discardChangesButton]=false
                   [redoButton]=true
                   [eventRefreshSubscription]='dataUpdatedEventTasks.asObservable()'
                   [undoButton]=true
                   [deleteButton]=false
                   [addButton]=false
                   [hideDuplicateButton]=true
                   [actionButton]=false
                   (add)="openTasksDialog($event)"
                   (getAllRows)="getAllRowsTasks($event)"
                   [redraw]="activeTabIndex === 1"
                   *ngIf="dataLoaded"
    ></app-data-grid>
  </mat-tab>
</mat-tab-group>
