<div class="toolbar-control">
  <button 
    mat-button 
    [matMenuTriggerFor]="systemMenu" 
    class="toolbar-button"
    [matTooltip]="'systemInfo.title' | translate"
    [attr.aria-label]="'systemInfo.title' | translate"
    [attr.aria-expanded]="false">
    <mat-icon class="toolbar-icon">more_vert</mat-icon>
  </button>

  <mat-menu #systemMenu="matMenu" class="system-info-menu" (opened)="onMenuOpened()">
    <!-- About -->
    <button mat-menu-item (click)="openAboutDialog()">
      <mat-icon>info</mat-icon>
      <span>{{ 'systemInfo.about' | translate }}</span>
    </button>

    <!-- Configuration Parameters -->
    <button mat-menu-item (click)="openConfigurationParametersDialog()">
      <mat-icon>settings</mat-icon>
      <span>{{ 'systemInfo.configurationParameters' | translate }}</span>
    </button>

    <mat-divider></mat-divider>

    <!-- Non-production features: Log Level, Recent Errors -->
    <ng-container *ngIf="!environment.production">
      <!-- Log Level -->
      <button mat-menu-item [matMenuTriggerFor]="logLevelMenu">
        <mat-icon>{{ getIconForLevel(currentLogLevel) }}</mat-icon>
        <span>{{ 'systemInfo.logLevel' | translate }}: {{ getLogLevelName(currentLogLevel) }}</span>
      </button>
      <mat-menu #logLevelMenu="matMenu">
        <button mat-menu-item *ngFor="let level of logLevels" (click)="onLogLevelChange(level.value)">
          <mat-icon>{{ getIconForLevel(level.value) }}</mat-icon>
          <span>{{ level.name }}</span>
          <mat-icon *ngIf="level.value === currentLogLevel" class="check-icon">check</mat-icon>
        </button>
      </mat-menu>

      <!-- Recent Errors -->
      <button mat-menu-item (click)="openErrorSidebar()">
        <mat-icon>bug_report</mat-icon>
        <span>{{ 'systemInfo.recentErrors' | translate }}</span>
        <span class="badge" *ngIf="unreviewedErrorCount > 0">{{ unreviewedErrorCount }}</span>
      </button>

      <!-- Feature Flags -->
      <button mat-menu-item [matMenuTriggerFor]="featureFlagsMenu" *ngIf="getCategories().length > 0">
        <mat-icon>science</mat-icon>
        <span>{{ 'systemInfo.featureFlags' | translate }}</span>
      </button>
      <mat-menu #featureFlagsMenu="matMenu" class="feature-flags-menu">
        <!-- Dynamic category buttons -->
        <ng-container *ngFor="let category of getCategories()">
          <button mat-menu-item 
                  [matMenuTriggerFor]="categorySubmenu"
                  (mouseenter)="setCurrentCategory(category)"
                  (click)="setCurrentCategory(category)">
            <span style="flex: 1;">{{ getCategoryName(category) }}</span>
            <mat-icon class="submenu-icon">chevron_right</mat-icon>
          </button>
        </ng-container>
        
        <mat-divider></mat-divider>
        
        <button mat-menu-item (click)="resetFeatureFlags()">
          <mat-icon>refresh</mat-icon>
          <span>{{ 'systemInfo.featureFlags.reset' | translate }}</span>
        </button>
      </mat-menu>

      <!-- Single reusable category submenu -->
      <mat-menu #categorySubmenu="matMenu" class="feature-flags-category-menu">
        <button mat-menu-item 
                *ngFor="let flag of getFeaturesByCategory(currentCategory); trackBy: trackByFeatureKey" 
                (click)="toggleFeatureFlag(flag.key, $event)" 
                class="feature-flag-item">
          <mat-icon class="check-icon-left" [class.invisible]="!isFeatureEnabled(flag.key)">check</mat-icon>
          <div class="feature-flag-content">
            <span class="feature-flag-name">{{ flag.config.description | translate }}</span>
          </div>
        </button>
      </mat-menu>

      <mat-divider></mat-divider>
    </ng-container>

    <!-- User Section -->
    <button mat-menu-item disabled class="user-info-item" *ngIf="currentUser">
      <mat-icon>person</mat-icon>
      <span>{{ getUserFullName() }}</span>
    </button>

    <!-- Logout -->
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>{{ 'loginEntity.closeSession' | translate }}</span>
    </button>
  </mat-menu>
</div>

