<mat-toolbar color="primary" *ngIf="loadedData">
  <mat-toolbar-row class="top-toolbar-row">
    <div class="sitmun-logo-container">
      <div class="sitmun-logo">
        <img alt="logo" class="logo" height="48" ngSrc="assets/img/logos/logo_sitmun.svg" width="128">
      </div>
    </div>
    <span class="toolbar-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="login-container" *ngIf="loadedData">
  <mat-card appearance="outlined">
    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-card-header>
        <mat-card-title>
          <h4>
          {{'loginEntity.privateAccess' | translate}}
          </h4>
          <br>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-form-field appearance="outline" class="full">
            <mat-label>{{'loginEntity.username' | translate}}</mat-label>
            <mat-icon matPrefix>person</mat-icon>
            <input matInput type="input" formControlName="username">
          </mat-form-field>
          <mat-form-field appearance="outline" class="full">
            <mat-label>{{'loginEntity.password' | translate}}</mat-label>
            <mat-icon matPrefix>lock</mat-icon>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
          <mat-form-field appearance="outline" class="full">
            <mat-label>{{'loginEntity.language' | translate}}</mat-label>
            <mat-icon matPrefix>language</mat-icon>
            <mat-select formControlName="lang">
              <mat-option *ngFor="let lang of languages" [value]="lang.shortname">
                {{'lang.'+lang.shortname | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <div class="alert alert-danger" *ngIf="badCredentials">
          {{'loginEntity.bad-credentials' | translate}}
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="loginButton" type="submit" [disabled]="!form.valid">
          {{'loginEntity.login' | translate}}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
