container {
    margin-top: 10px !important;
    display: flex;
    flex-direction: column;
  }
  
  
  .container > * {
    width: 100%;
  }

  .mat-card-login{
    background-color: antiquewhite;
  }

  .loginButton {
    background-color: #ff9300;
    color: white;
    height: 40px;
    position: absolute !important;
    bottom: 20px;
    right: 15px;
  }

  .top-toolbar-row {
    background-color: #FF9300;
    color: white;
  }
  
  .toolbar-spacer {
    flex: 1 1 auto;
  }
  
  
  
  .sitmun-logo-container {
    height: 100%;
  }
  
  .sitmun-logo {
    line-height: 100px;
    display: table-cell;
      vertical-align: middle;
      margin: auto 0 auto 0;
      margin-bottom: 8px;
  }

  .outline {
    border-style: solid;
    border-width: medium;
}
  