.container {
    margin-top: 10px !important;
    display: flex;
    flex-direction: column;
  }


  .container > * {
    width: 100%;
  }

  .loginButton {
    background-color: #ff9300 !important;
    color: white !important;
    height: 40px !important;
    position: absolute !important;
    bottom: 20px !important;
    right: 15px !important;
  }

  .top-toolbar-row {
    background-color: #FF9300 !important;
    color: white !important;
  }

  .toolbar-spacer {
    flex: 1 1 auto !important;
  }



  .sitmun-logo-container {
    height: 100%;
  }

  .sitmun-logo {
    line-height: 100px;
    display: table-cell;
      vertical-align: middle;
      margin: auto 0 auto 0;
      margin-bottom: 8px;
  }

  .outline {
    border-style: solid;
    border-width: medium;
}
