container {
    margin-top: 10px !important;
    display: flex;
    flex-direction: column;
  }
  
  
  .container > * {
    width: 100%;
  }

  .mat-card-login{
    background-color: antiquewhite;
  }

  .loginButton {
    background-color: #ff9300;
    color: white;
    height: 40px;
    position: absolute !important;
    bottom: 20px;
    right: 15px;
  }