<app-form-toolbar
  entityType="{{ config.labelSingular }}"
  font="{{ config.font }}"
  icon="{{ config.icon }}"
  [itemName]="entityForm?.get('name')?.value"
  [isNew]="isNewOrDuplicated()"
  [canSave]="canSaveEntity"
  [dataLoaded]="dataLoaded"
  (save)="onSaveButtonClicked()"
  (back)="utils.navigateBack()">
</app-form-toolbar>

<app-entity-form-alerts
  *ngIf="dataLoaded"
  [form]="entityForm"
  entityLabelPrefix="entity.background">
</app-entity-form-alerts>

<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="end"
  [dynamicHeight]="true"
  preserveContent="true">
  <mat-tab label="{{ 'common.form.details' | translate }}">
    <form [formGroup]='entityForm' (ngSubmit)="onSaveButtonClicked()" *ngIf="dataLoaded">
      <mat-card class="sitmun-mat-card-margin" appearance="outlined">
        <mat-card-content>
            <mat-form-field appearance="outline" class="full">
              <mat-label>{{'common.form.name' | translate}} ({{ defaultLang }})</mat-label>
              <input matInput type="text" formControlName="name" required [maxlength]="50">
              <mat-hint align="end" [class.text-warning]="entityForm.get('name')?.value?.length > 50">
                {{entityForm.get('name') | characterCount}}
                <mat-icon *ngIf="entityForm.get('name')?.value?.length > 50" fontIcon="warning" class="warning-icon"></mat-icon>
              </mat-hint>
              <mat-icon matSuffix class="iconTranslate" (click)="onTranslated('name')"
                        onKeyDown="onTranslated('name')">translate</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full">
              <mat-label>{{'common.form.description' | translate}} ({{ defaultLang }})</mat-label>
              <textarea matInput type="text" formControlName="description" [maxlength]="250"> </textarea>
              <mat-hint align="end">{{entityForm.get('description') | characterCount}}</mat-hint>
              <mat-icon matSuffix class="iconTranslate" (click)="onTranslated('description')"
                        onKeyDown="onTranslated('description')">translate</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full">
              <mat-label>{{'common.form.image' | translate}}</mat-label>
              <input matInput type="text" formControlName="image" [maxlength]="4000">
              <mat-hint align="end">{{entityForm.get('image') | characterCount}}</mat-hint>
            </mat-form-field>

            <mat-slide-toggle color="primary" formControlName="active">
              {{'common.form.active' | translate}}
            </mat-slide-toggle>

        </mat-card-content>
      </mat-card>
    </form>
  </mat-tab>
  <mat-tab label=" {{ 'entity.permissionGroup.layers.header' | translate }}">
    <app-relation-grid
      *ngIf="dataLoaded"
      [table]="membersTable"
      [allNewElements]="isNewOrDuplicated()">
    </app-relation-grid>
  </mat-tab>
  <mat-tab label="{{ 'entity.permissionGroup.roles.header' | translate }}">
    <app-relation-grid
      *ngIf="dataLoaded"
      [table]="rolesTable"
      [allNewElements]="isNewOrDuplicated()">
    </app-relation-grid>
  </mat-tab>
  <mat-tab label="{{ 'entity.permissionGroup.applications.header' | translate }}">
    <app-relation-grid
      *ngIf="dataLoaded"
      [table]="applicationBackgroundsTable"
      [allNewElements]="isNewOrDuplicated()">
    </app-relation-grid>
  </mat-tab>
</mat-tab-group>
