<app-form-toolbar
  icon="menu_capes_fons"
  entityType="backgroundEntity.backgroundLayers"
  [itemName]="entityForm?.get('name')?.value"
  [isNew]="isNewOrDuplicated()"
  (save)="onSaveButtonClicked()"
  (back)="utils.navigateBack()">
</app-form-toolbar>
<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="end"
  [dynamicHeight]="true"
  preserveContent="true">
  >
  <mat-tab label="{{'backgroundEntity.generalData' | translate}}">
    <form [formGroup]='entityForm' (ngSubmit)="onSaveButtonClicked()" *ngIf="dataLoaded">
      <mat-card class="sitmun-mat-card-margin" appearance="outlined">
        <mat-card-content>
            <mat-form-field appearance="outline" class="full">
              <mat-label>{{'backgroundEntity.name' | translate}}</mat-label>
              <input matInput type="text" formControlName="name" required [maxlength]="50">
              <mat-hint align="end" [class.text-warning]="entityForm.get('name')?.value?.length > 50">
                {{entityForm.get('name') | characterCount}}
                <mat-icon *ngIf="entityForm.get('name')?.value?.length > 50" fontIcon="warning" class="warning-icon"></mat-icon>
              </mat-hint>
              <mat-icon matSuffix class="iconTranslate" (click)="onTranslated('name')"
                        onKeyDown="onTranslated('name')"
                        svgIcon="ic_translate">
              </mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full">
              <mat-label>{{'backgroundEntity.description' | translate}}</mat-label>
              <textarea matInput type="text" formControlName="description" [maxlength]="250"> </textarea>
              <mat-hint align="end">{{entityForm.get('description') | characterCount}}</mat-hint>
              <mat-icon matSuffix class="iconTranslate" (click)="onTranslated('description')"
                        onKeyDown="onTranslated('description')"
                        svgIcon="ic_translate"></mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full">
              <mat-label>{{'backgroundEntity.image' | translate}}</mat-label>
              <input matInput type="text" formControlName="image" [maxlength]="4000">
              <mat-hint align="end">{{entityForm.get('image') | characterCount}}</mat-hint>
            </mat-form-field>

            <mat-checkbox formControlName="active">
              {{'backgroundEntity.active' | translate}}
            </mat-checkbox>

        </mat-card-content>
      </mat-card>
    </form>
  </mat-tab>
  <mat-tab label=" {{ 'backgroundEntity.cartographiesConfiguration' | translate }}">
    <app-data-grid [changeHeightButton]="true"
                   [allNewElements]="isNewOrDuplicated()"
                   [columnDefs]="membersTable.relationsColumnsDefs"
                   [getAll]='membersTable.relationsFetchFn'
                   [eventAddItemsSubscription]='membersTable.addCommandEvent$.asObservable()'
                   [eventGetAllRowsSubscription]='membersTable.saveCommandEvent$.asObservable()'
                   [eventRefreshSubscription]='membersTable.refreshCommandEvent$.asObservable()'
                   [actionButton]=true
                   [discardChangesButton]=true
                   [redoButton]=true
                   [undoButton]=true
                   [deleteButton]=true
                   [addButton]=true
                   [hideDuplicateButton]=true
                   [defaultColumnSorting]='membersTable.defaultRelationsSorting()'
                   (getAllRows)="membersTable.handleSaveRelations($event)"
                   (add)="membersTable.openDialog($event)"
                   *ngIf="dataLoaded"
    > </app-data-grid>
  </mat-tab>
  <mat-tab label="{{ 'backgroundEntity.roles' | translate }}">
    <app-data-grid [changeHeightButton]="true"
                   [allNewElements]="isNewOrDuplicated()"
                   [columnDefs]="rolesTable.relationsColumnsDefs"
                   [getAll]='rolesTable.relationsFetchFn'
                   [eventAddItemsSubscription]='rolesTable.addCommandEvent$.asObservable()'
                   [eventGetAllRowsSubscription]='rolesTable.saveCommandEvent$.asObservable()'
                   [eventRefreshSubscription]='rolesTable.refreshCommandEvent$.asObservable()'
                   [actionButton]=true
                   [discardChangesButton]=true
                   [redoButton]=true
                   [undoButton]=true
                   [deleteButton]=true
                   [addButton]=true
                   [hideDuplicateButton]=true
                   [defaultColumnSorting]='rolesTable.defaultRelationsSorting()'
                   (getAllRows)="rolesTable.handleSaveRelations($event)"
                   (add)="rolesTable.openDialog($event)"
                   *ngIf="dataLoaded"
    > </app-data-grid>
  </mat-tab>
  <mat-tab label="{{ 'layersPermitsEntity.applications' | translate }}">
    <app-data-grid [changeHeightButton]="true"
                   [allNewElements]="isNewOrDuplicated()"
                   [columnDefs]="applicationBackgroundsTable.relationsColumnsDefs"
                   [getAll]='applicationBackgroundsTable.relationsFetchFn'
                   [eventAddItemsSubscription]='applicationBackgroundsTable.addCommandEvent$.asObservable()'
                   [eventGetAllRowsSubscription]='applicationBackgroundsTable.saveCommandEvent$.asObservable()'
                   [eventRefreshSubscription]='applicationBackgroundsTable.refreshCommandEvent$.asObservable()'
                   [actionButton]=true
                   [discardChangesButton]=true
                   [redoButton]=true
                   [undoButton]=true
                   [deleteButton]=true
                   [addButton]=true
                   [hideDuplicateButton]=true
                   [defaultColumnSorting]='applicationBackgroundsTable.defaultRelationsSorting()'
                   (getAllRows)="applicationBackgroundsTable.handleSaveRelations($event)"
                   (add)="applicationBackgroundsTable.openDialog($event)"
                   *ngIf="dataLoaded"
    > </app-data-grid>
  </mat-tab>
</mat-tab-group>
