<div class="titleDiv">
  <h4>
    <mat-icon aria-hidden="false" svgIcon="menu_tasques"></mat-icon> {{ "tasksEntity.tasks" | translate
    }}-{{(taskID==-1?"new":"edit") | translate}}
  </h4>
  <span class="divider"></span>
</div>

<div class="formDiv">
  <form [formGroup]='taskForm' #f="ngForm" (ngSubmit)="onSaveButtonClicked()">
    <div class="formHeader">
      
      <h5> {{'tasksEntity.generalData' | translate}} </h5>
      <button mat-flat-button type="submit"  class="saveButton" >
        <mat-icon fontSet="material-icons-round"> save </mat-icon>
        {{ "save" | translate }}
      </button>
      <button type="button" (click)="utils.navigateBack()"  mat-flat-button class="returnButton"  >
        <mat-icon fontSet="material-icons-round"> arrow_back </mat-icon>
        {{ "return" | translate }}
      </button>
    </div>
    <span class="divider"></span>

    <div class="rowFormDiv">
      <div class="colFormDiv">
        <label class="formLabel requiredInput">
          {{'tasksEntity.name' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="name" required>
        </mat-form-field>
      </div>

      <div class="colFormDiv">
        <label class="formLabel">
          {{'tasksEntity.groupTask' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <mat-select matInput formControlName="taskGroup" class="form-control">
            <mat-option [value]="taskGroup.id" *ngFor="let taskGroup of taskGroups">
              {{taskGroup.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="colFormDiv">
        <label class="formLabel">
          {{'tasksEntity.taskUI' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <mat-select matInput formControlName="ui" class="form-control">
            <mat-option [value]="taskUI.id" *ngFor="let taskUI of taskUIs">
              {{taskUI.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>

    <div class="rowFormDiv">

      <div class="colFormDiv">
        <label class="formLabel">
          {{'tasksEntity.cartography' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput [readonly]="true" type="text" formControlName="cartography" >
        </mat-form-field>
      </div>
      <div class="HalfMidLargeColFormDiv marginLeftBtn">
        <label class="formLabel">
          &nbsp;
        </label>
        <button type="button" *ngIf="dataLoaded && !this.taskForm.value.cartography" title="{{ 'add' | translate }}" mat-mini-fab
          class="mat-green mini-fab " (click)="openCartographyDialog()">
          <mat-icon> add </mat-icon>
        </button>
        <button type="button" *ngIf="dataLoaded && this.taskForm.value.cartography" title="{{ 'tasksEntity.modificate' | translate }}"
          mat-mini-fab class="mat-orange mini-fab" (click)="openCartographyDialog()">
          <mat-icon> create </mat-icon>
        </button>
        <button type="button" *ngIf="dataLoaded && this.taskForm.value.cartography"
          title="{{ 'tasksEntity.deleteCartography' | translate }}" mat-mini-fab class="mat-red mini-fab"
          (click)="onDeleteButtonClicked()">
          <mat-icon> delete </mat-icon>
        </button>
      </div>
    </div>



  </form>
</div>


<div class="tableDiv" *ngIf="dataLoaded">
  <mat-accordion multi>

    <!-- Parameters configuration table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title>
          {{ "tasksEntity.parameters" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="appDataGridEditDiv">
          <app-data-grid [columnDefs]="columnDefsParameters" [themeGrid]='themeGrid' [getAll]='getAllParameters'
            [eventAddItemsSubscription]='addElementsEventParameters.asObservable()'
            [eventGetAllRowsSubscription]='getAllElementsEventParameters.asObservable()'
            [eventRefreshSubscription]='dataUpdatedEventParameters.asObservable()' [discardChangesButton]=true
            [actionButton]=true [redoButton]=true [undoButton]=true [deleteButton]=true [newButton]=true
            (getAllRows)="getAllRowsParameters($event)" (new)="openParametersDialog($event)"
            defaultColumnSorting="order" (duplicate)='duplicateParameters($event)'> </app-data-grid>
        </div>
      </ng-template>
    </mat-expansion-panel>

    <!-- Territory configuration table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title>
          {{ "layersEntity.territory" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="appDataGridEditDiv">
          <app-data-grid [columnDefs]="columnDefsTerritories" [themeGrid]='themeGrid' [getAll]='getAllTerritories'
            [eventAddItemsSubscription]='addElementsEventTerritories.asObservable()'
            [eventGetAllRowsSubscription]='getAllElementsEventTerritories.asObservable()'
            [eventRefreshSubscription]='dataUpdatedEventTerritories.asObservable()' [discardChangesButton]=true
            [redoButton]=true [undoButton]=true [deleteButton]=true [addButton]=true [hideDuplicateButton]=true
            (getAllRows)="getAllRowsTerritories($event)" [actionButton]=true (add)="openTerritoriesDialog($event)">
          </app-data-grid>
        </div>
      </ng-template>
    </mat-expansion-panel>

    <!-- Roles table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title>
          {{ "layersPermitsEntity.roles" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="appDataGridEditDiv">
          <app-data-grid [columnDefs]="columnDefsRoles" [themeGrid]='themeGrid' [getAll]='getAllRoles'
            [discardChangesButton]=true [redoButton]=true [undoButton]=true [deleteButton]=true [addButton]=true
            [hideDuplicateButton]=true [eventAddItemsSubscription]='addElementsEventRoles.asObservable()'
            [eventGetAllRowsSubscription]='getAllElementsEventRoles.asObservable()'
            [eventRefreshSubscription]='dataUpdatedEventRoles.asObservable()' [actionButton]=true
            (getAllRows)="getAllRowsRoles($event)" (add)="openRolesDialog($event)"> </app-data-grid>
        </div>
      </ng-template>

    </mat-expansion-panel>

  </mat-accordion>
</div>



<ng-template #newParameterDialog>

  <div class="formDiv">
    <form [formGroup]='parameterForm' #f="ngForm">


      <div class="rowFormDiv">

        <div class="oneLargeColFormDiv">
          <mat-radio-group formControlName="type">
            <mat-radio-button class="radioButtonForm" value="VALOR">{{'tasksEntity.fix' | translate}}</mat-radio-button>
            <mat-radio-button class="radioButtonForm" value="CAMPO">{{'tasksEntity.user' | translate}}
            </mat-radio-button>
            <mat-radio-button id="right-column" value="DATAINPUT">{{'tasksEntity.formatWPS' | translate}}</mat-radio-button>
          </mat-radio-group>
        </div>


      </div>

      <div class="rowFormDiv">

        <div class="MidLargeColFormDiv">
          <label class="formLabel requiredInput">
            {{'tasksEntity.paramUrl' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="name" required>
          </mat-form-field>
        </div>

        <div class="MidLargeColFormDiv">
          <label *ngIf="parameterForm.value.type==='VALOR'" class="formLabel requiredInput"> {{'tasksEntity.value' |
            translate}} </label>
          <label *ngIf="parameterForm.value.type==='CAMPO'" class="formLabel requiredInput"> {{'tasksEntity.textFilter'
            | translate}} </label>
          <label *ngIf="parameterForm.value.type==='DATAINPUT'" class="formLabel requiredInput">
            {{'tasksEntity.formatWPS' | translate}} </label>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="value" >
          </mat-form-field>
        </div>

        <div class="MidLargeColFormDiv">
          <label class="formLabel">
            {{'tasksEntity.order' | translate}}
          </label>
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="order" >
          </mat-form-field>
        </div>


      </div>

    </form>
  </div>


</ng-template>