<app-form-toolbar
  entityType="{{ config.labelSingular }}"
  font="{{ config.font }}"
  icon="{{ config.icon }}"
  [itemName]="itemName('')"
  [isNew]="isNewOrDuplicated()"
  [canSave]="canSaveEntity"
  [form]="entityForm"
  entityLabelPrefix="entity.language"
  [dataLoaded]="dataLoaded"
  (save)="onSaveButtonClicked()"
  (back)="utils.navigateBack()">
</app-form-toolbar>

<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="end"
  [dynamicHeight]="true"
  preserveContent="true"
>
  <mat-tab label="{{ 'common.form.details' | translate }}">
    <form [formGroup]="entityForm" *ngIf="dataLoaded">
      <mat-card class="sitmun-mat-card-margin" appearance="outlined">
        <mat-card-content>
          <mat-form-field appearance="outline" class="half add-gap">
            <mat-label>{{ 'entity.language.shortname' | translate }}</mat-label>
            <input matInput type="text" formControlName="shortname" [maxlength]="20" required>
            <mat-hint align="end">{{entityForm.get('shortname') | characterCount}}</mat-hint>
            <mat-error *ngIf="entityForm.get('shortname')?.hasError('required') && entityForm.get('shortname')?.touched">
              {{ 'common.error.required' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="half">
            <mat-label>{{ 'entity.language.name' | translate }} ({{ defaultLang }})</mat-label>
            <input matInput type="text" formControlName="name" [maxlength]="50" required>
            <mat-hint align="end">{{entityForm.get('name') | characterCount}}</mat-hint>
            <mat-icon matSuffix class="iconTranslate"
                      (click)="onTranslated('name')"
                      onKeyDown="onTranslated('name')">translate</mat-icon>
            <mat-error *ngIf="entityForm.get('name')?.hasError('required') && entityForm.get('name')?.touched">
              {{ 'common.error.required' | translate }}
            </mat-error>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-tab>
</mat-tab-group>
