<mat-toolbar>
  <h4>
    <mat-icon aria-hidden="true" svgIcon="menu_permisos"></mat-icon>
    <span> {{ "layersPermitsEntity.layersPermits" | translate }} - {{ (layersPermitsID === -1 ? "new" : "edit") | translate }}</span>
  </h4>
  <span class="spacer"></span>
  <button
    matTooltip="{{ 'save' | translate }}"
    mat-mini-fab class="add-half-gap"
    (click)="onSaveButtonClicked()">
    <mat-icon fontSet="material-icons-round">save</mat-icon>
  </button>
  <button
    matTooltip="{{ 'return' | translate }}"
    mat-mini-fab class="add-half-gap"
    (click)="utils.navigateBack()">
    <mat-icon fontSet="material-icons-round">arrow_back</mat-icon>
  </button>
</mat-toolbar>
<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="end"
  [dynamicHeight]="true"
  preserveContent="true"
  (selectedTabChange)="onTabChange($event)">
  >
  <mat-tab label="{{ 'serviceEntity.generalData' | translate }}">
  <form [formGroup]='formLayersPermits' *ngIf="dataLoaded">
    <mat-card class="sitmun-mat-card-margin" appearance="outlined">
      <mat-card-content>
        <mat-form-field appearance="outline" class="full">
          <mat-label>{{ 'layersPermitsEntity.name' | translate }}</mat-label>
          <input matInput type="text" formControlName="name" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="quarter">
          <mat-label>{{ 'layersPermitsEntity.type' | translate }}</mat-label>
          <mat-select formControlName="type" class="form-control">
            <mat-option [value]="permissionGroupType.value" *ngFor="let permissionGroupType of permissionGroupTypes">
              {{permissionGroupType.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </form>
  </mat-tab>
  <mat-tab label="{{ 'layersPermitsEntity.cartographiesConfiguration' | translate }}">
    <app-data-grid [changeHeightButton]="true"
                   [allNewElements]="layersPermitsID === -1"
                   [defaultColumnSorting]="['name']"
                   [columnDefs]="columnDefsCartographies"
                   [getAll]='getAllCartographies'
                   [discardChangesButton]=true
                   [redoButton]=true
                   [undoButton]=true
                   [deleteButton]=true
                   [addButton]=true
                   [hideDuplicateButton]=true
                   [eventAddItemsSubscription]='addElementsEventCartographies.asObservable()'
                   [eventGetAllRowsSubscription]='getAllElementsEventCartographies.asObservable()'
                   [eventRefreshSubscription]='dataUpdatedEventCartographies.asObservable()'
                   [actionButton]=true
                   (getAllRows)="getAllRowsCartographies($event)"
                   (add)="openCartographyDialog($event)"
                   [redraw]="activeTabIndex === 1"
                   *ngIf="dataLoaded">
    > </app-data-grid>
  </mat-tab>
  <mat-tab label="{{ 'layersPermitsEntity.roles' | translate }}">
    <app-data-grid [changeHeightButton]="true"
                   [allNewElements]="layersPermitsID === -1"
                   [defaultColumnSorting]="['name']"
                   [columnDefs]="columnDefsRoles"
                   [getAll]='getAllRoles'
                   [discardChangesButton]=true
                   [redoButton]=true
                   [undoButton]=true
                   [deleteButton]=true
                   [addButton]=true
                   [hideDuplicateButton]=true
                   [eventAddItemsSubscription]='addElementsEventRoles.asObservable()'
                   [eventGetAllRowsSubscription]='getAllElementsEventRoles.asObservable()'
                   [eventRefreshSubscription]='dataUpdatedEventRoles.asObservable()'
                   [actionButton]=true
                   (getAllRows)="getAllRowsRoles($event)"
                   (add)="openRolesDialog($event)"
                   [redraw]="activeTabIndex === 1"
                   *ngIf="dataLoaded">
    </app-data-grid>
  </mat-tab>
</mat-tab-group>
