<div class="titleDiv">
  <h4>
    <mat-icon aria-hidden="false" svgIcon="menu_permisos"></mat-icon> {{ "layersPermitsEntity.layersPermits" | translate
    }}-{{(layersPermitsID==-1?"new":"edit") | translate}}
  </h4>
  <span class="divider"></span>
</div>

<div class="formDiv">
  <form [formGroup]='formLayersPermits' #f="ngForm" 	(ngSubmit)="onSaveButtonClicked()">
  <div class="formHeader">
    <h5> {{'layersPermitsEntity.generalData' | translate}} </h5>
    <button type="submit" mat-flat-button  class="saveButton">
      <mat-icon fontSet="material-icons-round"> save </mat-icon>
      {{ "save" | translate }}
    </button>
    <button type="button" type="button" (click)="utils.navigateBack()"  mat-flat-button class="returnButton"  >
      <mat-icon fontSet="material-icons-round"> arrow_back </mat-icon>
      {{ "return" | translate }}
    </button>
  </div>
  <span class="divider"></span>


    <div class="rowFormDiv">
      <div class="MidColFormDiv">
        <label class="formLabel requiredInput" >
          {{'layersPermitsEntity.name' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="name" required>
        </mat-form-field>
      </div>

      <div class="MidColFormDiv">
        <label class="formLabel requiredInput">
          {{'layersPermitsEntity.type' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <mat-select matInput formControlName="type" class="form-control">
            <mat-option [value]="permissionGroupType.value" *ngFor="let permissionGroupType of permissionGroupTypes">
              {{permissionGroupType.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


    </div>


  </form>

</div>

<div class="tableDiv" *ngIf="dataLoaded">
  <mat-accordion multi>

    <!-- Cartography configuration table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title>
          {{ "layersPermitsEntity.cartographiesConfiguration" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="appDataGridEditDiv">
          <app-data-grid [changeHeightButton]="true" [columnDefs]="columnDefsCartographies" [themeGrid]='themeGrid' [getAll]='getAllCartographies'
            [discardChangesButton]=true [redoButton]=true [undoButton]=true [deleteButton]=true [addButton]=true [hideDuplicateButton]=true
            [eventAddItemsSubscription]='addElementsEventCartographies.asObservable()' [eventGetAllRowsSubscription]='getAllElementsEventCartographies.asObservable()' 
            [eventRefreshSubscription]='dataUpdatedEventCartographies.asObservable()' [actionButton]=true (getAllRows)="getAllRowsCartographies($event)" 
            (add)="openCartographyDialog($event)" > </app-data-grid>
        </div>
      </ng-template>
    </mat-expansion-panel>

    <!-- Rols table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title>
          {{ "layersPermitsEntity.roles" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="appDataGridEditDiv">
          <app-data-grid [changeHeightButton]="true" [columnDefs]="columnDefsRoles" [themeGrid]='themeGrid' [getAll]='getAllRoles'
            [discardChangesButton]=true [redoButton]=true [undoButton]=true [deleteButton]=true [addButton]=true [hideDuplicateButton]=true
            [eventAddItemsSubscription]='addElementsEventRoles.asObservable()' [eventGetAllRowsSubscription]='getAllElementsEventRoles.asObservable()' 
            [eventRefreshSubscription]='dataUpdatedEventRoles.asObservable()' [actionButton]=true (getAllRows)="getAllRowsRoles($event)" 
            (add)="openRolesDialog($event)" > </app-data-grid>
        </div>
      </ng-template>

    </mat-expansion-panel>


  </mat-accordion>
</div>