<div class="titleDiv" >
    <h4><mat-icon aria-hidden="false"  svgIcon="menu_aplicacio"></mat-icon> {{ "applicationEntity.application" | translate }}-{{(applicationID==-1?"new":"edit") | translate}}</h4>
    <span class="divider"></span>
  </div>
<div class="formDiv">
  <form [formGroup]='applicationForm' 	(ngSubmit)="onSaveButtonClicked()"> 
      <div class="formHeader">
        <h5> {{'applicationEntity.generalData' | translate}} </h5>
        <button   mat-flat-button class="saveButton" >
          <mat-icon fontSet="material-icons-round"  > save </mat-icon>
          {{ "save" | translate }}
        </button>
        <button type="button" (click)="utils.navigateBack()"  mat-flat-button class="returnButton"  >
          <mat-icon  fontSet="material-icons-round"> arrow_back </mat-icon>
          {{ "return" | translate }}
        </button>
      </div>
      <span class="divider"></span>
  
 
      <div class="rowFormDiv">
      
          
        <div class="colFormDiv" >
            <label class="formLabel requiredInput">
              {{'applicationEntity.name' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="name" required>
              <mat-icon matSuffix class="iconTranslate" (click)="onNameTranslationButtonClicked()" svgIcon="ic_translate"></mat-icon>
            </mat-form-field>
          </div>
         
          <div class="colFormDiv" >
            <label class="formLabel requiredInput">
              {{'applicationEntity.type' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <mat-select matInput formControlName="type" class="form-control" (selectionChange)="onSelectionTypeAppChanged($event)">
                <mat-option [value]="appType.value" *ngFor="let appType of applicationTypes">
                  {{ appType.description}}
                </mat-option>
              </mat-select>
            </mat-form-field> 
          </div>

          <div class="colFormDiv" >
            <label class="formLabel">
              {{'applicationEntity.title' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="title">
              <mat-icon matSuffix class="iconTranslate" (click)="onTitleTranslationButtonClicked()" svgIcon="ic_translate"></mat-icon>
            </mat-form-field>
          </div>

    </div>
      <div class="rowFormDiv">
      


          <div class="colFormDiv" >
            <label class="formLabel requiredInput">
              {{'applicationEntity.url' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="jspTemplate" required>
            </mat-form-field>
          </div>

          <div class="colFormDiv" >
            <label class="formLabel">
              {{'applicationEntity.CSS' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="theme">
            </mat-form-field>
          </div>

          <!--<div class="colFormDiv" >
            <label class="formLabel">
              {{'applicationEntity.tree' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="tree">
            </mat-form-field>
          </div>-->
          <div class="colFormDiv" >
            <label class="formLabel">
              {{'applicationEntity.treeAutoRefresh' | translate}}
            </label>
            <mat-checkbox formControlName="treeAutoRefresh"> </mat-checkbox>
          </div>

    </div>
      <div class="rowFormDiv">
      
          
        <div class="colFormDiv" >
            <label class="formLabel">
              {{'applicationEntity.scales' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text"  formControlName="scales">
            </mat-form-field>
          </div>

          <div class="colFormDiv" >
            <label class="formLabel">
              {{'applicationEntity.srs' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" title="{{ 'projectionMessage' | translate }}" formControlName="srs">
            </mat-form-field>
          </div>
          <div class="colFormDiv" >
            <label class="formLabel">
              {{'applicationEntity.situationMap' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <mat-select matInput formControlName="situationMap" class="form-control">
                <mat-option [value]="situationMapObj.id" *ngFor="let situationMapObj of situationMapList">
                  {{situationMapObj.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
         

      </div>
    </form>
</div>

<div class="tableDiv" *ngIf="dataLoaded">
  <mat-accordion  multi>
    <!-- Parameters configuration table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "applicationEntity.parametersConfiguration" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>  
          <div class="appDataGridEditDiv">
              <app-data-grid [changeHeightButton]="true" [allNewElements]="applicationID == -1"   [columnDefs]="columnDefsParameters" [themeGrid]='themeGrid' [getAll]='getAllParameters'  
              [eventAddItemsSubscription]='addElementsEventParameters.asObservable()' [eventGetAllRowsSubscription]='getAllElementsEventParameters.asObservable()'  
              [eventRefreshSubscription]='dataUpdatedEventParameters.asObservable()' [discardChangesButton]=true [actionButton]=true  
              [redoButton]=true [undoButton]=true  [deleteButton]=true [newButton]=true  (getAllRows)="getAllRowsParameters($event)"
              addFieldRestriction="name" defaultColumnSorting="name" (new)="openParametersDialog($event)" (duplicate)='duplicateParameters($event)'   > </app-data-grid>
          </div>
      </ng-template>
        </mat-expansion-panel>

    <!-- Template table -->
        <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
          <mat-expansion-panel-header class="agGridExpansionPanelTitle">
            <mat-panel-title  >
              {{ "applicationEntity.templateConfiguration" | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
      
          <ng-template matExpansionPanelContent>    
              <div class="appDataGridEditDiv">
                  <app-data-grid [changeHeightButton]="true" [allNewElements]="applicationID == -1"  [columnDefs]="columnDefsTemplates" [themeGrid]='themeGrid' [getAll]='getAllTemplates'  
                  [eventAddItemsSubscription]='addElementsEventTemplateConfiguration.asObservable()' [eventGetAllRowsSubscription]='getAllElementsEventTemplateConfiguration.asObservable()' 
                  [eventRefreshSubscription]='dataUpdatedEventParameters.asObservable()' [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [newButton]=true 
                  addFieldRestriction="name" defaultColumnSorting="name" (duplicate)='duplicateTemplates($event)'(getAllRows)="getAllRowsParameters($event)" [actionButton]=true  (new)="openTemplateConfigurationDialog($event)"  > </app-data-grid>
              </div>
          </ng-template>
          </mat-expansion-panel>

    <!-- Roles table -->
        <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
          <mat-expansion-panel-header class="agGridExpansionPanelTitle">
            <mat-panel-title  >
              {{ "applicationEntity.roles" | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
      
          <ng-template matExpansionPanelContent>    
              <div class="appDataGridEditDiv">
                  <app-data-grid [changeHeightButton]="true" [allNewElements]="applicationID == -1"  [allNewElements]="applicationID == -1" [columnDefs]="columnDefsRoles" [themeGrid]='themeGrid' [getAll]='getAllRoles'  
                  [eventAddItemsSubscription]='addElementsEventRoles.asObservable()'[eventGetAllRowsSubscription]='getAllElementsEventRoles.asObservable()' 
                  [eventRefreshSubscription]='dataUpdatedEventRoles.asObservable()' [discardChangesButton]=true [redoButton]=true [undoButton]=true  
                  [deleteButton]=true [addButton]=true defaultColumnSorting="name" [hideDuplicateButton]=true (getAllRows)="getAllRowsRoles($event)" [actionButton]=true (add)="openRolesDialog($event)"   > </app-data-grid>
              </div>
          </ng-template>
          </mat-expansion-panel>

    <!-- Background table -->
        <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
          <mat-expansion-panel-header class="agGridExpansionPanelTitle">
            <mat-panel-title  >
              {{ "applicationEntity.background" | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
      
          <ng-template matExpansionPanelContent>    
              <div class="appDataGridEditDiv">
                  <app-data-grid [changeHeightButton]="true" [allNewElements]="applicationID == -1"  [columnDefs]="columnDefsBackgrounds" [themeGrid]='themeGrid' [getAll]='getAllBackgrounds' 
                  [eventAddItemsSubscription]='addElementsEventBackground.asObservable()' [eventGetAllRowsSubscription]='getAllElementsEventBackground.asObservable()' 
                  [eventRefreshSubscription]='dataUpdatedEventBackground.asObservable()' [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [addButton]=true
                   [hideDuplicateButton]=true defaultColumnSorting="order" (getAllRows)="getAllRowsBackgrounds($event)" [actionButton]=true (add)="openBackgroundDialog($event)"  > </app-data-grid>
              </div>
          </ng-template>
          </mat-expansion-panel>

    <!-- Trees table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "applicationEntity.tree" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <ng-template matExpansionPanelContent>    
          <div class="appDataGridEditDiv">
              <app-data-grid [changeHeightButton]="true" [allNewElements]="applicationID == -1"  [columnDefs]="columnDefsTrees" [themeGrid]='themeGrid' [getAll]='getAllTrees' 
              [eventAddItemsSubscription]='addElementsEventTree.asObservable()' [eventGetAllRowsSubscription]='getAllElementsEventTree.asObservable()' 
              [eventRefreshSubscription]='dataUpdatedEventTree.asObservable()' [discardChangesButton]=true [redoButton]=true [undoButton]=true [deleteButton]=true [addButton]=true 
              [hideDuplicateButton]=true defaultColumnSorting="name"  (getAllRows)="getAllRowsTrees($event)" [actionButton]=true (add)="openTreeDialog($event)"   > </app-data-grid>
          </div>
      </ng-template>
      </mat-expansion-panel>

        
  </mat-accordion>
</div>


<ng-template #newParameterDialog>

  <div class="formDiv">
    <form [formGroup]='parameterForm' #f="ngForm"> 
  
  
      <div class="rowFormDiv">
      
          <div class="colFormDiv" >
            <label class="formLabel requiredInput">
              {{'applicationEntity.name' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="name" required>
            </mat-form-field>
          </div>

   
   <div class="colFormDiv" >
    <label class="formLabel requiredInput">
      {{'applicationEntity.type' | translate}}
    </label>
    <mat-form-field appearance="outline" >
      <mat-select matInput formControlName="type" class="form-control" >
        <mat-option [value]="parameterType.value" *ngFor="let parameterType of parametersTypes" required>
          {{ parameterType.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
     </div>
  
     <div class="rowFormDiv">
      
      <div class="colFormDiv" >
        <label class="formLabel requiredInput">
          {{'serviceEntity.value' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="value" required>
        </mat-form-field>
      </div>
  
  
    </div>
  
  </form>
  </div>
  
  
  </ng-template>

  <ng-template #newTemplateDialog>

    <div class="formDiv">
      <form [formGroup]='parameterForm' #f="ngForm"> 
    
    
        <div class="rowFormDiv">
        
            <div class="colFormDiv" >
              <label class="formLabel requiredInput">
                {{'applicationEntity.name' | translate}}
              </label>
              <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="name" required>
              </mat-form-field>
            </div>
  
    
          <div class="colFormDiv" >
            <label class="formLabel requiredInput">
              {{'serviceEntity.value' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="value" required>
            </mat-form-field>
          </div>
    
       </div>
  
    
    </form>
    </div>
    
    
</ng-template>