<div class="titleDiv" >
    <h4><mat-icon aria-hidden="false"  svgIcon="menu_aplicacio"></mat-icon> {{ "applicationEntity.application" | translate }}-{{"applicationEntity."+(applicationID==-1?"new":"edit") | translate}}</h4>
    <span class="divider"></span>
  </div>
<div class="formDiv">
  <div class="formHeader">
    <h5> {{'applicationEntity.generalData' | translate}} </h5>
    <button   mat-flat-button class="saveButton" (click)="updateApplication()" >
      <mat-icon fontSet="material-icons-round"  > save </mat-icon>
      {{ "applicationEntity.save" | translate }}
    </button>
  </div>
  <span class="divider"></span>
  <form [formGroup]='applicationForm'> 
  
 
      <div class="rowFormDiv">
      
          
        <div class="colFormDiv" >
            <label class="formLabel requiredInput">
              {{'applicationEntity.name' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="name" required>
            </mat-form-field>
          </div>
         
          <div class="colFormDiv" >
            <label class="formLabel">
              {{'applicationEntity.type' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <mat-select matInput formControlName="type" class="form-control" (selectionChange)="onSelectionTypeAppChanged($event)">
                <mat-option [value]="appType.value" *ngFor="let appType of applicationTypes">
                  {{ appType.description}}
                </mat-option>
              </mat-select>
            </mat-form-field> 
          </div>

          <div class="colFormDiv" >
            <label class="formLabel">
              {{'applicationEntity.title' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="title">
            </mat-form-field>
          </div>

    </div>
      <div class="rowFormDiv">
      


          <div class="colFormDiv" >
            <label class="formLabel">
              {{'applicationEntity.url' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="desktopUrl">
            </mat-form-field>
          </div>

          <div class="colFormDiv" >
            <label class="formLabel">
              {{'applicationEntity.CSS' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="desktopCSS">
            </mat-form-field>
          </div>

          <div class="colFormDiv" >
            <label class="formLabel">
              {{'applicationEntity.tree' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="tree">
            </mat-form-field>
          </div>
          <div class="colFormDiv" >
            <label class="formLabel">
              {{'applicationEntity.treeAutoRefresh' | translate}}
            </label>
            <mat-checkbox formControlName="treeAutoRefresh"> </mat-checkbox>
          </div>

    </div>
      <div class="rowFormDiv">
      
          
        <div class="lastColFormDiv" >
            <label class="formLabel">
              {{'applicationEntity.scales' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="scales">
            </mat-form-field>
          </div>

          <div class="lastColFormDiv" >
            <label class="formLabel">
              {{'applicationEntity.srs' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="srs">
            </mat-form-field>
          </div>
          <div class="colFormDiv" >
            <label class="formLabel">
              {{'applicationEntity.situationMap' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <mat-select matInput formControlName="situationMap" class="form-control">
                <mat-option [value]="situationMapObj.id" *ngFor="let situationMapObj of situationMapList">
                  {{situationMapObj.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
         

      </div>
    </form>
</div>

<div class="tableDiv" *ngIf="dataLoaded">
  <mat-accordion *ngIf="applicationID != -1" multi>
    <!-- Parameters configuration table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "applicationEntity.parametersConfiguration" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>  
          <div class="appDataGridEditDiv">
              <app-data-grid  [columnDefs]="columnDefsParameters" [themeGrid]='themeGrid' [getAll]='getAllParameters'  
              [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [newButton]=true 
              (remove)="removeParameters($event)" (new)='openParametersDialog()'  > </app-data-grid>
          </div>
      </ng-template>
        </mat-expansion-panel>

    <!-- Template table -->
        <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
          <mat-expansion-panel-header class="agGridExpansionPanelTitle">
            <mat-panel-title  >
              {{ "applicationEntity.templateConfiguration" | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
      
          <ng-template matExpansionPanelContent>    
              <div class="appDataGridEditDiv">
                  <app-data-grid [columnDefs]="columnDefsTemplates" [themeGrid]='themeGrid' [getAll]='getAllTemplates'  
                  [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [addButton]=true [hideDuplicateButton]=true
                  [actionButton]=true (add)="openTemplateConfigurationDialog($event)" (remove)="removeTemplates($event)" (new)='newDataTemplates($event)'  > </app-data-grid>
              </div>
          </ng-template>
          </mat-expansion-panel>

    <!-- Rols table -->
        <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
          <mat-expansion-panel-header class="agGridExpansionPanelTitle">
            <mat-panel-title  >
              {{ "applicationEntity.roles" | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
      
          <ng-template matExpansionPanelContent>    
              <div class="appDataGridEditDiv">
                  <app-data-grid [columnDefs]="columnDefsRoles" [themeGrid]='themeGrid' [getAll]='getAllRoles'  
                  [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [addButton]=true [hideDuplicateButton]=true 
                  [actionButton]=true (add)="openRolesDialog($event)" (remove)="removeRoles($event)" (new)='newDataRoles($event)'  > </app-data-grid>
              </div>
          </ng-template>
          </mat-expansion-panel>

    <!-- Background table -->
        <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
          <mat-expansion-panel-header class="agGridExpansionPanelTitle">
            <mat-panel-title  >
              {{ "applicationEntity.background" | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
      
          <ng-template matExpansionPanelContent>    
              <div class="appDataGridEditDiv">
                  <app-data-grid [columnDefs]="columnDefsBackgrounds" [themeGrid]='themeGrid' [getAll]='getAllBackgrounds' 
                  [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [addButton]=true [hideDuplicateButton]=true 
                  [actionButton]=true (add)="openBackgroundDialog($event)" (remove)="removeBackgrounds($event)" (new)='newDataBackgrounds($event)'  > </app-data-grid>
              </div>
          </ng-template>
          </mat-expansion-panel>

        
  </mat-accordion>
</div>