.colFormDiv{
    margin-bottom: 20px;
    display: inline-block;
    width: 40%;
    margin-right: 5%;
}

.selectorPopup{
    position: relative;
 
}

.radioButtonForm{
    margin-right: 10px;
}

.btnsRightInput{
    position: absolute;
    bottom: 30px;
    right: -40px;
}