<app-form-toolbar
  icon="menu_tasques"
  entityType="tasksEntity.tasks"
  [itemName]="taskForm?.get('name')?.value"
  [isNew]="taskID === -1"
  [additionalText]="taskTypeNameTranslated"
  (save)="onSaveButtonClicked()"
  (back)="utils.navigateBack()">
</app-form-toolbar>
<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="end"
  [dynamicHeight]="true"
  preserveContent="true"
  (selectedTabChange)="onTabChange($event)">
  <mat-tab label="{{ 'common.form.details' | translate }}">
    <mat-card appearance="outlined">
      <mat-card-content>
        <div *ngIf="dataLoaded">
          <form [formGroup]='taskForm'>
            <div *ngFor="let element of formElements; let i = index"
                 [hidden]="getFieldWithCondition(element.values.condition, element.values.hidden, 'hidden', taskForm, element.fieldName  )"
                 [ngSwitch]="getFieldWithCondition(element.values.condition, element.values.control, 'control', taskForm )">
              <mat-form-field appearance="outline" *ngSwitchCase="'input'" class="full">
                <mat-label>
                  {{ element.values.condition ? (getFieldWithCondition(element.values.condition, element.values.label, 'text', taskForm) | translate) : (element.values.label | translate) }}
                </mat-label>
                <input matInput type="text" [formControlName]=element.fieldName
                       [required]="getFieldWithCondition(element.values.condition, element.values.required, 'required', taskForm )">
              </mat-form-field>

              <mat-form-field appearance="outline" *ngSwitchCase="'textArea'" class="full">
                <mat-label>
                  {{ element.values.condition ? (getFieldWithCondition(element.values.condition, element.values.label, 'text', taskForm) | translate) : (element.values.label | translate) }}
                </mat-label>
                <textarea matInput type="text" [formControlName]=element.fieldName
                          [required]="getFieldWithCondition(element.values.condition, element.values.required, 'required', taskForm )">
                    </textarea>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full" *ngSwitchCase="'selector'">
                <mat-label>
                  {{ element.values.condition ? (getFieldWithCondition(element.values.condition, element.values.label, 'text', taskForm) | translate) : (element.values.label | translate) }}
                </mat-label>

                <mat-select
                  [required]="getFieldWithCondition(element.values.condition, element.values.required, 'required', taskForm )"
                  [formControlName]=element.fieldName>
                  <mat-option [value]="dataElement[element.values.selector.value]"
                              *ngFor="let dataElement of getDataSelector(element.values.selector.data, element.values.selector.queryParams, element.values.label)">
                    {{ dataElement[element.values.selector.name] }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-checkbox [formControlName]=element.fieldName
                            [required]="getFieldWithCondition(element.values.condition, element.values.required, 'required', taskForm )"
                            *ngSwitchCase="'checkbox'">
                {{ element.values.condition ? (getFieldWithCondition(element.values.condition, element.values.label, 'text', taskForm) | translate) : (element.values.label | translate) }}
              </mat-checkbox>

              <div class="form-field">
                <label
                  [ngClass]="getFieldWithCondition(element.values.condition, element.values.required, 'required', taskForm)?'requiredInput':''"
                  [for]=element.fieldName
                  *ngSwitchCase="'enum'"
                >
                  {{ element.values.condition ? (getFieldWithCondition(element.values.condition, element.values.label, 'text', taskForm) | translate) : (element.values.label | translate) }}
                </label>
                <mat-radio-group aria-label="Select an option"
                                 [required]="getFieldWithCondition(element.values.condition, element.values.required, 'required', taskForm )"
                                 [formControlName]=element.fieldName
                                 *ngSwitchCase="'enum'">
                  <mat-radio-button *ngFor="let enumElement of element.values.enum.elements;"
                                    [value]=enumElement.value> {{ enumElement.label | translate }}
                  </mat-radio-button>
                </mat-radio-group>
              </div>

              <div *ngSwitchCase="'selectorPopup'">

                <mat-form-field appearance="outline" class="half add-gap">
                  <mat-label>
                    {{ element.values.condition ? (getFieldWithCondition(element.values.condition, element.values.label, 'text', taskForm) | translate) : (element.values.label | translate) }}
                  </mat-label>
                  <input matInput *ngIf="this.taskForm.value[element.fieldName]"
                         [required]="getFieldWithCondition(element.values.condition, element.values.required, 'required', taskForm )"
                         [readonly]="true" type="text"
                         [value]="this.taskForm.value[element.fieldName][element.values.selectorPopup.value]">
                  <input matInput *ngIf="!this.taskForm.value[element.fieldName]"
                         [required]="getFieldWithCondition(element.values.condition, element.values.required, 'required', taskForm )"
                         [formControlName]=element.fieldName [readonly]="true" type="text">
                </mat-form-field>
                <button type="button"
                        *ngIf="dataLoaded && !this.taskForm.value[element.fieldName]"
                        title="{{ 'add' | translate }}"
                        mat-mini-fab
                        class="add-half-gap"
                        (click)="openPopupDialog(element.fieldName, element.values.selectorPopup.data, element.values.selectorPopup.columns, element.values.label, true, false, true, -1, $event, true)">
                  <mat-icon> add</mat-icon>
                </button>
                <button type="button"
                        *ngIf="dataLoaded && this.taskForm.value[element.fieldName]"
                        title="{{ 'tasksEntity.modificate' | translate }}"
                        mat-mini-fab
                        class="add-half-gap"
                        (click)="openPopupDialog(element.fieldName, element.values.selectorPopup.data, element.values.selectorPopup.columns, element.values.label, true, false, true, -1, $event, true)">
                  <mat-icon> create</mat-icon>
                </button>
                <button type="button"
                        *ngIf="dataLoaded && this.taskForm.value[element.fieldName]"
                        title="{{ 'tasksEntity.deleteCartography' | translate }}"
                        mat-mini-fab
                        class="add-half-gap"
                        (click)="onPopupDeleteButtonClicked(element.fieldName)">
                  <mat-icon> delete</mat-icon>
                </button>
              </div>
            </div>

          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <div *ngIf="dataLoaded">
    <mat-tab label="{{ table.label | translate }}" *ngFor="let table of properties.tables; let i = index">
      <app-data-grid [changeHeightButton]="true"
                     [columnDefs]='columnDefsTables[i]'
                     [getAll]='getAlls[i]'
                     [discardChangesButton]=true [actionButton]=true
                     [redoButton]="!formHasSqlElementSelector[i]"
                     [undoButton]="!formHasSqlElementSelector[i]"
                     [deleteButton]=true
                     [discardNonReverseStatus]="formHasSqlElementSelector[i]"
                     [newButton]="table.controlAdd.control==='formPopup'"
                     [addButton]="table.controlAdd.control!=='formPopup'"
                     [hideDuplicateButton]="table.controlAdd.control!=='formPopup'"
                     [eventAddItemsSubscription]='addelements[i].asObservable()'
                     [eventGetAllRowsSubscription]='getAllElementsEvent[i].asObservable()'
                     [eventRefreshSubscription]='refreshElements[i].asObservable()'
                     [defaultColumnSorting]=defaultColumnsSorting[i]
                     [currentData]="[]"
                     (duplicate)="table.controlAdd.control==='formPopup'?duplicate($event,i):null"
                     (add)="openPopupDialog(null, table.controlAdd.data, table.controlAdd.columns, table.label, true, false, false, i, $event)"
                     (new)="openPopupFormDialog(i, table.label)"
                     (getAllRows)="getAllRowsTable($event, i, table.link)"
                     (remove)="restoreElementsSqlSelector($event, i)"
                     (discardChanges)="removeElementsSqlSelector($event, i)"
      >
      </app-data-grid>
    </mat-tab>
  </div>
</mat-tab-group>
<div *ngFor="let form of forms; let index = index">
  <ng-template [name]=String(index) *ngIf="form !== null" id=index>
    <form [formGroup]='form' (ngSubmit)="onSaveButtonClicked()">
      <div *ngFor="let element of tableFormElements[index]; let i = index"
           [hidden]="getFieldWithCondition(element.values.condition, element.values.hidden, 'hidden', form, element.fieldName )"
           [ngSwitch]="getFieldWithCondition(element.values.condition, element.values.control, 'control', form )">
        <mat-form-field appearance="outline" class="full" *ngSwitchCase="'input'">
          <mat-label>
            {{ element.values.condition ? (getFieldWithCondition(element.values.condition, element.values.label, 'text', form) | translate) : (element.values.label | translate) }}
          </mat-label>
          <input matInput
                 type="text"
                 [formControlName]=element.fieldName
                 [required]="getFieldWithCondition(element.values.condition, element.values.required, 'required', form )"
                 [disabled]="getFieldWithCondition(element.values.condition, element.values.disabled, 'disabled', form )">
        </mat-form-field>
        <mat-form-field appearance="outline" class="full" *ngSwitchCase="'textArea'">
          <mat-label>
            {{ element.values.condition ? (getFieldWithCondition(element.values.condition, element.values.label, 'text', form) | translate) : (element.values.label | translate) }}
          </mat-label>
          <textarea matInput
                    type="text"
                    [formControlName]=element.fieldName
                    [required]="getFieldWithCondition(element.values.condition, element.values.required, 'required', form )"
                    [disabled]="getFieldWithCondition(element.values.condition, element.values.disabled, 'disabled', form )">
                </textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full" *ngSwitchCase="'selector'">
          <mat-label>
            {{ element.values.condition ? (getFieldWithCondition(element.values.condition, element.values.label, 'text', form) | translate) : (element.values.label | translate) }}
          </mat-label>
          <mat-select [formControlName]=element.fieldName
                      [required]="getFieldWithCondition(element.values.condition, element.values.required, 'required', form )"
                      [disabled]="getFieldWithCondition(element.values.condition, element.values.disabled, 'disabled', form )">
            <mat-option [value]="dataElement[element.values.selector.value]"
                        *ngFor="let dataElement of getDataSelector(element.values.selector.data, element.values.selector.queryParams, element.values.label)">
              {{ dataElement[element.values.selector.name] }}
            </mat-option>
          </mat-select>

        </mat-form-field>

        <mat-form-field appearance="outline" class="full" *ngSwitchCase="'enumBySQLElement'">
          <mat-label>
            {{ element.values.condition ? (getFieldWithCondition(element.values.condition, element.values.label, 'text', form) | translate) : (element.values.label | translate) }}
          </mat-label>

          <mat-select [formControlName]=element.fieldName
                      [required]="getFieldWithCondition(element.values.condition, element.values.required, 'required', form )"
                      [disabled]="getFieldWithCondition(element.values.condition, element.values.disabled, 'disabled', form )">
            <mat-option [value]="dataElement"
                        *ngFor="let dataElement of getDataSQLElement(element.values.element, element.values.patternToSearch, i)">
              {{ dataElement }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox [formControlName]=element.fieldName
                      [required]="getFieldWithCondition(element.values.condition, element.values.required, 'required', form )"
                      [disabled]="getFieldWithCondition(element.values.condition, element.values.disabled, 'disabled', form )"
                      *ngSwitchCase="'checkbox'">>
          {{ element.values.condition ? (getFieldWithCondition(element.values.condition, element.values.label, 'text', form) | translate) : (element.values.label | translate) }}
        </mat-checkbox>

        <div class="form-field">
          <label
            [ngClass]="getFieldWithCondition(element.values.condition, element.values.required, 'required', form )?'requiredInput':''"
            *ngSwitchCase="'enum'"
            [for]="element.fieldName"
          >
            {{ element.values.condition ? (getFieldWithCondition(element.values.condition, element.values.label, 'text', form) | translate) : (element.values.label | translate) }}
          </label>
          <mat-radio-group aria-label="Select an option"
                           [formControlName]=element.fieldName
                           [required]="getFieldWithCondition(element.values.condition, element.values.required, 'required', form )"
                           [disabled]="getFieldWithCondition(element.values.condition, element.values.disabled, 'disabled', form )"
                           *ngSwitchCase="'enum'"
          >
            <mat-radio-button *ngFor="let enumElement of element.values.enum.elements;"
                              [value]=enumElement.value> {{ enumElement.label | translate }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngSwitchCase="'selectorPopup'">
          <mat-form-field appearance="outline">
            <mat-label>
              {{ element.values.condition ? (getFieldWithCondition(element.values.condition, element.values.label, 'text', form) | translate) : (element.values.label | translate) }}
            </mat-label>
            <input matInput *ngIf="this.taskForm.value[element.fieldName]" [readonly]="true" type="text"
                   [required]="getFieldWithCondition(element.values.condition, element.values.required, 'required', form )"
                   [value]="this.taskForm.value[element.fieldName][element.values.selectorPopup.value]">
            <input matInput *ngIf="!this.taskForm.value[element.fieldName]"
                   [required]="getFieldWithCondition(element.values.condition, element.values.required, 'required', form )"
                   [formControlName]=element.fieldName [readonly]="true" type="text">
          </mat-form-field>
          <button type="button"
                  *ngIf="dataLoaded && !this.taskForm.value[element.fieldName]"
                  matTooltip="{{ 'add' | translate }}"
                  mat-mini-fab
                  (click)="openPopupDialog(element.fieldName, element.values.selectorPopup.data, element.values.selectorPopup.columns, element.values.label, true, false, true, -1, $event, true)">
            <mat-icon fontSet="material-icons-round"> add</mat-icon>
          </button>
          <button type="button"
                  *ngIf="dataLoaded && this.taskForm.value[element.fieldName]"
                  matTooltip="{{ 'tasksEntity.modificate' | translate }}"
                  mat-mini-fab
                  (click)="openPopupDialog(element.fieldName, element.values.selectorPopup.data, element.values.selectorPopup.columns, element.values.label, true, false, true, -1, $event, true)">
            <mat-icon fontSet="material-icons-round">create</mat-icon>
          </button>
          <button type="button"
                  *ngIf="dataLoaded && this.taskForm.value[element.fieldName]"
                  matTooltip="{{ 'tasksEntity.deleteCartography' | translate }}"
                  mat-mini-fab
                  (click)="onPopupDeleteButtonClicked(element.fieldName)">
            <mat-icon fontSet="material-icons-round"> delete</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </ng-template>
</div>
