/* You can add global styles to this file, and also import other style files */

@import "~@ag-grid-community/all-modules/dist/styles/ag-grid.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-balham-dark.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-dark.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-blue.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-bootstrap.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-fresh.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-material.css";

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";

// CSS Reset, comment out if not required or using a different module
// @import '~minireset.css/minireset';
@import "~igniteui-angular/lib/core/styles/themes/index";
@include igx-core();

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$md-primarycolor: (
  50: #f7e0e0,
  100: #ecb3b3,
  200: #df8080,
  300: #d24d4d,
  400: #c92626,
  500: #bf0000,
  600: #b90000,
  700: #b10000,
  800: #a90000,
  900: #9b0000,
  A100: #ffc6c6,
  A200: #ff9393,
  A400: #ff6060,
  A700: #ff4747,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$md-secondcolor: (
  50: #f1f1f1,
  100: #dbdbdb,
  200: #c4c4c4,
  300: #acacac,
  400: #9a9a9a,
  500: #888888,
  600: #808080,
  700: #757575,
  800: #6b6b6b,
  900: #585858,
  A100: #f9cdcd,
  A200: #f49f9f,
  A400: #ff6161,
  A700: #ff4747,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$md-thirdcolor: (
  50: #e1f2fe,
  100: #b4dffd,
  200: #82cafb,
  300: #4fb4f9,
  400: #2aa4f8,
  500: #0494f7,
  600: #038cf6,
  700: #0381f5,
  800: #0277f3,
  900: #0165f1,
  A100: #ffffff,
  A200: #e5eeff,
  A400: #b2cdff,
  A700: #98bdff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$sitmun-primary: mat-palette($md-primarycolor);
$sitmun-accent: mat-palette($md-secondcolor);
$sitmun-warn: mat-palette($md-thirdcolor);

// Create the theme object (a Sass map containing all of the palettes).
$sitmun-theme: mat-light-theme($sitmun-primary, $sitmun-accent, $sitmun-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sitmun-theme);

/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

//Button validate of forms

.formHeader {
  //display: inline-block;
}


mat-form-field {
  width: 100%;
}
#right-column {
margin-right: 0%;
}

.validateButton {
  background-color: #ff9300;
  color: white;
  min-width: 85px !important;
  height: 40px;
  margin-top: 34px !important;
  justify-self: right !important;
}

 .deleteButton {
  color: #BF0000;
  border: #BF0000 solid 1px !important;
  min-width: 85px !important;
  height: 40px;
  float: right;
}
 
.returnButton, .actionButton {
  color: #ff9300;
  border: #ff9300 solid 1px !important;
  min-width: 85px !important;
  height: 40px;
  float: right;
}

.saveButton, .newButton {
  background-color: #68a225;
  color: white;
  min-width: 85px !important;
  height: 40px;
  float: right;
}

h4 {
  display: inline-block;
}
h5 {
  display: inline-block;
}
h2 {
  width: calc(100% - 100px);
  display: inline-block;
}

.titleDiv {
  margin-left: 10px;
}

.agGridExpansionPanel {
  // box-sizing: inherit !important;
  margin-bottom: 15px !important;
}

.agGridExpansionPanelTitle {
  background-color: #ffe9cc !important;
  font-weight: bold;
}

.appDataGridDiv {
  height: calc(100% - 190px);
  margin: 50px;
}

// .re-size-vertically{
//   resize: vertical;
//   overflow: hidden;
// }

.appDialogDataGridDiv {
  height: calc(100% - 80px);
}
.appDataGridEditDiv {
  height: 200px;
  margin: 20px 0px 60px 0px;
}

.divider {
  height: 3px;
  background: #ddd;
  width: calc(100% - 20px);
  display: block;
  margin-bottom: 15px;
}

.formDiv .divider {
  width: calc(100%);
}

.mat-app-background,
.mat-drawer-container {
  background: white !important;
}



.basic-container {
  padding: 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.login-container {
  padding: 0px;
  margin: 50px auto;
  width: 500px;
}


.gridDialogs{
  width: calc(100vw - 15%) !important;
  height: calc(100vh - 15%) !important;
}





.mat-stroked-button,
.mat-flat-button {
  padding: 0 10px !important;
  margin-right: 10px !important;
}

// .mat-icon{
//     margin-right:5px;
// }

.mat-table {
  width: calc(100% - 20px);
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow: auto;
}

.flexDiv {
  display: flex;
  align-items: center;
}

.flexDiv .mat-form-field {
  margin-left: auto;
}


.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.4em 0 0.4em 0 !important;
  top: -0.25em;
}

.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: translateY(0%) !important;
}

.mat-form-field .mat-form-field-suffix {
  top: 2px !important;
  right: -5px;
}

.mat-form-field .mat-form-field-suffix .search {
  top: -2px !important;
  right: 0px;
}

.mat-form-field .mat-form-field-suffix .edit {
  top: -3px !important;
  right: 0px;
}

.formDiv {
  margin-left: 10px;
  margin-right: 20px;
}

.tableDiv {
  margin-left: 10px;
  padding-right: 20px;
}

.tableDiv .mat-expansion-panel-header.mat-expanded {
  height: 50px;
}

.formLabel {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  padding-left: 5px;
  width: 100%;
}

.translateDialogs{
  width: calc(100vw - 45%) !important;
  height: calc(100vh - 40%) !important;
}

.formLabelDialog {
  display: flex;
  font-weight: 500;
  margin-right: 5px;
  margin-top: 7px;
  padding-left: 5px;
  width: 20%;
}

.formLabel1Line {
  display: inline-block;
  font-weight: 500;
  margin-right: 5px;
  padding-left: 5px;
}

.mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0 6px 0 15px !important;
}

.mat-list-item .list-text {
  margin-right: auto;
}

.formLabel span {
  color: gray;
  font-weight: normal;
}

.singleColFormDiv {
  display: inline-block;
  width: 100%;
}

.chipLimit{
  max-height:70px;
  overflow-y: scroll;
}

.colFormDiv{
  display: inline-block;
  width: 47.5%;
  margin-right: 5%;
}

.colFormDivTwoSelectors{
  display: inline-block;
  width: 45%;
  margin-right: 5%;
}


.colFormDivBtn {
  margin-left: -40px;
}

.ShortColFormDiv {
  display: inline-block;
  width: 15%;
  margin-right: 3%;
}

.MidColFormDiv {
  display: inline-block;
  width: 27%;
  margin-right: 3%;
}

.MidLargeColFormDiv {
  display: inline-block;
  width: 47%;
  margin-right: 3%;
}

.HalfMidLargeColFormDiv {
  display: inline-block;
  width: 22%;
  margin-right: 3%;
}

.LargeColFormDiv {
  display: inline-block;
  width: 72%;
  margin-right: 3%;
}

.oneLargeColFormDiv{
  display: inline-block;
  width: 100%;
  margin-right: 5%;

}

.longCol {
  display: inline-block;
  width: 75%;
}

.shortCol {
  display: inline-block;
  width: 20%;
  margin-right: 5%;
}

.middleCol {
  display: inline-block;
  width: 50%;
}

.rowFormDiv {
    width: 100%;
    margin: 10px 0px;
    display: flex;
  }


.mat-chip-list-wrapper .mat-standard-chip {
  margin: 2px !important;
  font-size: 13px;
}

.mat-standard-chip.mat-chip-with-trailing-icon {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
  padding-right: 8px !important;
  padding-left: 12px !important;
}

.mat-standard-chip {
  min-height: unset !important;
}

.routerTitle > h6 {
  display: inline-block;
}

.routerTitle {
  display: block;
  margin-bottom: -30px;
  margin-top: -20px;
}

.routerTitle a {
  color: #bf0000 !important;
}

.title-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.title-row h2 {
  flex-grow: 1;
  width: unset;
}

.mat-header-cell,
.mat-header-cell .mat-sort-header-button {
  text-transform: capitalize;
}

.tabForm .bgColor {
  padding: 0;
}

.mat-tab-body.mat-tab-body-active {
  animation: fade 0.5s;
}

.mat-tab-body {
  padding-top: 20px;
}

.mat-tab-body-content {
  display: flex;
  overflow: hidden !important;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.mat-tab-label-active {
  box-shadow: inset 0px -4px 0px 0px #bf0000;
  opacity: 1 !important;
}

.mat-tab-label-active .mat-tab-label-content {
  font-weight: 700;
}

.mat-ink-bar {
  height: 0px !important;
}

.mat-tab-label {
  font-size: 16px !important;
}


.mat-datepicker-toggle {
  color: #bf0000 !important;
}


.sample-wrapper {
  width: inherit;
  position: relative;
  height: 100%;
  margin: 0 auto;
  background: transparent;
}

.sample-content {
  display: flex;
  flex-grow: 1;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -moz-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.sample-column {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 25%;
  align-content: flex-start;
  margin: 16px;
  min-width: 280px;
}

.sample-title {
  color: #0375be;
  margin-bottom: 12px;
  margin-top: 12px;
}

.sample-title .light {
  font-weight: 400;
}

.sample-description {
  font-size: 14px;
  font-weight: normal;
  color: #717171;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #fdf8f0;
  }
  100% {
    background: #f6e7ec;
  }
}

@keyframes color-change-2x {
  0% {
    background: #fdf8f0;
  }
  100% {
    background: #f6e7ec;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.headerAlignSyle {
  text-align: right !important;
}

.sample-wrapper {
  overflow-y: auto;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stay__info > span {
  color: #0494f7;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.046875rem;
  text-transform: uppercase;
  line-height: 1rem;
  text-align: center;
}

.align-right {
  text-align: right;
}

//select styles
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #bf0000 !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #bf0000 !important;
}

.btnActive {
  color: #bf0000 !important;
  font-weight: bold !important;
}

.error-snackbar {
  background-color: #bf0000;
}

//Dialogs
.dialog h1 {
  font-size: 18px;
  display: flex;
  width: 100%;
  border-bottom: 2px solid #ddd;
  font-weight: 700;
  margin: 0 0 10px;
  align-items: center;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dialog h1 mat-icon {
  margin-left: 20px;
}

.dialog h1 mat-icon.loading {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}

.dialog div.mat-dialog-actions {
  justify-content: flex-end;
}

.dialog div.mat-dialog-content {
  padding: 24px;
  margin: 0;
}
//CUSTOM SCROLLBAR
::-webkit-scrollbar-track {
  padding: 2px 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;

}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #737272;
}
.ag-header {
  background-color: #f5f5f5 !important;
  font-weight: bold !important;
  font-size: 14px !important;
}
.requiredInput::after{
  content: "*";
  color: #BF0000;
  font-weight: bold;
}
.stable::before{
  font-family: 'Material Icons';
  content: 'fiber_manual_record';
  color: #68A225;
}

.pendingModify::before,.pendingCreation::before,.pendingRegistration:before{
  font-family: 'Material Icons';
  content: 'fiber_manual_record';
  color: #ff9300;
}

.unregisteredLayer:before{
  font-family: 'Material Icons';
  content: 'fiber_manual_record';
  color: #ffe100;
}

.pendingDelete:before,.notAvailable::before{
  font-family: 'Material Icons';
  content: 'fiber_manual_record';
  color: #bf0000;
}

// .notAvailable::before,.pendingRegistration:before{
//   font-family: 'Material Icons';
//   content: 'fiber_manual_record';
//   color: #0165f1;
// }

@media print {
  app-toolbar,
  mat-sidenav,
  .mat-drawer-backdrop,
  app-loading,
  app-breadcrumbs,
  .sidenav-container .mat-icon-button,
  .sidenav-container .mat-flat-button,
  .sidenav-container .paginator,
  [no-print] {
    display: none !important;
  }

  .sidenav-container {
    position: absolute !important;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    margin-left: unset !important;
    padding-left: unset !important;
  }

  .sidenav-content {
    padding-left: unset !important;
    margin-left: unset !important;
  }
}

.iconTranslate{
  cursor: pointer;
}
