<div class="titleDiv" >
    <h4><mat-icon aria-hidden="false"  svgIcon="menu_connexio"></mat-icon> {{ "tasksThematicEntity.tasksThematic" | translate }}-{{(taskThematicID==-1?"new":"edit") | translate}}</h4>
    <span class="divider"></span>
  </div>
  
  <div class="formDiv">
    <form [formGroup]='formTasksThematic' #f="ngForm" (ngSubmit)="onSaveButtonClicked()"> 
    <div class="formHeader">
      <h5> {{'tasksThematicEntity.generalData' | translate}} </h5>
      <button   mat-flat-button class="saveButton"  >
        <mat-icon fontSet="material-icons-round"  > save </mat-icon>
        {{ "save" | translate }}
      </button>
      <button (click)="utils.navigateBack()"  mat-flat-button class="returnButton"  >
        <mat-icon fontSet="material-icons-round"> arrow_back </mat-icon>
        {{ "return" | translate }}
      </button>
    </div>
    <span class="divider"></span>
  
        <div class="rowFormDiv">

            <div class="MidColFormDiv">
                <label class="formLabel">
                  {{'tasksThematicEntity.name' | translate}}
                </label>
                <mat-form-field appearance="outline">
                  <input matInput type="text" formControlName="name">
                </mat-form-field>
              </div>

            <div class="MidColFormDiv">
                <label class="formLabel">
                  {{'tasksThematicEntity.description' | translate}}
                </label>
                <mat-form-field appearance="outline">
                  <input matInput type="text" formControlName="description">
                </mat-form-field>
            </div>
        </div>
  



    </form>

</div>


<div class="tableDiv" *ngIf="dataLoaded">
  <mat-accordion multi>

      <!-- Roles table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "tasksThematicEntity.roles" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>  
        <div class="appDataGridEditDiv">
          <app-data-grid [changeHeightButton]="true" [columnDefs]="columnDefsRoles" [themeGrid]='themeGrid' [getAll]='getAllRoles'
            [discardChangesButton]=true [redoButton]=true [undoButton]=true [deleteButton]=true [addButton]=true
            [hideDuplicateButton]=true [eventAddItemsSubscription]='addElementsEventRoles.asObservable()'
            [eventGetAllRowsSubscription]='getAllElementsEventRoles.asObservable()'
            [eventRefreshSubscription]='dataUpdatedEventRoles.asObservable()' [actionButton]=true
            (getAllRows)="getAllRowsRoles($event)" (add)="openRolesDialog($event)"> </app-data-grid>
        </div>
      </ng-template>
    </mat-expansion-panel>

       <!-- Territory table -->     
       <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
        <mat-expansion-panel-header class="agGridExpansionPanelTitle">
          <mat-panel-title  >
            {{ "tasksThematicEntity.territories" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
    
      <ng-template matExpansionPanelContent>  
        <div class="appDataGridEditDiv">
          <app-data-grid [changeHeightButton]="true" [columnDefs]="columnDefsTerritories" [themeGrid]='themeGrid' [getAll]='getAllTerritories'
            [eventAddItemsSubscription]='addElementsEventTerritories.asObservable()'
            [eventGetAllRowsSubscription]='getAllElementsEventTerritories.asObservable()'
            [eventRefreshSubscription]='dataUpdatedEventTerritories.asObservable()' [discardChangesButton]=true
            [redoButton]=true [undoButton]=true [deleteButton]=true [addButton]=true [hideDuplicateButton]=true
            (getAllRows)="getAllRowsTerritories($event)" [actionButton]=true (add)="openTerritoriesDialog($event)">
          </app-data-grid>
        </div>
      </ng-template>

    </mat-expansion-panel>


  </mat-accordion>
  