
<div class="titleDiv">
    <h4><mat-icon aria-hidden="false"  svgIcon="menu_aplicacio"></mat-icon> {{ "applicationEntity.application" | translate }}</h4>
    <span class="divider"></span>
</div>
<div class="appDataGridDiv">
    <app-data-grid [columnDefs]="columnDefs" [themeGrid]='themeGrid'  [getAll]='getAllApplications' [globalSearch]=true [frameworkComponents]="frameworkComponents"
    [eventRefreshSubscription]='dataUpdatedEvent.asObservable()' [discardChangesButton]=true [redoButton]=true [undoButton]=true [applyChangesButton]=true  [deleteButton]=true [newButton]=true 
    (remove)="removeData($event)" (new)='newData($event)' (sendChanges)='applyChanges($event)' (duplicate)='add($event)'> </app-data-grid>
</div>

<!--
ag-theme-balham
ag-theme-balham-dark
ag-theme-dark
ag-theme-blue
ag-theme-bootstrap
ag-theme-fresh
ag-theme-material -->