<div class="titleDiv">
  <h4>
    <mat-icon aria-hidden="false" svgIcon="menu_territori"></mat-icon> {{ "territoryEntity.territory" | translate
    }}-{{(territoryID==-1?"new":"edit") | translate}}
  </h4>
  <span class="divider"></span>
</div>


<div class="formDiv">
  <form [formGroup]='territoryForm' #f="ngForm" (ngSubmit)="onSaveButtonClicked()">
    <div class="formHeader">
      <h5> {{'taskGroupEntity.generalData' | translate}} </h5>
      <button mat-flat-button class="saveButton">
        <mat-icon fontSet="material-icons-round"> save </mat-icon>
        {{ "save" | translate }}
      </button>
      <button type="button" (click)="utils.navigateBack()" mat-flat-button class="returnButton">
        <mat-icon fontSet="material-icons-round"> arrow_back </mat-icon>
        {{ "return" | translate }}
      </button>
    </div>
    <span class="divider"></span>

    <div class="rowFormDiv">
      <div class="HalfMidLargeColFormDiv">
        <label class="formLabel requiredInput">
          {{'territoryEntity.code' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="code" maxlength="10" required>
        </mat-form-field>
      </div>

      <div class="HalfMidLargeColFormDiv">
        <label class="formLabel requiredInput">
          {{'territoryEntity.name' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="name">
        </mat-form-field>
      </div>

      <div class="colFormDiv">
        <label class="formLabel">
          {{'territoryEntity.address' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="territorialAuthorityAddress">
        </mat-form-field>
      </div>

    </div>
    <div class="rowFormDiv">
      <div class="HalfMidLargeColFormDiv">
        <label class="formLabel">
          {{'territoryEntity.logo' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="territorialAuthorityLogo">
        </mat-form-field>
      </div>

      <div class="HalfMidLargeColFormDiv">
        <label class="formLabel">
          {{'territoryEntity.scope' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <mat-select matInput formControlName="scope" class="form-control">
            <mat-option [value]="scope.value" *ngFor="let scope of scopeTypes">
              {{scope.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <div class="HalfMidLargeColFormDiv">
        <label class="formLabel">
          {{'territoryEntity.groupType' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <mat-select matInput formControlName="groupType" class="form-control">
            <mat-option [value]="territoryGroup.id" *ngFor="let territoryGroup of territoryGroups">
              {{territoryGroup.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <div class="rowFormDiv">
      <div class="HalfMidLargeColFormDiv">
        <label class="formLabel">
          {{'territoryEntity.extent' | translate}} X0
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="number" formControlName="extensionX0">
        </mat-form-field>
      </div>

      <div class="HalfMidLargeColFormDiv">
        <label class="formLabel">
          {{'territoryEntity.extent' | translate}} X1
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="number" formControlName="extensionX1">
        </mat-form-field>
      </div>

      <div class="HalfMidLargeColFormDiv">
        <label class="formLabel">
          {{'territoryEntity.extent' | translate}} Y0
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="number" formControlName="extensionY0">
        </mat-form-field>
      </div>

      <div class="HalfMidLargeColFormDiv" id="right-column">
        <label class="formLabel">
          {{'territoryEntity.extent' | translate}} Y1
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="number" formControlName="extensionY1">
        </mat-form-field>
      </div>
    </div>

    <div class="rowFormDiv">

      <div class="colFormDiv">
        <label class="formLabel">
          {{'territoryEntity.note' | translate}}
        </label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="note">
        </mat-form-field>
      </div>

      <div class="MidColFormDiv">
        <label class="formLabel" id="right-column">
          {{'territoryEntity.blocked' | translate}}
        </label>
        <mat-checkbox formControlName="blocked"> </mat-checkbox>
      </div>

    </div>


  </form>
</div>
<div class="tableDiv" *ngIf="dataLoaded">
  <mat-accordion multi>

    <!-- Permits table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title>
          {{ "territoryEntity.permissions" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="appDataGridEditDiv">
          <app-data-grid [columnDefs]="columnDefsPermits" [themeGrid]='themeGrid' [getAll]='getAllPermits'
            [discardChangesButton]=true [redoButton]=true [undoButton]=true [hideDuplicateButton]=true
            [eventRefreshSubscription]='dataUpdatedEvent.asObservable()'
            [eventGetAllRowsSubscription]='getAllElementsEventPermits.asObservable()'
            [eventRefreshSubscription]='dataUpdatedEventPermits.asObservable()'
            [eventAddItemsSubscription]='addElementsEventPermits.asObservable()' (add)="openPermitsDialog($event)"
            [deleteButton]=true [addButton]=true [actionButton]=true (getAllRows)="getAllRowsPermits($event)">
          </app-data-grid>
        </div>
      </ng-template>
    </mat-expansion-panel>

    <!-- Permits children table -->
    <div *ngIf="territoryForm.value.scope =='R' ">
      <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
        <mat-expansion-panel-header class="agGridExpansionPanelTitle">
          <mat-panel-title>
            {{ "territoryEntity.permissionsChildren" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <div class="appDataGridEditDiv">
            <app-data-grid [columnDefs]="columnDefsPermitsChild" [themeGrid]='themeGrid' [getAll]='getAllPermitsChild'
              [discardChangesButton]=true [redoButton]=true [undoButton]=true [hideDuplicateButton]=true
              [eventRefreshSubscription]='dataUpdatedEvent.asObservable()'
              [eventGetAllRowsSubscription]='getAllElementsEventPermits.asObservable()'
              [eventRefreshSubscription]='dataUpdatedEventPermits.asObservable()'
              [eventAddItemsSubscription]='addElementsEventPermits.asObservable()' (add)="openPermitsDialog($event)"
              [deleteButton]=true [addButton]=true [actionButton]=true (getAllRows)="getAllRowsPermits($event)">
            </app-data-grid>
          </div>
        </ng-template>
      </mat-expansion-panel>
    </div>
    <!-- MemberOf table -->
    <div *ngIf="territoryForm.value.scope =='M' ">
      <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
        <mat-expansion-panel-header class="agGridExpansionPanelTitle">
          <mat-panel-title>
            {{ "territoryEntity.memberOfTerritories" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <div class="appDataGridEditDiv">
            <app-data-grid [columnDefs]="columnDefsMemberOf" [themeGrid]='themeGrid' [getAll]='getAllMembersOf'
              [discardChangesButton]=true [redoButton]=true [hideDuplicateButton]=true
              [eventAddItemsSubscription]='addElementsEventTerritoriesMemberOf.asObservable()'
              [eventGetAllRowsSubscription]='getAllElementsEventTerritoriesMemberOf.asObservable()'
              [eventRefreshSubscription]='dataUpdatedEventMemberOf.asObservable()' [undoButton]=true [deleteButton]=true
              [addButton]=true [actionButton]=true (getAllRows)="getAllRowsMembersOf($event)"
              (add)="openTerritoryMemberOfDialog($event)">
            </app-data-grid>
          </div>

        </ng-template>
      </mat-expansion-panel>
    </div>

    <!-- Members table -->
    <div *ngIf="territoryForm.value.scope =='R' ">

      <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
        <mat-expansion-panel-header class="agGridExpansionPanelTitle">
          <mat-panel-title>
            {{ "territoryEntity.members" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <div class="appDataGridEditDiv">
            <app-data-grid [columnDefs]="columnDefsMembers" [themeGrid]='themeGrid' [getAll]='getAllMembers'
              [discardChangesButton]=true [redoButton]=true [hideDuplicateButton]=true
              [eventAddItemsSubscription]='addElementsEventTerritoriesMembers.asObservable()'
              [eventGetAllRowsSubscription]='getAllElementsEventTerritoriesMembers.asObservable()'
              [eventRefreshSubscription]='dataUpdatedEventMembers.asObservable()' [undoButton]=true [deleteButton]=true
              [addButton]=true [actionButton]=true (getAllRows)="getAllRowsMembers($event)"
              (add)="openTerritoryMembersDialog($event)">
            </app-data-grid>
          </div>
        </ng-template>

      </mat-expansion-panel>
    </div>

    <!-- Cartography table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title>
          {{ "territoryEntity.cartography" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="appDataGridEditDiv">
          <app-data-grid [columnDefs]="columnDefsCartographies" [themeGrid]='themeGrid' [getAll]='getAllCartographies'
            [discardChangesButton]=true [redoButton]=true [undoButton]=true [hideDuplicateButton]=true
            [eventAddItemsSubscription]='addElementsEventCartographies.asObservable()'
            [eventGetAllRowsSubscription]='getAllElementsEventCartographies.asObservable()'
            [eventRefreshSubscription]='dataUpdatedEventCartographies.asObservable()' [deleteButton]=true
            [addButton]=true [actionButton]=true (getAllRows)="getAllRowsCartographies($event)"
            (add)="openCartographyDialog($event)"> </app-data-grid>
        </div>

      </ng-template>
    </mat-expansion-panel>

    <!-- Task table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title>
          {{ "territoryEntity.task" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="appDataGridEditDiv">
          <app-data-grid [columnDefs]="columnDefsTasks" [themeGrid]='themeGrid' [getAll]='getAllTasks'
            [discardChangesButton]=true [redoButton]=true [undoButton]=true [hideDuplicateButton]=true
            [eventAddItemsSubscription]='addElementsEventTasks.asObservable()'
            [eventGetAllRowsSubscription]='getAllElementsEventTasks.asObservable()'
            [eventRefreshSubscription]='dataUpdatedEventTasks.asObservable()' [deleteButton]=true [addButton]=true
            [actionButton]=true (getAllRows)="getAllRowsTasks($event)" (add)="openTasksDialog($event)">
          </app-data-grid>
        </div>

      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>