.rowFormDiv{
    width: 100%;
  }
  .colFormDiv{
    display: inline-block;
    width: 47.5%;
    margin-right: 5%;
  }

  .LastMidLargeColFormDiv{
    display: inline-block;
    width: 47%;
    margin-right: 3%;
}

  mat-form-field {
    width: 100%;
}
#right-column {
  margin-right: 3%;
}

.form-control-feedback{
    color: red;
  }


   

 