<div class="template-editor-mode-switch">
  <button type="button" class="mode-button" [class.mode-button--active]="editorMode === 'visual'" (click)="setEditorMode('visual')">Visual</button>
  <button type="button" class="mode-button" [class.mode-button--active]="editorMode === 'html'" (click)="setEditorMode('html')">HTML</button>
</div>

<div #visualSurface class="template-editor-visual-surface" [class.template-editor-visual-surface--hidden]="editorMode !== 'visual'">
  <div #editorHost class="template-editor-host" tabindex="0" (click)="onEditorHostClick($event)" (keydown)="onEditorHostKeydown($event)"></div>

  <div
    *ngIf="resizeOverlay as overlay"
    class="visual-resize-overlay"
    [style.top.px]="overlay.top"
    [style.left.px]="overlay.left"
    [style.width.px]="overlay.width"
    [style.height.px]="overlay.height">
    <button
      type="button"
      class="visual-resize-overlay__handle visual-resize-overlay__handle--bottom-right"
      (mousedown)="startVisualResize($event)"></button>
  </div>
</div>

<textarea
  #htmlEditor
  *ngIf="editorMode === 'html'"
  class="template-editor-source"
  [value]="htmlSource"
  (input)="onHtmlSourceChanged($any($event.target).value)"></textarea>
