<div class="titleDiv" >
    <h4><mat-icon aria-hidden="false"  svgIcon="menu_connexio"></mat-icon> {{ "tasksDocumentEntity.tasksDocument" | translate }}-{{(taskDocumentID==-1?"new":"edit") | translate}}</h4>
    <span class="divider"></span>
  </div>
  
  <div class="formDiv">
    <div class="formHeader">
      <h5> {{'tasksDocumentEntity.generalData' | translate}} </h5>
      <button   mat-flat-button class="saveButton"  >
        <mat-icon fontSet="material-icons-round"  > save </mat-icon>
        {{ "save" | translate }}
      </button>
    </div>
    <span class="divider"></span>
    <form [formGroup]='formTasksDocument' #f="ngForm"> 
  
        <div class="rowFormDiv">
            <div class="colFormDiv">
              <label class="formLabel requiredInput">
                {{'tasksDocumentEntity.task' | translate}}
              </label>
              <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="task" required>
              </mat-form-field>
            </div>
  
            <div class="colFormDiv" > 
              <label class="formLabel requiredInput">
                {{'tasksDocumentEntity.groupTask' | translate}}
              </label>
              <mat-form-field appearance="outline" >
                <mat-select matInput formControlName="groupTask" class="form-control" >
                  <!-- <mat-option [value]="serviceType.value" *ngFor="let serviceType of serviceTypes">
                    {{ serviceType.description}}
                  </mat-option> -->
                </mat-select>
              </mat-form-field>
            </div>
  
            <div class="colFormDiv" > 
                <label class="formLabel requiredInput">
                  {{'tasksDocumentEntity.documentType' | translate}}
                </label>
                <mat-form-field appearance="outline" >
                  <mat-select matInput formControlName="documentType" class="form-control" >
                    <!-- <mat-option [value]="serviceType.value" *ngFor="let serviceType of serviceTypes">
                      {{ serviceType.description}}
                    </mat-option> -->
                  </mat-select>
                </mat-form-field>
              </div>

            <div class="colFormDiv">
                <label class="formLabel">
                  {{'tasksDocumentEntity.path' | translate}}
                </label>
                <mat-form-field appearance="outline">
                  <input matInput type="text" formControlName="path">
                </mat-form-field>
              </div>
            </div>
  

        <div class="rowFormDiv">
            <div class="singleFormDiv" id="right-column">
                <label class="formLabel">
                  {{'tasksDocumentEntity.extent' | translate}}
                </label>
                <mat-form-field appearance="outline">
                  <input matInput type="text" formControlName="extent">
                </mat-form-field>
            </div>
        </div>


    </form>

</div>


<div class="tableDiv" *ngIf="dataLoaded">
  <mat-accordion *ngIf="taskDocumentID!=-1" multi>

      <!-- Cartography table -->
    <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
      <mat-expansion-panel-header class="agGridExpansionPanelTitle">
        <mat-panel-title  >
          {{ "tasksDocumentEntity.cartography" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>  
        <div class="appDataGridEditDiv">
            <app-data-grid  [columnDefs]="columnDefsCartography" [themeGrid]='themeGrid' [getAll]='getAllCartography' 
            [eventAddItemsSubscription]='addElementsEventCartographies.asObservable()' [eventGetAllRowsSubscription]='getAllElementsEventCartographies.asObservable()' 
             [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [addButton]=true [hideDuplicateButton]=true 
             (getAllRows)="getAllRowsCartographies($event)" [actionButton]=true (add)="openCartographyDialog($event)"  > </app-data-grid>
        </div>
      </ng-template>
    </mat-expansion-panel>

       <!-- Territory table -->     
       <mat-expansion-panel [expanded]="true" class="agGridExpansionPanel">
        <mat-expansion-panel-header class="agGridExpansionPanelTitle">
          <mat-panel-title  >
            {{ "tasksDocumentEntity.territories" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
    
      <ng-template matExpansionPanelContent>  
        <div class="appDataGridEditDiv">
            <app-data-grid [columnDefs]="columnDefsTerritories" [themeGrid]='themeGrid' [getAll]='getAllTerritories'  
            [eventAddItemsSubscription]='addElementsEventTerritories.asObservable()' [eventGetAllRowsSubscription]='getAllElementsEventTerritories.asObservable()' 
             [discardChangesButton]=true [redoButton]=true [undoButton]=true  [deleteButton]=true [addButton]=true [hideDuplicateButton]=true 
             (getAllRows)="getAllRowsTerritories($event)" [actionButton]=true (add)="openTerritoriesDialog($event)" > </app-data-grid>
        </div>
      </ng-template>

    </mat-expansion-panel>


  </mat-accordion>
  